{"openapi":"3.1.0","info":{"title":"dtao-testnet-beta","version":"2.0"},"servers":[{"url":"https://api.taostats.io/"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","name":"Authorization"}}},"security":[{"sec0":[]}],"paths":{"/api/dtao/hotkey_alpha_shares/latest/v1":{"get":{"summary":"Get Validator Alpha Shares","description":"","operationId":"get-validator-alpha-shares","parameters":[{"name":"alpha_min","in":"query","description":"in nanoAlpha","schema":{"type":"string"}},{"name":"alpha_max","in":"query","description":"in nanoAlpha","schema":{"type":"string"}},{"name":"hotkey","in":"query","description":"Validator hotkey","schema":{"type":"string"}},{"name":"netuid","in":"query","description":"subnet","schema":{"type":"integer","format":"int32"}},{"name":"page","in":"query","description":"The page number of the response.","schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","description":"The number of responses. max is 200,","schema":{"type":"integer","format":"int32"}},{"name":"order","in":"query","schema":{"type":"string","enum":["netuid_asc","netuid_desc","shares_asc","shares_desc","alpha_asc","alpha_desc"]}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"pagination\": {\n    \"current_page\": 1,\n    \"per_page\": 50,\n    \"total_items\": 81035,\n    \"total_pages\": 1621,\n    \"next_page\": 2,\n    \"prev_page\": null\n  },\n  \"data\": [\n    {\n      \"block_number\": 5373806,\n      \"timestamp\": \"2025-04-17T21:14:48Z\",\n      \"netuid\": 0,\n      \"hotkey\": {\n        \"ss58\": \"5GKH9FPPnWSUoeeTJp19wVtd84XqFW4pyK2ijV2GsFbhTrP1\",\n        \"hex\": \"0xbc0e6b701243978c1fe73d721c7b157943a713fca9f3c88cad7a9f7799bc6b26\"\n      },\n      \"shares\": \"13890034603543431171280295544634012\",\n      \"alpha\": \"779899024450396\"\n    },\n    {\n      \"block_number\": 5373779,\n      \"timestamp\": \"2025-04-17T21:09:24Z\",\n      \"netuid\": 0,\n      \"hotkey\": {\n        \"ss58\": \"5F4tQyWrhfGVcNhoqeiNsR6KjD4wMZ2kfhLj4oHYuyHbZAc3\",\n        \"hex\": \"0x84d83d08ca89f8e60424ffa286f165c16dd8752e4faa4d8977221e6720678d28\"\n      },\n      \"shares\": \"12057962929024419333497402965041095\",\n      \"alpha\": \"673148269335996\"\n    },\n    {\n      \"block_number\": 5373757,\n      \"timestamp\": \"2025-04-17T21:05:00.001Z\",\n      \"netuid\": 0,\n      \"hotkey\": {\n        \"ss58\": \"5CsvRJXuR955WojnGMdok1hbhffZyB4N5ocrv82f3p5A2zVp\",\n        \"hex\": \"0x2402d2dd859f24ff5305ce12d54e02f3c2cafe6788af4b405bbe0d407695af37\"\n      },\n      \"shares\": \"9608902468580710371638077078985568\",\n      \"alpha\": \"541993914924519\"\n    },\n    {\n      \"block_number\": 5373720,\n      \"timestamp\": \"2025-04-17T20:57:36Z\",\n      \"netuid\": 0,\n      \"hotkey\": {\n        \"ss58\": \"5FxcZraZACr4L78jWkcYe3FHdiwiAUzrKLVtsSwkvFobBKqq\",\n        \"hex\": \"0xac4ba7704623c5beb4950ef97ddea57c9c12b91938c86f28475f8050741ac956\"\n      },\n      \"shares\": \"8411623921141051716158503620624362\",\n      \"alpha\": \"469105165947649\"\n    },\n    {\n      \"block_number\": 5373815,\n      \"timestamp\": \"2025-04-17T21:16:36Z\",\n      \"netuid\": 43,\n      \"hotkey\": {\n        \"ss58\": \"5HjMs5JDrLH3Hknmfm1gDq7nFYAv6M7t9v3EWMctSRXJS9HC\",\n        \"hex\": \"0xfaa86f83e4f3a1c997ebcc87dfd434a95d6a600adf17c2c62e6a17593fd92d67\"\n      },\n      \"shares\": \"7096615382242206866398327684920157\",\n      \"alpha\": \"416888986815818\"\n    },\n    {\n      \"block_number\": 5373720,\n      \"timestamp\": \"2025-04-17T20:57:36Z\",\n      \"netuid\": 0,\n      \"hotkey\": {\n        \"ss58\": \"5DXdHixxtCvoa6GHKs2Jgrdzc61882Ftx1zN2sYFQuwgL1S1\",\n        \"hex\": \"0x40c47b6a294686fe9612b5d78dd369f4c77fa3bbf96a4286ede97410ba2e3209\"\n      },\n      \"shares\": \"7205907983517579197156988468105531\",\n      \"alpha\": \"403853794974007\"\n    },\n    {\n      \"block_number\": 5373813,\n      \"timestamp\": \"2025-04-17T21:16:12Z\",\n      \"netuid\": 0,\n      \"hotkey\": {\n        \"ss58\": \"5FFApaS75bv5pJHfAp2FVLBj9ZaXuFDjEypsaBNc1wCfe52v\",\n        \"hex\": \"0x8cafec513739d2ed72700fe9ef1b4a62c3d0b06ddf6258bb00cbac2cbced5f68\"\n      },\n      \"shares\": \"6445511387823937990749531773914953\",\n      \"alpha\": \"361871412262946\"\n    },\n    {\n      \"block_number\": 5373822,\n      \"timestamp\": \"2025-04-17T21:18:00.001Z\",\n      \"netuid\": 0,\n      \"hotkey\": {\n        \"ss58\": \"5D4gEn5S422dTGR5NJJKZ93FNV6hDmfwDPfxFNgcoVnUkZ4f\",\n        \"hex\": \"0x2c36c8b88903c8507aa3a9a6dcfc016caf5cfd3d8bf755b97e63f8f8b7c56836\"\n      },\n      \"shares\": \"6228958957215667336476857504031273\",\n      \"alpha\": \"351298876191112\"\n    },\n    {\n      \"block_number\": 5373720,\n      \"timestamp\": \"2025-04-17T20:57:36Z\",\n      \"netuid\": 0,\n      \"hotkey\": {\n        \"ss58\": \"5HYk8DMKWK8TJyPzZJ9vmZk7B5NPCgjnZoyZ1ZsB54RXdN47\",\n        \"hex\": \"0xf28fac64d7a3d8bdbf5b6db34de1607d7e8cd2db343d5f2790057f7f3cec0e1e\"\n      },\n      \"shares\": \"5651801985826063766620258742681065\",\n      \"alpha\": \"316272250243063\"\n    },\n    {\n      \"block_number\": 5373720,\n      \"timestamp\": \"2025-04-17T20:57:36Z\",\n      \"netuid\": 0,\n      \"hotkey\": {\n        \"ss58\": \"5Dd8gaRNdhm1YP7G1hcB1N842ecAUQmbLjCRLqH5ycaTGrWv\",\n        \"hex\": \"0x44f7a87e1b1de487eaf9e10413f485855444a46148bfe32cf6b225fdc610a03b\"\n      },\n      \"shares\": \"5504022350364870182267138880227944\",\n      \"alpha\": \"306138862065593\"\n    },\n    {\n      \"block_number\": 5373720,\n      \"timestamp\": \"2025-04-17T20:57:36Z\",\n      \"netuid\": 0,\n      \"hotkey\": {\n        \"ss58\": \"5HK5tp6t2S59DywmHRWPBVJeJ86T61KjurYqeooqj8sREpeN\",\n        \"hex\": \"0xe824c935940357af73c961bdd7387e1ab821ec2939ecd19daafe6081ae9ae674\"\n      },\n      \"shares\": \"4959787135288388816438688261495060\",\n      \"alpha\": \"278624430863426\"\n    },\n    {\n      \"block_number\": 5373463,\n      \"timestamp\": \"2025-04-17T20:06:12.001Z\",\n      \"netuid\": 20,\n      \"hotkey\": {\n        \"ss58\": \"5F2CsUDVbRbVMXTh9fAzF9GacjVX7UapvRxidrxe7z8BYckQ\",\n        \"hex\": \"0x82cca2238d379e49d84e9e1b8df35dd496d6a8b4ca4f511ac9e38fa04d42f86b\"\n      },\n      \"shares\": \"2580377918083688215663754447609130\",\n      \"alpha\": \"260588826319962\"\n    },\n    {\n      \"block_number\": 5373799,\n      \"timestamp\": \"2025-04-17T21:13:24Z\",\n      \"netuid\": 45,\n      \"hotkey\": {\n        \"ss58\": \"5F2CsUDVbRbVMXTh9fAzF9GacjVX7UapvRxidrxe7z8BYckQ\",\n        \"hex\": \"0x82cca2238d379e49d84e9e1b8df35dd496d6a8b4ca4f511ac9e38fa04d42f86b\"\n      },\n      \"shares\": \"10451327567105906506930818836313\",\n      \"alpha\": \"226072494392012\"\n    },\n    {\n      \"block_number\": 5373773,\n      \"timestamp\": \"2025-04-17T21:08:12Z\",\n      \"netuid\": 71,\n      \"hotkey\": {\n        \"ss58\": \"5EM38qBzSMi8NLvmeXT6rLZN6MkWmR1Ju2vWmxjPXmw389aX\",\n        \"hex\": \"0x64ed4a89f247685d8c87a6e5adeebb1ead1561798cb45a952b303de74f0c910b\"\n      },\n      \"shares\": \"120895168037563698027835205009102\",\n      \"alpha\": \"222064954426716\"\n    },\n    {\n      \"block_number\": 5373784,\n      \"timestamp\": \"2025-04-17T21:10:24Z\",\n      \"netuid\": 0,\n      \"hotkey\": {\n        \"ss58\": \"5F2CsUDVbRbVMXTh9fAzF9GacjVX7UapvRxidrxe7z8BYckQ\",\n        \"hex\": \"0x82cca2238d379e49d84e9e1b8df35dd496d6a8b4ca4f511ac9e38fa04d42f86b\"\n      },\n      \"shares\": \"3761436376017854283207915497105973\",\n      \"alpha\": \"211599773380567\"\n    },\n    {\n      \"block_number\": 5373820,\n      \"timestamp\": \"2025-04-17T21:17:36Z\",\n      \"netuid\": 24,\n      \"hotkey\": {\n        \"ss58\": \"5F2CsUDVbRbVMXTh9fAzF9GacjVX7UapvRxidrxe7z8BYckQ\",\n        \"hex\": \"0x82cca2238d379e49d84e9e1b8df35dd496d6a8b4ca4f511ac9e38fa04d42f86b\"\n      },\n      \"shares\": \"7184716153030133229337104598702\",\n      \"alpha\": \"199401050632982\"\n    },\n    {\n      \"block_number\": 5373807,\n      \"timestamp\": \"2025-04-17T21:15:00Z\",\n      \"netuid\": 56,\n      \"hotkey\": {\n        \"ss58\": \"5F2CsUDVbRbVMXTh9fAzF9GacjVX7UapvRxidrxe7z8BYckQ\",\n        \"hex\": \"0x82cca2238d379e49d84e9e1b8df35dd496d6a8b4ca4f511ac9e38fa04d42f86b\"\n      },\n      \"shares\": \"3648273572276997995043664359293\",\n      \"alpha\": \"175327094817404\"\n    },\n    {\n      \"block_number\": 5373813,\n      \"timestamp\": \"2025-04-17T21:16:12Z\",\n      \"netuid\": 31,\n      \"hotkey\": {\n        \"ss58\": \"5F4tQyWrhfGVcNhoqeiNsR6KjD4wMZ2kfhLj4oHYuyHbZAc3\",\n        \"hex\": \"0x84d83d08ca89f8e60424ffa286f165c16dd8752e4faa4d8977221e6720678d28\"\n      },\n      \"shares\": \"98295055168240161772356065951249\",\n      \"alpha\": \"174145971320683\"\n    },\n    {\n      \"block_number\": 5373810,\n      \"timestamp\": \"2025-04-17T21:15:36Z\",\n      \"netuid\": 34,\n      \"hotkey\": {\n        \"ss58\": \"5HjBSeeoz52CLfvDWDkzupqrYLHz1oToDPHjdmJjc4TF68LQ\",\n        \"hex\": \"0xfa855ae0c00667324315f7a72c60361dfe7b749a4935e238413c72d921cc4572\"\n      },\n      \"shares\": \"2619930834776932302340625013718188\",\n      \"alpha\": \"167219421353378\"\n    },\n    {\n      \"block_number\": 5373820,\n      \"timestamp\": \"2025-04-17T21:17:36Z\",\n      \"netuid\": 44,\n      \"hotkey\": {\n        \"ss58\": \"5GKH9FPPnWSUoeeTJp19wVtd84XqFW4pyK2ijV2GsFbhTrP1\",\n        \"hex\": \"0xbc0e6b701243978c1fe73d721c7b157943a713fca9f3c88cad7a9f7799bc6b26\"\n      },\n      \"shares\": \"6413706599361199066005941301103\",\n      \"alpha\": \"165590363821541\"\n    },\n    {\n      \"block_number\": 5373802,\n      \"timestamp\": \"2025-04-17T21:14:00.001Z\",\n      \"netuid\": 42,\n      \"hotkey\": {\n        \"ss58\": \"5EpkwChBsHyoKfBsEeZp58LgeMUByhrvBiNzeC99SaRuCL1V\",\n        \"hex\": \"0x7a11a07169af7f0d31040631e9a7527015ff16f9d8f8ffb2a32a253c741db040\"\n      },\n      \"shares\": \"2644165988503751239985479109915979\",\n      \"alpha\": \"165391474763989\"\n    },\n    {\n      \"block_number\": 5373466,\n      \"timestamp\": \"2025-04-17T20:06:48Z\",\n      \"netuid\": 17,\n      \"hotkey\": {\n        \"ss58\": \"5E4z3h9yVhmQyCFWNbY9BPpwhx4xFiPwq3eeqmBgVF6KULde\",\n        \"hex\": \"0x58aef7b1efb44806fe14c6c58d0c1eb634a59fd2513f0ced6f2d10e0569af40d\"\n      },\n      \"shares\": \"4632327283399417776044568363084\",\n      \"alpha\": \"165249734587056\"\n    },\n    {\n      \"block_number\": 5373816,\n      \"timestamp\": \"2025-04-17T21:16:48Z\",\n      \"netuid\": 8,\n      \"hotkey\": {\n        \"ss58\": \"5FeNwZ5oAqcJMitNqGx71vxGRWJhsdTqxFGVwPRfg8h2UZmo\",\n        \"hex\": \"0x9e635e317258379e0ca7e8f99f9ba5bf79bf3133a4f59dd18a908abb77237031\"\n      },\n      \"shares\": \"2669796418894154266541180263347444\",\n      \"alpha\": \"162460515073337\"\n    },\n    {\n      \"block_number\": 5373771,\n      \"timestamp\": \"2025-04-17T21:07:48.001Z\",\n      \"netuid\": 73,\n      \"hotkey\": {\n        \"ss58\": \"5Dnkprjf9fUrvWq3ZfFP8WrUNSjQws6UoHkbDfR1bQK8pFhW\",\n        \"hex\": \"0x4c4e88c540deff5c4cba972c82bea75867c97722ec627783296fcbea8b2d0c7c\"\n      },\n      \"shares\": \"609831053495850466528486034458821\",\n      \"alpha\": \"160009434743986\"\n    },\n    {\n      \"block_number\": 5373787,\n      \"timestamp\": \"2025-04-17T21:11:00Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5GKH9FPPnWSUoeeTJp19wVtd84XqFW4pyK2ijV2GsFbhTrP1\",\n        \"hex\": \"0xbc0e6b701243978c1fe73d721c7b157943a713fca9f3c88cad7a9f7799bc6b26\"\n      },\n      \"shares\": \"317174462248903627868194343056268\",\n      \"alpha\": \"157470215750007\"\n    },\n    {\n      \"block_number\": 5373480,\n      \"timestamp\": \"2025-04-17T20:09:36Z\",\n      \"netuid\": 3,\n      \"hotkey\": {\n        \"ss58\": \"5HdTZQ6UXD7MWcRsMeExVwqAKKo4UwomUd662HvtXiZXkxmv\",\n        \"hex\": \"0xf62822946955e9c70d08ccc7eb2f3cedd3054cd5712ada28c76e7e5da961b462\"\n      },\n      \"shares\": \"453243553102416364581360571156284\",\n      \"alpha\": \"153954918124479\"\n    },\n    {\n      \"block_number\": 5373812,\n      \"timestamp\": \"2025-04-17T21:16:00Z\",\n      \"netuid\": 32,\n      \"hotkey\": {\n        \"ss58\": \"5CsvRJXuR955WojnGMdok1hbhffZyB4N5ocrv82f3p5A2zVp\",\n        \"hex\": \"0x2402d2dd859f24ff5305ce12d54e02f3c2cafe6788af4b405bbe0d407695af37\"\n      },\n      \"shares\": \"16501596827622572116288971094\",\n      \"alpha\": \"152656546028712\"\n    },\n    {\n      \"block_number\": 5373807,\n      \"timestamp\": \"2025-04-17T21:15:00Z\",\n      \"netuid\": 37,\n      \"hotkey\": {\n        \"ss58\": \"5CsvRJXuR955WojnGMdok1hbhffZyB4N5ocrv82f3p5A2zVp\",\n        \"hex\": \"0x2402d2dd859f24ff5305ce12d54e02f3c2cafe6788af4b405bbe0d407695af37\"\n      },\n      \"shares\": \"40432377126249267566780685004\",\n      \"alpha\": \"150330979064638\"\n    },\n    {\n      \"block_number\": 5373793,\n      \"timestamp\": \"2025-04-17T21:12:12Z\",\n      \"netuid\": 51,\n      \"hotkey\": {\n        \"ss58\": \"5GjkRU5A3T16BQBjVr7TDnREZjLtwr3LVkBc2Ey6nRgoixxD\",\n        \"hex\": \"0xceb8240c679eb1fc6b6b4e2fca113e12d00180b1c6e7e5feb7b2acbc5e9b1e1e\"\n      },\n      \"shares\": \"2528502434142466818251275845142510\",\n      \"alpha\": \"148427270408019\"\n    },\n    {\n      \"block_number\": 5373779,\n      \"timestamp\": \"2025-04-17T21:09:24Z\",\n      \"netuid\": 65,\n      \"hotkey\": {\n        \"ss58\": \"5FFApaS75bv5pJHfAp2FVLBj9ZaXuFDjEypsaBNc1wCfe52v\",\n        \"hex\": \"0x8cafec513739d2ed72700fe9ef1b4a62c3d0b06ddf6258bb00cbac2cbced5f68\"\n      },\n      \"shares\": \"11007507073298827572681961667832\",\n      \"alpha\": \"142062947711163\"\n    },\n    {\n      \"block_number\": 5373822,\n      \"timestamp\": \"2025-04-17T21:18:00.001Z\",\n      \"netuid\": 22,\n      \"hotkey\": {\n        \"ss58\": \"5DZTtjwKqpNY8W42x2f6hhGhYXaChD4dANMyEcCpwE3RhEc4\",\n        \"hex\": \"0x422b579e27a4f4346965c7eab46a947ea0e5ac6ca7c5394f5defbabcdd75841b\"\n      },\n      \"shares\": \"148801692633640719429286745\",\n      \"alpha\": \"140394549989452\"\n    },\n    {\n      \"block_number\": 5373806,\n      \"timestamp\": \"2025-04-17T21:14:48Z\",\n      \"netuid\": 38,\n      \"hotkey\": {\n        \"ss58\": \"5DM7CPqPKtMSADhFKYsstsCS4Tm4Kd6PMXoh6DdqY4MtxmtX\",\n        \"hex\": \"0x38bebacdaaf2648eb65bc692d7ed483a54208c6d4c5ff32ecf713d133baa8011\"\n      },\n      \"shares\": \"3559262840235419585154194457935\",\n      \"alpha\": \"140011991623021\"\n    },\n    {\n      \"block_number\": 5373720,\n      \"timestamp\": \"2025-04-17T20:57:36Z\",\n      \"netuid\": 0,\n      \"hotkey\": {\n        \"ss58\": \"5GP7c3fFazW9GXK8Up3qgu2DJBk8inu4aK9TZy3RuoSWVCMi\",\n        \"hex\": \"0xbefb4b2b719c0dc08273b9293fa8166180fe3c0e6e0fc9f4cb224f429dc8163c\"\n      },\n      \"shares\": \"2480049066407847872607437542559422\",\n      \"alpha\": \"138879192546113\"\n    },\n    {\n      \"block_number\": 5373462,\n      \"timestamp\": \"2025-04-17T20:06:00Z\",\n      \"netuid\": 21,\n      \"hotkey\": {\n        \"ss58\": \"5F2CsUDVbRbVMXTh9fAzF9GacjVX7UapvRxidrxe7z8BYckQ\",\n        \"hex\": \"0x82cca2238d379e49d84e9e1b8df35dd496d6a8b4ca4f511ac9e38fa04d42f86b\"\n      },\n      \"shares\": \"51542058197976960810257345797333\",\n      \"alpha\": \"138127884596505\"\n    },\n    {\n      \"block_number\": 5373539,\n      \"timestamp\": \"2025-04-17T20:21:24Z\",\n      \"netuid\": 9,\n      \"hotkey\": {\n        \"ss58\": \"5CsvRJXuR955WojnGMdok1hbhffZyB4N5ocrv82f3p5A2zVp\",\n        \"hex\": \"0x2402d2dd859f24ff5305ce12d54e02f3c2cafe6788af4b405bbe0d407695af37\"\n      },\n      \"shares\": \"60369374113235937395242335283975\",\n      \"alpha\": \"135906291479592\"\n    },\n    {\n      \"block_number\": 5373803,\n      \"timestamp\": \"2025-04-17T21:14:12Z\",\n      \"netuid\": 41,\n      \"hotkey\": {\n        \"ss58\": \"5CsvRJXuR955WojnGMdok1hbhffZyB4N5ocrv82f3p5A2zVp\",\n        \"hex\": \"0x2402d2dd859f24ff5305ce12d54e02f3c2cafe6788af4b405bbe0d407695af37\"\n      },\n      \"shares\": \"574270517056811298289976111577\",\n      \"alpha\": \"133433123983225\"\n    },\n    {\n      \"block_number\": 5373638,\n      \"timestamp\": \"2025-04-17T20:41:12.001Z\",\n      \"netuid\": 13,\n      \"hotkey\": {\n        \"ss58\": \"5DM7CPqPKtMSADhFKYsstsCS4Tm4Kd6PMXoh6DdqY4MtxmtX\",\n        \"hex\": \"0x38bebacdaaf2648eb65bc692d7ed483a54208c6d4c5ff32ecf713d133baa8011\"\n      },\n      \"shares\": \"4848501174839525890171894185565\",\n      \"alpha\": \"132541759078906\"\n    },\n    {\n      \"block_number\": 5373500,\n      \"timestamp\": \"2025-04-17T20:13:36.001Z\",\n      \"netuid\": 6,\n      \"hotkey\": {\n        \"ss58\": \"5GKH9FPPnWSUoeeTJp19wVtd84XqFW4pyK2ijV2GsFbhTrP1\",\n        \"hex\": \"0xbc0e6b701243978c1fe73d721c7b157943a713fca9f3c88cad7a9f7799bc6b26\"\n      },\n      \"shares\": \"28199896777998423261814504108790\",\n      \"alpha\": \"130182588700056\"\n    },\n    {\n      \"block_number\": 5373772,\n      \"timestamp\": \"2025-04-17T21:08:00.001Z\",\n      \"netuid\": 72,\n      \"hotkey\": {\n        \"ss58\": \"5DXdHixxtCvoa6GHKs2Jgrdzc61882Ftx1zN2sYFQuwgL1S1\",\n        \"hex\": \"0x40c47b6a294686fe9612b5d78dd369f4c77fa3bbf96a4286ede97410ba2e3209\"\n      },\n      \"shares\": \"912664200823534636226475239698465\",\n      \"alpha\": \"130043551488099\"\n    },\n    {\n      \"block_number\": 5373821,\n      \"timestamp\": \"2025-04-17T21:17:48Z\",\n      \"netuid\": 23,\n      \"hotkey\": {\n        \"ss58\": \"5HN1QZq7MyGnutpToCZGdiabP3D339kBjKXfjb1YFaHacdta\",\n        \"hex\": \"0xea5f6ae779b99cd4cc10bf2df05752235296dee4faa9c242548e8b36cceadc2c\"\n      },\n      \"shares\": \"1946749106633381927325447506406853\",\n      \"alpha\": \"127476831695248\"\n    },\n    {\n      \"block_number\": 5373808,\n      \"timestamp\": \"2025-04-17T21:15:12Z\",\n      \"netuid\": 38,\n      \"hotkey\": {\n        \"ss58\": \"5GKH9FPPnWSUoeeTJp19wVtd84XqFW4pyK2ijV2GsFbhTrP1\",\n        \"hex\": \"0xbc0e6b701243978c1fe73d721c7b157943a713fca9f3c88cad7a9f7799bc6b26\"\n      },\n      \"shares\": \"49159255710750170725157834792424\",\n      \"alpha\": \"127078315944979\"\n    },\n    {\n      \"block_number\": 5373815,\n      \"timestamp\": \"2025-04-17T21:16:36Z\",\n      \"netuid\": 64,\n      \"hotkey\": {\n        \"ss58\": \"5GKH9FPPnWSUoeeTJp19wVtd84XqFW4pyK2ijV2GsFbhTrP1\",\n        \"hex\": \"0xbc0e6b701243978c1fe73d721c7b157943a713fca9f3c88cad7a9f7799bc6b26\"\n      },\n      \"shares\": \"64886051310464705485654111253936\",\n      \"alpha\": \"123750080016153\"\n    },\n    {\n      \"block_number\": 5373789,\n      \"timestamp\": \"2025-04-17T21:11:24Z\",\n      \"netuid\": 55,\n      \"hotkey\": {\n        \"ss58\": \"5DXdHixxtCvoa6GHKs2Jgrdzc61882Ftx1zN2sYFQuwgL1S1\",\n        \"hex\": \"0x40c47b6a294686fe9612b5d78dd369f4c77fa3bbf96a4286ede97410ba2e3209\"\n      },\n      \"shares\": \"516995126726868029583168913716\",\n      \"alpha\": \"121013260453311\"\n    },\n    {\n      \"block_number\": 5373807,\n      \"timestamp\": \"2025-04-17T21:15:00Z\",\n      \"netuid\": 56,\n      \"hotkey\": {\n        \"ss58\": \"5GKH9FPPnWSUoeeTJp19wVtd84XqFW4pyK2ijV2GsFbhTrP1\",\n        \"hex\": \"0xbc0e6b701243978c1fe73d721c7b157943a713fca9f3c88cad7a9f7799bc6b26\"\n      },\n      \"shares\": \"40716290559406379192791715058735\",\n      \"alpha\": \"120030017311007\"\n    },\n    {\n      \"block_number\": 5373815,\n      \"timestamp\": \"2025-04-17T21:16:36Z\",\n      \"netuid\": 29,\n      \"hotkey\": {\n        \"ss58\": \"5HmmmmhaoDbmt4KcYmAXETvfGBwFmcNgVCYSBH5JZRv6wrFf\",\n        \"hex\": \"0xfc7f68e942fbf83c172b38e26ac733aa85d1e7259f1b6d8dc5ba8222baf76778\"\n      },\n      \"shares\": \"1976525841902525217603618860470065\",\n      \"alpha\": \"119348573369440\"\n    },\n    {\n      \"block_number\": 5373819,\n      \"timestamp\": \"2025-04-17T21:17:24Z\",\n      \"netuid\": 25,\n      \"hotkey\": {\n        \"ss58\": \"5DM7CPqPKtMSADhFKYsstsCS4Tm4Kd6PMXoh6DdqY4MtxmtX\",\n        \"hex\": \"0x38bebacdaaf2648eb65bc692d7ed483a54208c6d4c5ff32ecf713d133baa8011\"\n      },\n      \"shares\": \"3766080366351936856545120135043\",\n      \"alpha\": \"119293449230794\"\n    },\n    {\n      \"block_number\": 5373468,\n      \"timestamp\": \"2025-04-17T20:07:12Z\",\n      \"netuid\": 15,\n      \"hotkey\": {\n        \"ss58\": \"5HYmupAroSS4AxCjeHwEE2bhd6UucW9rxkrksG6zUFeJjNyC\",\n        \"hex\": \"0xf295afb418afe6d33e2bbf78f873e18b09c4dd8d3db109df4c0e69f960aaf127\"\n      },\n      \"shares\": \"2158150412878059061195726288584704\",\n      \"alpha\": \"116993568309644\"\n    },\n    {\n      \"block_number\": 5373787,\n      \"timestamp\": \"2025-04-17T21:11:00Z\",\n      \"netuid\": 57,\n      \"hotkey\": {\n        \"ss58\": \"5F4tQyWrhfGVcNhoqeiNsR6KjD4wMZ2kfhLj4oHYuyHbZAc3\",\n        \"hex\": \"0x84d83d08ca89f8e60424ffa286f165c16dd8752e4faa4d8977221e6720678d28\"\n      },\n      \"shares\": \"136067999038969567548903605159810\",\n      \"alpha\": \"116634861258824\"\n    },\n    {\n      \"block_number\": 5373595,\n      \"timestamp\": \"2025-04-17T20:32:36.001Z\",\n      \"netuid\": 4,\n      \"hotkey\": {\n        \"ss58\": \"5FFApaS75bv5pJHfAp2FVLBj9ZaXuFDjEypsaBNc1wCfe52v\",\n        \"hex\": \"0x8cafec513739d2ed72700fe9ef1b4a62c3d0b06ddf6258bb00cbac2cbced5f68\"\n      },\n      \"shares\": \"2385680848797132573927855186715\",\n      \"alpha\": \"115613392028960\"\n    },\n    {\n      \"block_number\": 5373792,\n      \"timestamp\": \"2025-04-17T21:12:00Z\",\n      \"netuid\": 52,\n      \"hotkey\": {\n        \"ss58\": \"5F2CsUDVbRbVMXTh9fAzF9GacjVX7UapvRxidrxe7z8BYckQ\",\n        \"hex\": \"0x82cca2238d379e49d84e9e1b8df35dd496d6a8b4ca4f511ac9e38fa04d42f86b\"\n      },\n      \"shares\": \"2033118964054459968091409930781\",\n      \"alpha\": \"113947581745887\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"pagination":{"type":"object","properties":{"current_page":{"type":"integer","example":1,"default":0},"per_page":{"type":"integer","example":50,"default":0},"total_items":{"type":"integer","example":81035,"default":0},"total_pages":{"type":"integer","example":1621,"default":0},"next_page":{"type":"integer","example":2,"default":0},"prev_page":{}}},"data":{"type":"array","items":{"type":"object","properties":{"block_number":{"type":"integer","example":5373806,"default":0},"timestamp":{"type":"string","example":"2025-04-17T21:14:48Z"},"netuid":{"type":"integer","example":0,"default":0},"hotkey":{"type":"object","properties":{"ss58":{"type":"string","example":"5GKH9FPPnWSUoeeTJp19wVtd84XqFW4pyK2ijV2GsFbhTrP1"},"hex":{"type":"string","example":"0xbc0e6b701243978c1fe73d721c7b157943a713fca9f3c88cad7a9f7799bc6b26"}}},"shares":{"type":"string","example":"13890034603543431171280295544634012"},"alpha":{"type":"string","example":"779899024450396"}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/dtao/hotkey_alpha_shares/history/v1":{"get":{"summary":"Get Validator Alpha Shares (Historical)","description":"","operationId":"get-validator-alpha-shares-historical","parameters":[{"name":"hotkey","in":"query","description":"Validator hotkey","schema":{"type":"string"}},{"name":"netuid","in":"query","description":"subnet","schema":{"type":"integer","format":"int32"}},{"name":"block_number","in":"query","description":"The exact block number","schema":{"type":"integer","format":"int32"}},{"name":"block_start","in":"query","description":"block number for start of range","schema":{"type":"integer","format":"int32"}},{"name":"block_end","in":"query","description":"block number for end of range","schema":{"type":"integer","format":"int32"}},{"name":"timestamp_start","in":"query","description":"Unix timestamp (seconds since 1970-01-01) (inclusive)","schema":{"type":"integer","format":"int32"}},{"name":"timestamp_end","in":"query","description":"Unix timestamp (seconds since 1970-01-01) (inclusive)","schema":{"type":"integer","format":"int32"}},{"name":"page","in":"query","description":"The page number of the response.","schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","description":"The number of responses. max is 200,","schema":{"type":"integer","format":"int32"}},{"name":"order","in":"query","schema":{"type":"string","enum":["block_number_asc","block_number_desc","timestamp_asc","timestamp_desc","netuid_asc","netuid_desc"]}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"pagination\": {\n    \"current_page\": 1,\n    \"per_page\": 50,\n    \"total_items\": 32904411,\n    \"total_pages\": 658089,\n    \"next_page\": 2,\n    \"prev_page\": null\n  },\n  \"data\": [\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5HQNfqWmSrCukG44FHdeAxJietFtk8t1YK86HBXBmVD9BMxr\",\n        \"hex\": \"0xec2d7caba5f08f465fa33535f44194ccd899fcb8e71caf3d09cde25ef1df327a\"\n      },\n      \"shares\": \"60497307167014501355291148288\",\n      \"alpha\": \"3279565593\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5CaRyhL8cVXtp5TLds3eYugnDojr1oock8ZoAP6SpQZ1n763\",\n        \"hex\": \"0x16abe8c13257e11aed6394fb27fad0fe7993df79a9c050059e2bd5e0c7f51445\"\n      },\n      \"shares\": \"27667624139907410000672194560\",\n      \"alpha\": \"1499864910\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5DckqkMxne9i1yEtbJVxgutJfLony8RQndnPyFyCqQdBxoqu\",\n        \"hex\": \"0x44ae21c2b8a9f1ebb6fd21d99cdfd74d8cf1467a646375cf671085a8b5ca4802\"\n      },\n      \"shares\": \"133366969398812221717943943168\",\n      \"alpha\": \"7229837898\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5CFpNJLJMaYwpydsXP8YNEjiSPmpUVgBDfzUAhNzYxdDp191\",\n        \"hex\": \"0x08799df4c2b4fd4685fa7cb818fe217af0ab760abdccd657752268028bb44b37\"\n      },\n      \"shares\": \"41705665370823214454171238400\",\n      \"alpha\": \"2260868650\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5FTtnCS7sdyZBBFjJQEPMta2eeorAk6e9h1pt7hHrMTjEWjK\",\n        \"hex\": \"0x96641d4e466f3236fcf59936d05078535805371196d8322301851da6644ce848\"\n      },\n      \"shares\": \"7957330651922620097488748544\",\n      \"alpha\": \"431367759\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5DXLbnJMVaeuGsnj5vw2ryLSTNsR9sMKfRUC6DPkN3JSa6mL\",\n        \"hex\": \"0x408c4d93e2129f77770ed1665d11fe37b47f90257f4b97c3b202f6dba6feb933\"\n      },\n      \"shares\": \"139739152479908536713908060160\",\n      \"alpha\": \"7575274635\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5EqwDjUoQ6QqjzMWKXTRAH8D8AWNXgJPnKCXmbBeoFhFnbSx\",\n        \"hex\": \"0x7af77e9ca3c9c958a6b87a4dcfa8143f931a9c6f94adf9d6463bd2c201ed1169\"\n      },\n      \"shares\": \"7684810426914539019412963328\",\n      \"alpha\": \"416594408\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5Dq3js1m8Q7omb3GirQ6twRkAdrvsqEfyzcvCmP26NwmpTs8\",\n        \"hex\": \"0x4e0df655f9f8f47dbb945c694d08ff999fc238ca7aa673171373cb4108ad0100\"\n      },\n      \"shares\": \"76200805344821031340039208960\",\n      \"alpha\": \"4130853935\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5Hn3fGfnLkqLjUobdEaM1o3iHRvYrjChrhbEf8fQTAdwnJnL\",\n        \"hex\": \"0xfcb4e4b0ba59812cf76ef5658a9463afe010fb1a98f4601d499a174c5f284275\"\n      },\n      \"shares\": \"43424021842779932055784390656\",\n      \"alpha\": \"2354020941\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5CyoLczVV9FprEWRWz7wQ9mud1mTaNXJVMzKRf7RyWZRd9cb\",\n        \"hex\": \"0x287e75d5a23db3da019ea45f517354065b81c2c3263114edc2c97e138b7bae4d\"\n      },\n      \"shares\": \"82839877284234837583290433536\",\n      \"alpha\": \"4490758746\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5HKMcFtGM2cLJsgqXupaYPnwLfYvrjGob6xdE7dSgbJTrx2Z\",\n        \"hex\": \"0xe859af97348216489581fe2f3de3b6463558b774b5c35efee2c4ba83f0d8f475\"\n      },\n      \"shares\": \"32846665191935068736384401408\",\n      \"alpha\": \"1780621288\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5FxcZraZACr4L78jWkcYe3FHdiwiAUzrKLVtsSwkvFobBKqq\",\n        \"hex\": \"0xac4ba7704623c5beb4950ef97ddea57c9c12b91938c86f28475f8050741ac956\"\n      },\n      \"shares\": \"2100010066755844288246068\",\n      \"alpha\": \"77103755\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5EnNSHdTW7BccZtYc31YqXcFt99wrw2kayB8m273WUsvGgAb\",\n        \"hex\": \"0x783f662c04fc38e6a084fabbb419d7f7b76f05d8c64cc86babeae3b29e9d0006\"\n      },\n      \"shares\": \"16368918408745650006544875520\",\n      \"alpha\": \"887360845\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5DsbryZ4HYjr7GcWP4asCigs3bT32R2pL3SGntYzydCPAcVB\",\n        \"hex\": \"0x500096653b5df8515621f7a71c485b07140fcbe511c552d39019fc57fa6fd07d\"\n      },\n      \"shares\": \"61777589456818304913359503360\",\n      \"alpha\": \"3348969835\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5D21Z39Po2CK79ouUZ7WsQaS7wwsmmko8bG9e8oGsDcNHwGh\",\n        \"hex\": \"0x2a2e113d9f76668e8b99d7150db8e80236993f0c5dc38a4bacadb684c0c16d3e\"\n      },\n      \"shares\": \"68092095859535859276377489408\",\n      \"alpha\": \"3691279913\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5FbiM7ZfqDjyPm9q5xjACqrb2vtATee2fec2NBZPcFuvH1Sv\",\n        \"hex\": \"0x9c5af576e16e55ada82d032f0f5713e5581ad6bfee34d36052ff564b2bee2d64\"\n      },\n      \"shares\": \"71289864641027904726416490496\",\n      \"alpha\": \"3864631306\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5GvHLVr7bXzsppYoWdVhgwenfe9DuSgKKAkEw41Q3HnBmrYg\",\n        \"hex\": \"0xd6c0a967ae54ba92e711036cb673235f44ee75a15027247ef981b650015b457d\"\n      },\n      \"shares\": \"84188753791876730109042884608\",\n      \"alpha\": \"4563881488\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 69,\n      \"hotkey\": {\n        \"ss58\": \"5FnATLVH9s8RxWZS3yfpNppUmdaikzjndxocmSzcFHf9YeFG\",\n        \"hex\": \"0xa4534c40acd7e28adbc798effde1f795a4a216c1c91a149fcf0cac2a62343b5b\"\n      },\n      \"shares\": \"6962359347574279660604699007\",\n      \"alpha\": \"378737804\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5DM7CPqPKtMSADhFKYsstsCS4Tm4Kd6PMXoh6DdqY4MtxmtX\",\n        \"hex\": \"0x38bebacdaaf2648eb65bc692d7ed483a54208c6d4c5ff32ecf713d133baa8011\"\n      },\n      \"shares\": \"312810056614671792755772351628\",\n      \"alpha\": \"7133579939124\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5Ccw3uT48b8dVkRadWB78woCZBL1DWuG4TgfrBHA2RP7931W\",\n        \"hex\": \"0x18944459cad16be6260b2fe63ce409edc8b4d362f6da448a7fe26d22d38a364d\"\n      },\n      \"shares\": \"72141806542124168560041263104\",\n      \"alpha\": \"3910815169\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5FTR2ghWZs4GAY5QqaUSQw8MsRrgHFoRpaZrCKNRBCEfXadr\",\n        \"hex\": \"0x9606b2ebfd4448ff59c86726013dd0a0cc5fb6a0350cba0613f848fa34b8c503\"\n      },\n      \"shares\": \"8952948782372761810623266816\",\n      \"alpha\": \"485340326\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5ENzokXjwHi2mf7BVg9vDrjXTH5qqZtj6DrnDkuT5fHXYEXB\",\n        \"hex\": \"0x666bf1244777bf1e4952a871f0e4329f3981a4db1aa11f7ab03fed9ed3f92a4d\"\n      },\n      \"shares\": \"108601595152747437968662200320\",\n      \"alpha\": \"5887304270\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5F9Vqg7djgvtUe2QSVNYw6LNMvK7AzbScguJejc1vectawiU\",\n        \"hex\": \"0x885c795f92b8b00bd11694c7adbde33ca8c7f4860d943205d9eeeaa8eb37bb5d\"\n      },\n      \"shares\": \"10261717364478670975226871808\",\n      \"alpha\": \"556288813\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5CmLiiJSR4ZjXbTZtsvw6Cv7RF6GDWJ1TqyFvhGMz8odYBv1\",\n        \"hex\": \"0x1efde8535f925e5437687593973f4905ac364d19806901965e20d340a606646f\"\n      },\n      \"shares\": \"30908871085524449620649836544\",\n      \"alpha\": \"1675573259\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5HBhcsS8XpTy9x1E53xekpUqaogc8eopA5R3oz1G7YineqvH\",\n        \"hex\": \"0xe2831590d6102de034d66c9ac1b34407bdae556f8d0423bcd6ab26e4d2f09401\"\n      },\n      \"shares\": \"148806891218581320553298132992\",\n      \"alpha\": \"8066837737\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5GP7c3fFazW9GXK8Up3qgu2DJBk8inu4aK9TZy3RuoSWVCMi\",\n        \"hex\": \"0xbefb4b2b719c0dc08273b9293fa8166180fe3c0e6e0fc9f4cb224f429dc8163c\"\n      },\n      \"shares\": \"18465029544874272014718703737\",\n      \"alpha\": \"1258618617074\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5GVwvWkC2khKwRPtk5fWEvPoy3RZ8su2M6jQqijEHvJQVbco\",\n        \"hex\": \"0xc4316b9766229e0a4dfda458732f2c6bdfd9766d54b670e5abee639d959b9427\"\n      },\n      \"shares\": \"72911866223969311192732663808\",\n      \"alpha\": \"3952560188\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5FBtXmRZuU4mWWds72ym6UJB8AhFfkyEWxspXLsVD55QNV9G\",\n        \"hex\": \"0x8a2f59b56406a64107bb7e0ef7373bda0e64f0441337b36ebe682ee6854f2864\"\n      },\n      \"shares\": \"37787844407356374479431270400\",\n      \"alpha\": \"2048483150\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5ENk3dDXgMeVwF328UGk2uLPuWY1ENdYDuEDsKAAwsLVWTv1\",\n        \"hex\": \"0x663a40b09ce8cd115d58935292f308d5cfb34cf6e49e36b8cfec6e346e529e22\"\n      },\n      \"shares\": \"37500943119115173508625203200\",\n      \"alpha\": \"2032930200\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5E7dRhvqptjcBjqmLgFwmiFeV1DHhmrfoeCscswRT9oeC5AE\",\n        \"hex\": \"0x5ab34a0390b95aaacb33274ee3abe7d60364f1cec114e24bd5e3dc01dbc8ad16\"\n      },\n      \"shares\": \"148914540919865755531082727424\",\n      \"alpha\": \"8072673439\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5F2CsUDVbRbVMXTh9fAzF9GacjVX7UapvRxidrxe7z8BYckQ\",\n        \"hex\": \"0x82cca2238d379e49d84e9e1b8df35dd496d6a8b4ca4f511ac9e38fa04d42f86b\"\n      },\n      \"shares\": \"28468209753667478395763671108746\",\n      \"alpha\": \"92241548974998\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5GmvyePN9aYErXBBhBnxZKGoGk4LKZApE4NkaSzW62CYCYNA\",\n        \"hex\": \"0xd0622986d748433d484b9b351b9a38737ee869ef2a50b75e5f890bee2c3afb18\"\n      },\n      \"shares\": \"0\",\n      \"alpha\": \"1\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5H6xzajJzuBMVPMxXC2VrAezFEBubkkN3V5gXNbNj9gZBqHu\",\n        \"hex\": \"0xdee69ca406874f2f8895c076d91e71b58021b693b08dffba5558984dd2bc540f\"\n      },\n      \"shares\": \"3042079038837285356446756634624\",\n      \"alpha\": \"164911435139\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5GRQnvcEyMS16CKsMfqYbfm7Xtx4KcAVMt4nYFVorxSBrDiS\",\n        \"hex\": \"0xc0bba4967ae83da534dc0a6d2a0a12fb147b5f3d202927aad2c77297b7590928\"\n      },\n      \"shares\": \"2379968140208185189959622197248\",\n      \"alpha\": \"129018331403\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5GvCX4hQuzUxAiJSfaVGNfMy9Mt2h2cGia8BN4p55DCBxx2f\",\n        \"hex\": \"0xd6b07189ab69f41039406e111b4882efd64aec1f3dd962bd65b1053458182a5e\"\n      },\n      \"shares\": \"34167395122513717090704162816\",\n      \"alpha\": \"1852218201\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5CPwSfyDPTdxjPFWyKBZPajJnpLkzumSi8BpDeGxcvawM73R\",\n        \"hex\": \"0x0eab65ede607bb3131f0f153d1024173544dad5b00bc3574dbf70821d3b02163\"\n      },\n      \"shares\": \"33308521340822922829192232960\",\n      \"alpha\": \"1805658560\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5CwcEvyBoRSmNQN5WqeKDbygMmxhxNm1s8depvEUy2BeV2WT\",\n        \"hex\": \"0x26d29c24977ee477b82121abd1073a085f96f28dc9fc90f13bb9b401d4cb621b\"\n      },\n      \"shares\": \"90466243482196452989024075776\",\n      \"alpha\": \"4904184886\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5Hp18g9P8hLGKp9W3ZDr4bvJwba6b6bY3P2u3VdYf8yMR8FM\",\n        \"hex\": \"0xfe32e033f4c4b81bf0f1d2a35f3d2818a7e3fcb4464d54e6819b4d9ef9117a6a\"\n      },\n      \"shares\": \"2342004978710578604613309\",\n      \"alpha\": \"84848954\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5CK49hDJcseEk1V7iB1dmmztdw4igafhxLsVN82VtUVAQRfC\",\n        \"hex\": \"0x0af1bff38638abb04344d0ba5c236df20b7f75605045812360b61c73fefbcd66\"\n      },\n      \"shares\": \"961635677886047386719644169331733\",\n      \"alpha\": \"57491698128860\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5FhLoDZjJhFVuXN3YR3XVRnw2pavrCywsUTorDegmuMwHz3o\",\n        \"hex\": \"0xa0a5e340b25c34cc367ca0bce425e1f25ff5bd7604f27477a27921705c459455\"\n      },\n      \"shares\": \"10691840741681399170091450368\",\n      \"alpha\": \"579605848\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5CsvRJXuR955WojnGMdok1hbhffZyB4N5ocrv82f3p5A2zVp\",\n        \"hex\": \"0x2402d2dd859f24ff5305ce12d54e02f3c2cafe6788af4b405bbe0d407695af37\"\n      },\n      \"shares\": \"772296732468118487326836722087\",\n      \"alpha\": \"19270809858211\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5CkmDYkYRL5hbRCR9bN5xGc5ny29cqpucZMRnCtS5KtGivrU\",\n        \"hex\": \"0x1e8d207d61f7c1cb5bde8e052cd5097e4cb1812bf3799a02abed8adbb79c7313\"\n      },\n      \"shares\": \"45561341337987807278696235008\",\n      \"alpha\": \"2469885263\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5FEYr1KSXY91ZsHQ3nnNuN67A2EXfijXGmb4vxTqHyghtChd\",\n        \"hex\": \"0x8c36d1ba95b8c1b0811dbb724612e21c77bfa13d80626922824be2da07db333c\"\n      },\n      \"shares\": \"26020741090497294100978466816\",\n      \"alpha\": \"1410587201\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5GBWaS7tR19kLS1Mp1VKYsxKWzRWXLvWKdp44jVnXViZ2hqn\",\n        \"hex\": \"0xb621ae197b11f870c2b7402929e2b4f595d9cbf5dc26a4dd32359bed197b8737\"\n      },\n      \"shares\": \"64894945302224700128251346944\",\n      \"alpha\": \"3517962034\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5FFApaS75bv5pJHfAp2FVLBj9ZaXuFDjEypsaBNc1wCfe52v\",\n        \"hex\": \"0x8cafec513739d2ed72700fe9ef1b4a62c3d0b06ddf6258bb00cbac2cbced5f68\"\n      },\n      \"shares\": \"711155084662764368298419503058\",\n      \"alpha\": \"15556523920417\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5EeM15ZBzXhgSitFRsCPYn2tTFm9D4SumGaX3FTkvKyAPN2x\",\n        \"hex\": \"0x72209b43a5cfde6b5407ff8570a98a5a1ce9a2231b5bef01f92cb11581079808\"\n      },\n      \"shares\": \"83643273184100225169280204800\",\n      \"alpha\": \"4534310925\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5C5T3cEa9SfWAXHf8GnByoj2Wedq2ZN4DE7hDu8sHQvYnfKh\",\n        \"hex\": \"0x009162c5cef0e3d633170d299bba65a479cf6297ad95dddd1dabfd7ee0ffa87d\"\n      },\n      \"shares\": \"99182909930424173187339124736\",\n      \"alpha\": \"5376716321\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5GqKuLPyPz89Yb8xXEufKtFF6jD4T4GmTYwgNeE52HiRjzrz\",\n        \"hex\": \"0xd2f912bb2576c2212657ef651db926399003832af5ecde3a90f25039dc53d974\"\n      },\n      \"shares\": \"130866324935257387569292247040\",\n      \"alpha\": \"7094277690\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5HBVrFGy6oYhhh71m9fFGYD7zbKyAeHnWN8i8s9fJTBMCtEE\",\n        \"hex\": \"0xe25b770b15456d20aaf844044ff418ab7c47e616b4965448461d70fc9827fa7d\"\n      },\n      \"shares\": \"90001621507486273594110241\",\n      \"alpha\": \"3498706772\"\n    },\n    {\n      \"block_number\": 5373825,\n      \"timestamp\": \"2025-04-17T21:18:36Z\",\n      \"netuid\": 19,\n      \"hotkey\": {\n        \"ss58\": \"5CMVPmLFCANjLrBKUgbFkaLdz368EVsdGK32AKsioW4MZ8yt\",\n        \"hex\": \"0x0ccd36fcff10e88dc2898c1faca9fd106af14ac46d60f4331679a1342a432615\"\n      },\n      \"shares\": \"94604065259213764830496292864\",\n      \"alpha\": \"5128496654\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"pagination":{"type":"object","properties":{"current_page":{"type":"integer","example":1,"default":0},"per_page":{"type":"integer","example":50,"default":0},"total_items":{"type":"integer","example":32904411,"default":0},"total_pages":{"type":"integer","example":658089,"default":0},"next_page":{"type":"integer","example":2,"default":0},"prev_page":{}}},"data":{"type":"array","items":{"type":"object","properties":{"block_number":{"type":"integer","example":5373825,"default":0},"timestamp":{"type":"string","example":"2025-04-17T21:18:36Z"},"netuid":{"type":"integer","example":19,"default":0},"hotkey":{"type":"object","properties":{"ss58":{"type":"string","example":"5HQNfqWmSrCukG44FHdeAxJietFtk8t1YK86HBXBmVD9BMxr"},"hex":{"type":"string","example":"0xec2d7caba5f08f465fa33535f44194ccd899fcb8e71caf3d09cde25ef1df327a"}}},"shares":{"type":"string","example":"60497307167014501355291148288"},"alpha":{"type":"string","example":"3279565593"}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"text","code":"    {\n      \"block_number\": 5457662,\n      \"timestamp\": \"2025-04-29T12:46:00.001Z\",\n      \"netuid\": 0,\n      \"hotkey\": {\n        \"ss58\": \"5GKH9FPPnWSUoeeTJp19wVtd84XqFW4pyK2ijV2GsFbhTrP1\",\n        \"hex\": \"0xbc0e6b701243978c1fe73d721c7b157943a713fca9f3c88cad7a9f7799bc6b26\"\n      },\n      \"shares\": \"14110170583477283998010247708337995\", a really big number\n      \"alpha\": \"797794296912057\" as rao\n    },","name":"output"}],"samples-languages":["text"]}}},"/api/dtao/hotkey_emission/v1":{"get":{"summary":"Get Validator Emission by Subnet","description":"","operationId":"get-validator-emission-by-subnet","parameters":[{"name":"hotkey","in":"query","schema":{"type":"string"}},{"name":"netuid","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"block_number","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"block_start","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"block_end","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"timestamp_start","in":"query","description":"Unix timestamp (seconds since 1970-01-01) (inclusive)","schema":{"type":"integer","format":"int32"}},{"name":"timestamp_end","in":"query","description":"Unix timestamp (seconds since 1970-01-01) (inclusive)","schema":{"type":"integer","format":"int32"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32","default":1}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"order","in":"query","schema":{"type":"string","enum":["block_number_asc","block_number_desc","timestamp_asc","timestamp_desc","netuid_asc","netuid_desc","emission_asc","emission_desc","root_emission_asc","root_emission_desc"]}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}