{"openapi":"3.1.0","info":{"title":"taostats-beta","version":"1.0"},"servers":[{"url":"https://beta-api.taostats.io"}],"components":{"securitySchemes":{}},"security":[{}],"paths":{"/api/v1/address":{"get":{"summary":"Get Address","description":"Gives most recent coldkey balance (from the database)","operationId":"get-address","parameters":[{"name":"address","in":"query","description":"Address String to query","schema":{"type":"string"}},{"name":"created_at_start","in":"query","description":"Define starting block created_at range.","schema":{"type":"integer","format":"int32"}},{"name":"created_at_end","in":"query","description":"End block of created_at range.","schema":{"type":"integer","format":"int32"}},{"name":"updated_at_start","in":"query","description":"Starting block of updated_at range.","schema":{"type":"integer","format":"int32"}},{"name":"updated_at_end","in":"query","description":"End block of updated_at range.","schema":{"type":"integer","format":"int32"}},{"name":"balance_free_min","in":"query","description":"Minimum free balance in rao.","schema":{"type":"string","default":"0"}},{"name":"balance_free_max","in":"query","description":"Max free balance (in rao)","schema":{"type":"string"}},{"name":"balance_staked_min","in":"query","description":"Minimum staked balance (in rao)","schema":{"type":"string"}},{"name":"balance_staked_max","in":"query","description":"Max Staked balance (in rao)","schema":{"type":"string"}},{"name":"balance_total_min","in":"query","description":"Min total balance (sum of staked and free). In rao.","schema":{"type":"string"}},{"name":"balance_total_max","in":"query","description":"Max total balance (in rao).","schema":{"type":"string"}},{"name":"order","in":"query","schema":{"type":"string","enum":["balance_staked:asc","balance_staked:desc","balance_free:asc","balance_free:desc","balance_total:asc","balance_total:desc"]}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","description":"Number of entries to return. Max value is 200.","schema":{"type":"integer","format":"int32","default":50}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"total\": 1,\n  \"count\": 1,\n  \"addresses\": [\n    {\n      \"id\": \"5Hddm3iBFD2GLT5ik7LZnT3XJUnRnN8PoeCFgGQgawUVKNm8\",\n      \"created_at\": 0,\n      \"updated_at\": 3010662,\n      \"balance_free\": \"4881700137\",\n      \"balance_staked\": \"0\",\n      \"balance_total\": \"4881700137\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"total":{"type":"integer","example":1,"default":0},"count":{"type":"integer","example":1,"default":0},"addresses":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"5Hddm3iBFD2GLT5ik7LZnT3XJUnRnN8PoeCFgGQgawUVKNm8"},"created_at":{"type":"integer","example":0,"default":0},"updated_at":{"type":"integer","example":3010662,"default":0},"balance_free":{"type":"string","example":"4881700137"},"balance_staked":{"type":"string","example":"0"},"balance_total":{"type":"string","example":"4881700137"}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/v1/address/history":{"get":{"summary":"Get Address History","description":"For a given coldkey, request the previous {limit} days of balance history.","operationId":"get-address-history","parameters":[{"name":"address","in":"query","description":"Address String to query","required":true,"schema":{"type":"string"}},{"name":"balance_free_min","in":"query","description":"Minimum free balance in rao.","schema":{"type":"string","default":"0"}},{"name":"balance_free_max","in":"query","description":"Max free balance (in rao)","schema":{"type":"string"}},{"name":"balance_staked_min","in":"query","description":"Minimum staked balance (in rao)","schema":{"type":"string"}},{"name":"balance_staked_max","in":"query","description":"Max Staked balance (in rao)","schema":{"type":"string"}},{"name":"balance_total_min","in":"query","description":"Min total balance (sum of staked and free). In rao.","schema":{"type":"string"}},{"name":"balance_total_max","in":"query","description":"Max total balance (in rao).","schema":{"type":"string"}},{"name":"order","in":"query","schema":{"type":"string","enum":["balance_staked:asc","balance_staked:desc","balance_free:asc","balance_free:desc","balance_total:asc","balance_total:desc"]}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","description":"Number of entries to return. Max value is 200.","schema":{"type":"integer","format":"int32","default":50}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"count\": 18,\n  \"address_history\": [\n    {\n      \"timestamp\": \"2024-05-24T05:18:36.001Z\",\n      \"created_at\": 3024000,\n      \"updated_at\": 3067200,\n      \"address\": \"5Hddm3iBFD2GLT5ik7LZnT3XJUnRnN8PoeCFgGQgawUVKNm8\",\n      \"balance_free\": \"4881700137\",\n      \"balance_staked\": \"0\",\n      \"balance_total\": \"4881700137\"\n    },\n    {\n      \"timestamp\": \"2024-05-22T02:50:48Z\",\n      \"created_at\": 3009600,\n      \"updated_at\": 3009600,\n      \"address\": \"5Hddm3iBFD2GLT5ik7LZnT3XJUnRnN8PoeCFgGQgawUVKNm8\",\n      \"balance_free\": \"154881800125\",\n      \"balance_staked\": \"0\",\n      \"balance_total\": \"154881800125\"\n    },\n    {\n      \"timestamp\": \"2024-05-21T02:46:12.001Z\",\n      \"created_at\": 3002400,\n      \"updated_at\": 3002400,\n      \"address\": \"5Hddm3iBFD2GLT5ik7LZnT3XJUnRnN8PoeCFgGQgawUVKNm8\",\n      \"balance_free\": \"4881800125\",\n      \"balance_staked\": \"0\",\n      \"balance_total\": \"4881800125\"\n    },\n    {\n      \"timestamp\": \"2024-03-15T14:25:24.001Z\",\n      \"created_at\": 2570400,\n      \"updated_at\": 2995200,\n      \"address\": \"5Hddm3iBFD2GLT5ik7LZnT3XJUnRnN8PoeCFgGQgawUVKNm8\",\n      \"balance_free\": \"4882000115\",\n      \"balance_staked\": \"0\",\n      \"balance_total\": \"4882000115\"\n    },\n    {\n      \"timestamp\": \"2024-02-22T17:44:36.001Z\",\n      \"created_at\": 2419200,\n      \"updated_at\": 2563200,\n      \"address\": \"5Hddm3iBFD2GLT5ik7LZnT3XJUnRnN8PoeCFgGQgawUVKNm8\",\n      \"balance_free\": \"4882000263\",\n      \"balance_staked\": \"0\",\n      \"balance_total\": \"4882000263\"\n    },\n    {\n      \"timestamp\": \"2024-02-13T12:20:48Z\",\n      \"created_at\": 2354400,\n      \"updated_at\": 2412000,\n      \"address\": \"5Hddm3iBFD2GLT5ik7LZnT3XJUnRnN8PoeCFgGQgawUVKNm8\",\n      \"balance_free\": \"4881000263\",\n      \"balance_staked\": \"0\",\n      \"balance_total\": \"4881000263\"\n    },\n    {\n      \"timestamp\": \"2024-01-02T04:26:36Z\",\n      \"created_at\": 2059200,\n      \"updated_at\": 2347200,\n      \"address\": \"5Hddm3iBFD2GLT5ik7LZnT3XJUnRnN8PoeCFgGQgawUVKNm8\",\n      \"balance_free\": \"2361000263\",\n      \"balance_staked\": \"0\",\n      \"balance_total\": \"2361000263\"\n    },\n    {\n      \"timestamp\": \"2024-01-01T03:08:36Z\",\n      \"created_at\": 2052000,\n      \"updated_at\": 2052000,\n      \"address\": \"5Hddm3iBFD2GLT5ik7LZnT3XJUnRnN8PoeCFgGQgawUVKNm8\",\n      \"balance_free\": \"252361000411\",\n      \"balance_staked\": \"0\",\n      \"balance_total\": \"252361000411\"\n    },\n    {\n      \"timestamp\": \"2023-12-28T23:29:24.001Z\",\n      \"created_at\": 2030400,\n      \"updated_at\": 2044800,\n      \"address\": \"5Hddm3iBFD2GLT5ik7LZnT3XJUnRnN8PoeCFgGQgawUVKNm8\",\n      \"balance_free\": \"2361000411\",\n      \"balance_staked\": \"0\",\n      \"balance_total\": \"2361000411\"\n    },\n    {\n      \"timestamp\": \"2023-12-18T20:48:00.002Z\",\n      \"created_at\": 1958400,\n      \"updated_at\": 2023200,\n      \"address\": \"5Hddm3iBFD2GLT5ik7LZnT3XJUnRnN8PoeCFgGQgawUVKNm8\",\n      \"balance_free\": \"2361000559\",\n      \"balance_staked\": \"0\",\n      \"balance_total\": \"2361000559\"\n    },\n    {\n      \"timestamp\": \"2023-12-16T20:45:00Z\",\n      \"created_at\": 1944000,\n      \"updated_at\": 1951200,\n      \"address\": \"5Hddm3iBFD2GLT5ik7LZnT3XJUnRnN8PoeCFgGQgawUVKNm8\",\n      \"balance_free\": \"4361000706\",\n      \"balance_staked\": \"0\",\n      \"balance_total\": \"4361000706\"\n    },\n    {\n      \"timestamp\": \"2023-11-19T20:06:12.003Z\",\n      \"created_at\": 1749600,\n      \"updated_at\": 1936800,\n      \"address\": \"5Hddm3iBFD2GLT5ik7LZnT3XJUnRnN8PoeCFgGQgawUVKNm8\",\n      \"balance_free\": \"2361000706\",\n      \"balance_staked\": \"0\",\n      \"balance_total\": \"2361000706\"\n    },\n    {\n      \"timestamp\": \"2023-11-14T19:08:36.004Z\",\n      \"created_at\": 1713600,\n      \"updated_at\": 1742400,\n      \"address\": \"5Hddm3iBFD2GLT5ik7LZnT3XJUnRnN8PoeCFgGQgawUVKNm8\",\n      \"balance_free\": \"1361000706\",\n      \"balance_staked\": \"0\",\n      \"balance_total\": \"1361000706\"\n    },\n    {\n      \"timestamp\": \"2023-10-29T17:10:00.003Z\",\n      \"created_at\": 1598400,\n      \"updated_at\": 1706400,\n      \"address\": \"5Hddm3iBFD2GLT5ik7LZnT3XJUnRnN8PoeCFgGQgawUVKNm8\",\n      \"balance_free\": \"1361000854\",\n      \"balance_staked\": \"0\",\n      \"balance_total\": \"1361000854\"\n    },\n    {\n      \"timestamp\": \"2023-10-26T17:09:48.006Z\",\n      \"created_at\": 1576800,\n      \"updated_at\": 1591200,\n      \"address\": \"5Hddm3iBFD2GLT5ik7LZnT3XJUnRnN8PoeCFgGQgawUVKNm8\",\n      \"balance_free\": \"1000854\",\n      \"balance_staked\": \"0\",\n      \"balance_total\": \"1000854\"\n    },\n    {\n      \"timestamp\": \"2023-07-26T18:55:24.002Z\",\n      \"created_at\": 921600,\n      \"updated_at\": 1569600,\n      \"address\": \"5Hddm3iBFD2GLT5ik7LZnT3XJUnRnN8PoeCFgGQgawUVKNm8\",\n      \"balance_free\": \"854\",\n      \"balance_staked\": \"0\",\n      \"balance_total\": \"854\"\n    },\n    {\n      \"timestamp\": \"2023-07-25T18:55:24Z\",\n      \"created_at\": 914400,\n      \"updated_at\": 914400,\n      \"address\": \"5Hddm3iBFD2GLT5ik7LZnT3XJUnRnN8PoeCFgGQgawUVKNm8\",\n      \"balance_free\": \"19000000000\",\n      \"balance_staked\": \"0\",\n      \"balance_total\": \"19000000000\"\n    },\n    {\n      \"timestamp\": \"2023-03-21T18:49:00.001Z\",\n      \"created_at\": 7200,\n      \"updated_at\": 907200,\n      \"address\": \"5Hddm3iBFD2GLT5ik7LZnT3XJUnRnN8PoeCFgGQgawUVKNm8\",\n      \"balance_free\": \"0\",\n      \"balance_staked\": \"0\",\n      \"balance_total\": \"0\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"count":{"type":"integer","example":18,"default":0},"address_history":{"type":"array","items":{"type":"object","properties":{"timestamp":{"type":"string","example":"2024-05-24T05:18:36.001Z"},"created_at":{"type":"integer","example":3024000,"default":0},"updated_at":{"type":"integer","example":3067200,"default":0},"address":{"type":"string","example":"5Hddm3iBFD2GLT5ik7LZnT3XJUnRnN8PoeCFgGQgawUVKNm8"},"balance_free":{"type":"string","example":"4881700137"},"balance_staked":{"type":"string","example":"0"},"balance_total":{"type":"string","example":"4881700137"}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/v1/block":{"get":{"summary":"Get Block","description":"","operationId":"get-block","parameters":[{"name":"block_start","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"block_end","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"height","in":"query","description":"Exact block number (as opposed to a range).","schema":{"type":"integer","format":"int32"}},{"name":"hash","in":"query","description":"Block hash number.","schema":{"type":"string"}},{"name":"order","in":"query","schema":{"type":"string","enum":["timestamp:asc","timestamp:desc","hash:asc","hash:desc","id:asc","id:desc","height:asc","height:desc"]}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32","default":1}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32","default":50}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"total\": 3070907,\n  \"count\": 5,\n  \"blocks\": [\n    {\n      \"id\": \"0003070906-e9e20\",\n      \"height\": 3070906,\n      \"hash\": \"0xe9e20d9ec97f950315d5574398e1e1e3c62dbd068117ddcfbf6f172907d5ef59\",\n      \"parent_hash\": \"0x1b2b3916ac19b88ab2cd35d8b17b41797265dbf39327e4c019229f1b514729ee\",\n      \"state_root\": \"0x10c7d2f44e215354e771154f697d091b7538ff5a686c90a574373520f0d2e19e\",\n      \"extrinsics_root\": \"0x177a27888ddc4c59579c6efc704be394a9e2d541b16d6f4aed85f14a6265022f\",\n      \"spec_name\": \"node-subtensor\",\n      \"spec_version\": 150,\n      \"impl_name\": \"node-subtensor\",\n      \"impl_version\": 1,\n      \"timestamp\": \"2024-05-30T18:17:00Z\",\n      \"validator\": null,\n      \"digest\": {\n        \"logs\": [\n          \"0x0661757261208d65870800000000\",\n          \"0x056175726101013c7d7f210c212f262086ff34eeb83c2ea4392f37609c23d5ff625d981b2906161bf7f4783b1bc75b8126ecb42a2b46d1ff7fca8b4f816f7f8b0359a7995c0f8a\"\n        ]\n      },\n      \"extrinsics_count\": 23,\n      \"calls_count\": 23,\n      \"events_count\": 84\n    },\n    {\n      \"id\": \"0003070905-1b2b3\",\n      \"height\": 3070905,\n      \"hash\": \"0x1b2b3916ac19b88ab2cd35d8b17b41797265dbf39327e4c019229f1b514729ee\",\n      \"parent_hash\": \"0xcdad5c26512e64ff860361fa0716bc68dc849ec8a257aabb8c21e2e120af7832\",\n      \"state_root\": \"0x315dcafd3550b5168798b5800bbe42198f174fa9f9ebe544eaf4c7369311a172\",\n      \"extrinsics_root\": \"0xfadbc0f0d95f9f1d9e48dd4a74511e646ae75f27d313a6ba6d42a312ca5048fd\",\n      \"spec_name\": \"node-subtensor\",\n      \"spec_version\": 150,\n      \"impl_name\": \"node-subtensor\",\n      \"impl_version\": 1,\n      \"timestamp\": \"2024-05-30T18:16:48Z\",\n      \"validator\": null,\n      \"digest\": {\n        \"logs\": [\n          \"0x0661757261208c65870800000000\",\n          \"0x056175726101013008063e69ef2297e8fca9e2179bd7da84a0a7ef13b1aabe63a7153a1c03a11f902628713e0bbc9ec2c8389a36cdb4f7ce64d05fc294b1fa3c4241c92a3c6183\"\n        ]\n      },\n      \"extrinsics_count\": 19,\n      \"calls_count\": 19,\n      \"events_count\": 82\n    },\n    {\n      \"id\": \"0003070904-cdad5\",\n      \"height\": 3070904,\n      \"hash\": \"0xcdad5c26512e64ff860361fa0716bc68dc849ec8a257aabb8c21e2e120af7832\",\n      \"parent_hash\": \"0xa820712521cdb59c6728405fd4478e6296d822d6e2bb02e3cec28686461199ae\",\n      \"state_root\": \"0x93d179658d55b293747a0df7a0dd7851516dade074e8e7f7902ff58e2a98d44e\",\n      \"extrinsics_root\": \"0x3f04ca3f67b9dfb58c89ce9c747eef703761376ad194a5f6fdb6a912657027aa\",\n      \"spec_name\": \"node-subtensor\",\n      \"spec_version\": 150,\n      \"impl_name\": \"node-subtensor\",\n      \"impl_version\": 1,\n      \"timestamp\": \"2024-05-30T18:16:36Z\",\n      \"validator\": null,\n      \"digest\": {\n        \"logs\": [\n          \"0x0661757261208b65870800000000\",\n          \"0x056175726101019e096183dcea0d4e2ec8f1593deeea597ddc4f0f81f7e834b126f7cb4f61bd19b4e29f9da0345ba424dd728ce3fdd85c6a08c7c39fe03025e367093a3394a28a\"\n        ]\n      },\n      \"extrinsics_count\": 18,\n      \"calls_count\": 18,\n      \"events_count\": 74\n    },\n    {\n      \"id\": \"0003070903-a8207\",\n      \"height\": 3070903,\n      \"hash\": \"0xa820712521cdb59c6728405fd4478e6296d822d6e2bb02e3cec28686461199ae\",\n      \"parent_hash\": \"0xf59eb9c664b714207e91630da94de997f5884f7f3220ccb27ac57718acf0ae7f\",\n      \"state_root\": \"0x05af143687783518bd6ffe571cf49002ce3b80b718541985c76896fb8e1f2236\",\n      \"extrinsics_root\": \"0x24307aef045fe7e8f48bdaa9b57bf77aee52fe68d0cfb512d4276bd989a419a0\",\n      \"spec_name\": \"node-subtensor\",\n      \"spec_version\": 150,\n      \"impl_name\": \"node-subtensor\",\n      \"impl_version\": 1,\n      \"timestamp\": \"2024-05-30T18:16:24Z\",\n      \"validator\": null,\n      \"digest\": {\n        \"logs\": [\n          \"0x0661757261208a65870800000000\",\n          \"0x0561757261010150df7b11abb7fa1678015c91df1ccb3676543f76dd6628786a138842be52760c6e64346fd3554bb76f1bfcd10be678d13643bb6031fab3079ab5e3df7647498a\"\n        ]\n      },\n      \"extrinsics_count\": 27,\n      \"calls_count\": 27,\n      \"events_count\": 93\n    },\n    {\n      \"id\": \"0003070902-f59eb\",\n      \"height\": 3070902,\n      \"hash\": \"0xf59eb9c664b714207e91630da94de997f5884f7f3220ccb27ac57718acf0ae7f\",\n      \"parent_hash\": \"0xf3ccb4af5b374fde9c9c3858531c7f0a8b66bc8593f0705f71d8c9fd39237242\",\n      \"state_root\": \"0x87c3ee0508229a36ba5e5216ca80aae53ee198be481add5a1706bd6066f50520\",\n      \"extrinsics_root\": \"0xa87877f55f09a5381068b93c769dbc63c40bfa8930cc6ffe7a20bde790fd34be\",\n      \"spec_name\": \"node-subtensor\",\n      \"spec_version\": 150,\n      \"impl_name\": \"node-subtensor\",\n      \"impl_version\": 1,\n      \"timestamp\": \"2024-05-30T18:16:12Z\",\n      \"validator\": null,\n      \"digest\": {\n        \"logs\": [\n          \"0x0661757261208965870800000000\",\n          \"0x0561757261010198a447cbbb28b9ea20a0f84398da51ecb4aa17a9f1d8bbaeacdfba0ee733c21fdb0e0009269bf99eb63f4b4ec0a82d6188a3a1509e343d1e0b91d4041716b78d\"\n        ]\n      },\n      \"extrinsics_count\": 19,\n      \"calls_count\": 19,\n      \"events_count\": 74\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"total":{"type":"integer","example":3070907,"default":0},"count":{"type":"integer","example":5,"default":0},"blocks":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"0003070906-e9e20"},"height":{"type":"integer","example":3070906,"default":0},"hash":{"type":"string","example":"0xe9e20d9ec97f950315d5574398e1e1e3c62dbd068117ddcfbf6f172907d5ef59"},"parent_hash":{"type":"string","example":"0x1b2b3916ac19b88ab2cd35d8b17b41797265dbf39327e4c019229f1b514729ee"},"state_root":{"type":"string","example":"0x10c7d2f44e215354e771154f697d091b7538ff5a686c90a574373520f0d2e19e"},"extrinsics_root":{"type":"string","example":"0x177a27888ddc4c59579c6efc704be394a9e2d541b16d6f4aed85f14a6265022f"},"spec_name":{"type":"string","example":"node-subtensor"},"spec_version":{"type":"integer","example":150,"default":0},"impl_name":{"type":"string","example":"node-subtensor"},"impl_version":{"type":"integer","example":1,"default":0},"timestamp":{"type":"string","example":"2024-05-30T18:17:00Z"},"validator":{},"digest":{"type":"object","properties":{"logs":{"type":"array","items":{"type":"string","example":"0x0661757261208d65870800000000"}}}},"extrinsics_count":{"type":"integer","example":23,"default":0},"calls_count":{"type":"integer","example":23,"default":0},"events_count":{"type":"integer","example":84,"default":0}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/v1/delegate":{"get":{"summary":"Get Delegation Events","description":"Get delegation events.","operationId":"get-delegate","parameters":[{"name":"account_id","in":"query","schema":{"type":"string"}},{"name":"delegate_id","in":"query","schema":{"type":"string"}},{"name":"block_start","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"block_end","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"order","in":"query","schema":{"type":"string","enum":["amount:asc","amount:desc","block_number:asc","block_number:desc"]}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32","default":1}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32","default":50}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"total\": 2136104,\n  \"count\": 5,\n  \"delegates\": [\n    {\n      \"id\": \"0003070900-ee0df-000012\",\n      \"amount\": \"104211289373\",\n      \"action\": \"UNDELEGATE\",\n      \"block_number\": 3070900,\n      \"extrinsic_id\": \"0003070900-ee0df-000012\",\n      \"account_id\": \"5CyF6q7X29VVCLr7RoUsyHFXibqTQprZZqU4Gq3B7bwU1gAk\",\n      \"delegate_id\": \"5FKstHjZkh4v3qAMSBa1oJcHCLjxYZ8SNTSz1opTv4hR7gVB\"\n    },\n    {\n      \"id\": \"0003070893-3c223-000030\",\n      \"amount\": \"8692630000\",\n      \"action\": \"UNDELEGATE\",\n      \"block_number\": 3070893,\n      \"extrinsic_id\": \"0003070893-3c223-000030\",\n      \"account_id\": \"5CJmUnvySUFYZcMYcjFh3m8WVksNYMHxBSZwFWWVvDuBUYKf\",\n      \"delegate_id\": \"5EhQyZKfsdKMJpoYyfdfowo6zzx3RkUmuWVpG67V89sFtkWZ\"\n    },\n    {\n      \"id\": \"0003070893-3c223-000012\",\n      \"amount\": \"69926592028\",\n      \"action\": \"UNDELEGATE\",\n      \"block_number\": 3070893,\n      \"extrinsic_id\": \"0003070893-3c223-000012\",\n      \"account_id\": \"5HiveMEoWPmQmBAb8v63bKPcFhgTGCmST1TVZNvPHSTKFLCv\",\n      \"delegate_id\": \"5FFApaS75bv5pJHfAp2FVLBj9ZaXuFDjEypsaBNc1wCfe52v\"\n    },\n    {\n      \"id\": \"0003070892-0cf7b-000013\",\n      \"amount\": \"27439133\",\n      \"action\": \"UNDELEGATE\",\n      \"block_number\": 3070892,\n      \"extrinsic_id\": \"0003070892-0cf7b-000013\",\n      \"account_id\": \"5D7sEis4Rs4JSCycxRGE7qvhqdF5LfYuYXWZhwiWijRnsCz4\",\n      \"delegate_id\": \"5Gb7MDrUSpTTbT4v4vcZxxrT22CYPLFkbTi8kuRZ87cLYSEC\"\n    },\n    {\n      \"id\": \"0003070883-d90c1-000015\",\n      \"amount\": \"861167127\",\n      \"action\": \"UNDELEGATE\",\n      \"block_number\": 3070883,\n      \"extrinsic_id\": \"0003070883-d90c1-000015\",\n      \"account_id\": \"5GHSq9DzAtyFCLARtRH9CCiLVwikebk41B66nAHAYnipNt23\",\n      \"delegate_id\": \"5GNBmvowWA5vaEUsJmXsG8MXYnRbNnSkgRfmNQPDbguzWyAX\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"total":{"type":"integer","example":2136104,"default":0},"count":{"type":"integer","example":5,"default":0},"delegates":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"0003070900-ee0df-000012"},"amount":{"type":"string","example":"104211289373"},"action":{"type":"string","example":"UNDELEGATE"},"block_number":{"type":"integer","example":3070900,"default":0},"extrinsic_id":{"type":"string","example":"0003070900-ee0df-000012"},"account_id":{"type":"string","example":"5CyF6q7X29VVCLr7RoUsyHFXibqTQprZZqU4Gq3B7bwU1gAk"},"delegate_id":{"type":"string","example":"5FKstHjZkh4v3qAMSBa1oJcHCLjxYZ8SNTSz1opTv4hR7gVB"}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/v1/delegate/balance":{"get":{"summary":"Get Delegation Balance","description":"Get delegation events.","operationId":"get-delegation-balance","parameters":[{"name":"account_id","in":"query","schema":{"type":"string"}},{"name":"delegate_id","in":"query","schema":{"type":"string"}},{"name":"order","in":"query","schema":{"type":"string","enum":["amount:asc","amount:desc","block_number:asc","block_number:desc"]}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32","default":1}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32","default":50}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"total\": 0,\n  \"count\": 0,\n  \"delegate_balances\": []\n}"}},"schema":{"type":"object","properties":{"total":{"type":"integer","example":0,"default":0},"count":{"type":"integer","example":0,"default":0},"delegate_balances":{"type":"array"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/v1/delegate/info":{"get":{"summary":"Get Delegate Info","description":"","operationId":"get-delegate-info","parameters":[{"name":"address","in":"query","description":"Hotkey for a validator","schema":{"type":"string"}},{"name":"name","in":"query","description":"Validator name (allows partial entries)","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/v1/event":{"get":{"summary":"Get Event","description":"","operationId":"get-event","parameters":[{"name":"id","in":"query","description":"Event ID","schema":{"type":"string"}},{"name":"extrinsic_address","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"index","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"phase","in":"query","schema":{"type":"string"}},{"name":"pallet","in":"query","schema":{"type":"string"}},{"name":"name","in":"query","schema":{"type":"string"}},{"name":"block_id","in":"query","schema":{"type":"string"}},{"name":"block_height","in":"query","description":"Specific block to search","schema":{"type":"integer","format":"int32"}},{"name":"extrinsic_id","in":"query","schema":{"type":"string"}},{"name":"call_id","in":"query","schema":{"type":"string"}},{"name":"order","in":"query","schema":{"type":"string","enum":["index:asc","index:desc","pallet:asc","pallet:desc","extrinsic_address:asc","extrinsic_address:desc","call_id:asc","call_id:desc","phase:asc","phase:desc","name:asc","name:desc","block_id:asc","block_id:desc","id:asc","id:desc","extrinsic_id:asc","extrinsic_id:desc"]}},{"name":"limit","in":"query","description":"Accepts values 1-200.","schema":{"type":"integer","format":"int32","default":50}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32","default":1}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/v1/extrinsic":{"get":{"summary":"Get Extrinsic","description":"","operationId":"get-extrinsic-1","parameters":[{"name":"block_start","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"block_end","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"pallet_name","in":"query","schema":{"type":"string"}},{"name":"extrinsic_name","in":"query","schema":{"type":"string"}},{"name":"order","in":"query","schema":{"type":"string","enum":["version:asc","version:desc","call_id:asc","call_id:desc","index:asc","index:desc","hash:asc","hash:desc","id:asc","id:desc","block_id:asc","block_id:desc"]}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32","default":1}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32","default":50}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/v1/metagraph":{"get":{"summary":"Get Metagraph","description":"","operationId":"get-metagraph","parameters":[{"name":"block_number","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"subnet_id","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"neuron_uid","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"active","in":"query","schema":{"type":"boolean"}},{"name":"hotkey","in":"query","schema":{"type":"string"}},{"name":"coldkey","in":"query","schema":{"type":"string"}},{"name":"validator_permit","in":"query","schema":{"type":"boolean"}},{"name":"is_immunity_period","in":"query","schema":{"type":"boolean"}},{"name":"order","in":"query","schema":{"type":"string"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32","default":1}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32","default":50}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"count\": 1,\n  \"metagraph\": [\n    {\n      \"created_at\": 173100,\n      \"updated_at\": 638735,\n      \"block_number\": 638698,\n      \"net_uid\": 1,\n      \"neuron_uid\": 13,\n      \"stake\": \"3729945\",\n      \"trust\": 62651,\n      \"validator_trust\": 0,\n      \"consensus\": 66,\n      \"incentive\": 68,\n      \"dividends\": 0,\n      \"emission\": \"3729945\",\n      \"last_update\": 173100,\n      \"active\": false,\n      \"hotkey\": \"5HBjtBsTBwyR3d2JHJXU69aQ3vhiR7qs7mvLKSteVwG6aBtA\",\n      \"coldkey\": \"5EEg3fgCpi8AX82tCeuqBw4aqj6ZYT2WbekNJ5tDERJWQuuA\",\n      \"validator_permit\": false,\n      \"daily_reward\": \"271268727\",\n      \"registered_at\": 406870,\n      \"is_immunity_period\": false,\n      \"axon_info\": {\n        \"block\": 618733,\n        \"ip\": \"18.188.63.180\",\n        \"ipType\": 4,\n        \"placeholder1\": 0,\n        \"placeholder2\": 0,\n        \"port\": 50042,\n        \"protocol\": 4,\n        \"version\": 510\n      }\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"count":{"type":"integer","example":1,"default":0},"metagraph":{"type":"array","items":{"type":"object","properties":{"created_at":{"type":"integer","example":173100,"default":0},"updated_at":{"type":"integer","example":638735,"default":0},"block_number":{"type":"integer","example":638698,"default":0},"net_uid":{"type":"integer","example":1,"default":0},"neuron_uid":{"type":"integer","example":13,"default":0},"stake":{"type":"string","example":"3729945"},"trust":{"type":"integer","example":62651,"default":0},"validator_trust":{"type":"integer","example":0,"default":0},"consensus":{"type":"integer","example":66,"default":0},"incentive":{"type":"integer","example":68,"default":0},"dividends":{"type":"integer","example":0,"default":0},"emission":{"type":"string","example":"3729945"},"last_update":{"type":"integer","example":173100,"default":0},"active":{"type":"boolean","example":false,"default":true},"hotkey":{"type":"string","example":"5HBjtBsTBwyR3d2JHJXU69aQ3vhiR7qs7mvLKSteVwG6aBtA"},"coldkey":{"type":"string","example":"5EEg3fgCpi8AX82tCeuqBw4aqj6ZYT2WbekNJ5tDERJWQuuA"},"validator_permit":{"type":"boolean","example":false,"default":true},"daily_reward":{"type":"string","example":"271268727"},"registered_at":{"type":"integer","example":406870,"default":0},"is_immunity_period":{"type":"boolean","example":false,"default":true},"axon_info":{"type":"object","properties":{"block":{"type":"integer","example":618733,"default":0},"ip":{"type":"string","example":"18.188.63.180"},"ipType":{"type":"integer","example":4,"default":0},"placeholder1":{"type":"integer","example":0,"default":0},"placeholder2":{"type":"integer","example":0,"default":0},"port":{"type":"integer","example":50042,"default":0},"protocol":{"type":"integer","example":4,"default":0},"version":{"type":"integer","example":510,"default":0}}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/v1/metagraph/root":{"get":{"summary":"Get Root Subnet","description":"","operationId":"get-root-subnet","parameters":[{"name":"limit","in":"query","schema":{"type":"integer","format":"int32","default":50}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32","default":1}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/v1/pallet/event":{"get":{"summary":"Get Pallet Event","description":"","operationId":"get-pallet-event","parameters":[{"name":"pallet_kind","in":"query","schema":{"type":"string"}},{"name":"event_id","in":"query","schema":{"type":"string"}},{"name":"block_id","in":"query","schema":{"type":"string"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32","default":1}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32","default":50}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/v1/price":{"get":{"summary":"Get Price","description":"","operationId":"get-price","parameters":[{"name":"asset","in":"query","required":true,"schema":{"type":"string","default":"tao"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32","default":1}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32","default":50}},{"name":"order","in":"query","schema":{"type":"string","enum":["created_at:asc","created_at:desc"]}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"total\": 4266,\n  \"count\": 1,\n  \"prices\": [\n    {\n      \"created_at\": \"2024-05-31T20:00:03Z\",\n      \"updated_at\": \"2024-05-31T20:00:03Z\",\n      \"cmc_id\": 22974,\n      \"name\": \"Bittensor\",\n      \"symbol\": \"TAO\",\n      \"slug\": \"bittensor\",\n      \"circulating_supply\": \"6860411\",\n      \"max_supply\": \"21000000\",\n      \"total_supply\": \"6860411\",\n      \"last_updated\": \"2024-05-31T19:59:00Z\",\n      \"price\": \"392.6977237508296\",\n      \"volume_24h\": \"28874927.54718371\",\n      \"market_cap\": \"2694067783.695153\",\n      \"percent_change_1h\": \"0.17645095\",\n      \"percent_change_24h\": \"-1.20993\",\n      \"percent_change_7d\": \"-10.44975566\",\n      \"percent_change_30d\": \"5.14764291\",\n      \"percent_change_60d\": \"-25.39591413\",\n      \"percent_change_90d\": \"-40.63569235\",\n      \"market_cap_dominance\": \"0.1064\",\n      \"fully_diluted_market_cap\": \"8246652198.77\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"total":{"type":"integer","example":4266,"default":0},"count":{"type":"integer","example":1,"default":0},"prices":{"type":"array","items":{"type":"object","properties":{"created_at":{"type":"string","example":"2024-05-31T20:00:03Z"},"updated_at":{"type":"string","example":"2024-05-31T20:00:03Z"},"cmc_id":{"type":"integer","example":22974,"default":0},"name":{"type":"string","example":"Bittensor"},"symbol":{"type":"string","example":"TAO"},"slug":{"type":"string","example":"bittensor"},"circulating_supply":{"type":"string","example":"6860411"},"max_supply":{"type":"string","example":"21000000"},"total_supply":{"type":"string","example":"6860411"},"last_updated":{"type":"string","example":"2024-05-31T19:59:00Z"},"price":{"type":"string","example":"392.6977237508296"},"volume_24h":{"type":"string","example":"28874927.54718371"},"market_cap":{"type":"string","example":"2694067783.695153"},"percent_change_1h":{"type":"string","example":"0.17645095"},"percent_change_24h":{"type":"string","example":"-1.20993"},"percent_change_7d":{"type":"string","example":"-10.44975566"},"percent_change_30d":{"type":"string","example":"5.14764291"},"percent_change_60d":{"type":"string","example":"-25.39591413"},"percent_change_90d":{"type":"string","example":"-40.63569235"},"market_cap_dominance":{"type":"string","example":"0.1064"},"fully_diluted_market_cap":{"type":"string","example":"8246652198.77"}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/v1/price/ohlc":{"get":{"summary":"Get Price History","description":"","operationId":"get-price-history","parameters":[{"name":"asset","in":"query","required":true,"schema":{"type":"string","default":"tao"}},{"name":"period","in":"query","description":"Minute, Hour or day resolution.","schema":{"type":"string","enum":["1m","1h","1d"],"default":"1h"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32","default":1}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32","default":50}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/v1/price/summary":{"get":{"summary":"Get Price Summary","description":"","operationId":"get-price-summary","parameters":[{"name":"asset","in":"query","required":true,"schema":{"type":"string","default":"tao"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/v1/status":{"get":{"summary":"Get Status","description":"","operationId":"get-status","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/v1/subnet":{"get":{"summary":"Get Subnets","description":"","operationId":"get-subnets","parameters":[{"name":"subnet_id","in":"query","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/v1/subnet/description":{"get":{"summary":"Get Subnet Description","description":"","operationId":"get-subnet-description","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}{\n  \"count\": 33,\n  \"subnets\": [\n    {\n      \"subnet_id\": 0,\n      \"bittensor_id\": \"NA\",\n      \"name\": \"Root\",\n      \"description\": \"The root network is a meta subnet with id 0. This network determines the proportion of the network’s block emission to be distributed to each subnet network. This is currently set to 1 TAO for every block mined.  Like other subnetworks, the root network consists of a set of validators that set weights (W). These weights are then processed by Yuma Consensus to determine an emission vector (E). The difference is that the vector E has a length equal to the number of active subnetworks currently running on the chain and each e_i in E is the emission proportion that subnet i receives every block. The root network also doubles as the network senate. This senate is the top 12 keys on this network which have been granted veto power on proposals submitted by the triumvirate.\",\n      \"hw_requirements\": \"\",\n      \"github\": \"\",\n      \"image_url\": \"\"\n    },\n    {\n      \"subnet_id\": 1,\n      \"bittensor_id\": \"alpha\",\n      \"name\": \"Text Prompting\",\n      \"description\": \"This Subnet defines an incentive mechanism to create a distributed conversational AI.\",\n      \"hw_requirements\": \"https://github.com/opentensor/prompting/blob/main/min_compute.yml\",\n      \"github\": \"https://github.com/opentensor/prompting\",\n      \"image_url\": \"\"\n    },\n    {\n      \"subnet_id\": 2,\n      \"bittensor_id\": \"beta\",\n      \"name\": \"Omron\",\n      \"description\": \"Omron subnet, building cryptographically verified efficient and intelligent capital networks.\",\n      \"hw_requirements\": \"https://github.com/inference-labs-inc/omron-subnet?tab=readme-ov-file#run-the-miner\",\n      \"github\": \"https://github.com/inference-labs-inc/omron-subnet\",\n      \"image_url\": \"\"\n    },\n    {\n      \"subnet_id\": 3,\n      \"bittensor_id\": \"gamma\",\n      \"name\": \"MyShell TTS\",\n      \"description\": \"Text-to-Speech (TTS) models serve as the backbone for a wide range of applications, from virtual assistants to audiobooks. MyShell pioneers this field by open-sourcing the best TTS models, OpenVoice and MeloTTS. We believe that open-source TTS models are essential for the future of AI and are committed to building a decentralized ecosystem to support their development. Yet, the TTS landscape is still in its infancy. In this subnet, we aim to gather the wisdom of the whole open-source community to create the best open-source TTS models.\",\n      \"hw_requirements\": \"\",\n      \"github\": \"https://github.com/myshell-ai/MyShell-TTS-Subnet\",\n      \"image_url\": \"\"\n    },\n    {\n      \"subnet_id\": 4,\n      \"bittensor_id\": \"delta\",\n      \"name\": \"Multi Modality\",\n      \"description\": \"TARGON (Bittensor Subnet 4) is a redundant deterministic verification mechanism that can be used to interpret and analyze ground truth sources and a query.\",\n      \"hw_requirements\": \"https://github.com/manifold-inc/targon#compute-requirements\",\n      \"github\": \"https://github.com/manifold-inc/targon\",\n      \"image_url\": \"\"\n    },\n    {\n      \"subnet_id\": 5,\n      \"bittensor_id\": \"epsilon\",\n      \"name\": \"Open Kaito\",\n      \"description\": \"Kaito AI is committed to democratizing access to Web3 information through its established platform. However, the in-house approach to data collection, indexing, AI training, and ranking imposes operational burdens and stifles broader public innovation.\",\n      \"hw_requirements\": \"https://github.com/OpenKaito/openkaito/blob/main/min_compute.yml\",\n      \"github\": \"https://github.com/OpenKaito/openkaito\",\n      \"image_url\": \"\"\n    },\n    {\n      \"subnet_id\": 6,\n      \"bittensor_id\": \"zeta\",\n      \"name\": \"Nous Finetuning\",\n      \"description\": \"The Nous-Bittensor subnet rewards miners for fine-tuning Large Language Models (LLMs) with data generated from a continuous stream of synthetic data provided by subnet 18 (also on Bittensor). It is the first-ever continuous fine-tuning benchmark, with new data generated daily, and the first incentivized fine-tuning benchmark. Additionally, it is the first Bittensor subnet to perform true cross-boundary communication, where data from one subnet is utilized in a secondary subnet.\",\n      \"hw_requirements\": \"https://github.com/NousResearch/finetuning-subnet/blob/master/min_compute.yml\",\n      \"github\": \"https://github.com/NousResearch/finetuning-subnet\",\n      \"image_url\": \"\"\n    },\n    {\n      \"subnet_id\": 7,\n      \"bittensor_id\": \"eta\",\n      \"name\": \"Subvortex\",\n      \"description\": \"SubVortex introduces an incentivized and decentralized network of subtensor nodes that are pivotal elements within the Bittensor ecosystem. This delineates the structure, objectives, and mechanisms of SubVortex, aiming to foster decentralization, stability, and efficient resource allocation within the broader Bittensor network.\",\n      \"hw_requirements\": \"https://github.com/eclipsevortex/SubVortex/blob/main/min_compute.yml\",\n      \"github\": \"https://github.com/eclipsevortex/SubVortex\",\n      \"image_url\": \"\"\n    },\n    {\n      \"subnet_id\": 8,\n      \"bittensor_id\": \"theta\",\n      \"name\": \"Proprietary Trading Network\",\n      \"description\": \"PTN receives signals from quant and deep learning machine learning trading systems to deliver the world's most complete trading signals across a variety of asset classes.\",\n      \"hw_requirements\": \"https://github.com/taoshidev/proprietary-trading-network/blob/main/docs/miner.md\",\n      \"github\": \"https://github.com/taoshidev/proprietary-trading-network\",\n      \"image_url\": \"https://camo.githubusercontent.com/6f50fcc5d5dee8a6edfbaace39f44d187c3c3a792f62dcc7e2e4819912550e0a/68747470733a2f2f692e696d6775722e636f6d2f356854737039372e706e67\"\n    },\n    {\n      \"subnet_id\": 9,\n      \"bittensor_id\": \"iota\",\n      \"name\": \"Pretraining\",\n      \"description\": \"Bittensor subnet 9 rewards miners for producing pretrained Foundation-Models on the Falcon Refined Web dataset.\",\n      \"hw_requirements\": \"https://github.com/RaoFoundation/pretraining/blob/main/min_compute.yml\",\n      \"github\": \"https://github.com/RaoFoundation/pretraining\",\n      \"image_url\": \"\"\n    },\n    {\n      \"subnet_id\": 10,\n      \"bittensor_id\": \"kappa\",\n      \"name\": \"Apollo ZK\",\n      \"description\": \"Apollo Collaborative Zero-knowledge Proof Generation Subnet\",\n      \"hw_requirements\": \"https://github.com/apollozkp/zkp-subnet?tab=readme-ov-file#hardware-requirements\",\n      \"github\": \"https://github.com/apollozkp/zkp-subnet\",\n      \"image_url\": \"\"\n    },\n    {\n      \"subnet_id\": 11,\n      \"bittensor_id\": \"lambda\",\n      \"name\": \"Transcription\",\n      \"description\": \"Welcome to the Transcription Subnet, a pioneering decentralized AI network within the Bittensor ecosystem, designed to revolutionize the way we interact with audio-to-text technology. This initiative is a leap forward in democratizing access to cutting-edge AI capabilities, fostering a thriving community where contributors are incentivized for their valuable input.\",\n      \"hw_requirements\": \"https://github.com/Cazure8/transcription-subnet/blob/main/min_compute.yml\",\n      \"github\": \"https://github.com/Cazure8/transcription-subnet\",\n      \"image_url\": \"https://github.com/Cazure8/transcription-subnet/raw/main/docs/SN11.png\"\n    },\n    {\n      \"subnet_id\": 12,\n      \"bittensor_id\": \"mu\",\n      \"name\": \"Horde\",\n      \"description\": \"\",\n      \"hw_requirements\": \"\",\n      \"github\": \"https://github.com/backend-developers-ltd/ComputeHorde\",\n      \"image_url\": \"https://github.com/backend-developers-ltd/ComputeHorde/raw/master/ComputeHorde.png\"\n    },\n    {\n      \"subnet_id\": 13,\n      \"bittensor_id\": \"nu\",\n      \"name\": \"Dataverse\",\n      \"description\": \"Data Universe is a Bittensor subnet for collecting and storing large amounts of data from across a wide-range of sources, for use by other Subnets. It was built from the ground-up with a focus on decentralization and scalability.\",\n      \"hw_requirements\": \"https://github.com/RusticLuftig/data-universe/blob/main/docs/miner.md#system-requirements\",\n      \"github\": \"https://github.com/RusticLuftig/data-universe/\",\n      \"image_url\": \"\"\n    },\n    {\n      \"subnet_id\": 14,\n      \"bittensor_id\": \"xi\",\n      \"name\": \"LLm Defender\",\n      \"description\": \"The LLM Defender subnet provides Large Language Model (LLM) developers a way to decentralize the computing required to detect and prevent various attacks and exploits against LLM applications.\",\n      \"hw_requirements\": \"https://github.com/synapsec-ai/llm-defender-subnet/blob/main/min_compute.yml\",\n      \"github\": \"https://github.com/ceterum1/llm-defender-subnet\",\n      \"image_url\": \"\"\n    },\n    {\n      \"subnet_id\": 15,\n      \"bittensor_id\": \"omicron\",\n      \"name\": \"Blockchain Insights\",\n      \"description\": \"Blockchain Insights Subnet is an innovative project focusing on transforming raw blockchain data into structured graph models. This project aims to provide comprehensive insights into various blockchain activities, including simple transactions, DeFi protocol transactions, and NFT exchanges.\",\n      \"hw_requirements\": \"https://github.com/blockchain-insights/blockchain-data-subnet/blob/main/min_compute.yml\",\n      \"github\": \"https://github.com/blockchain-insights/blockchain-data-subnet\",\n      \"image_url\": \"\"\n    },\n    {\n      \"subnet_id\": 16,\n      \"bittensor_id\": \"pi\",\n      \"name\": \"BitAds\",\n      \"description\": \"Revolutionizing Online Advertising with Decentralization. Discover how BitAds leverages the Bittensor Network to offer cost-effective, high-quality advertising through a unique incentive mechanism for miners and validators.\",\n      \"hw_requirements\": \"https://github.com/eseckft/BitAds.ai/blob/main/min_compute.yml\",\n      \"github\": \"https://github.com/eseckft/BitAds.ai/\",\n      \"image_url\": \"https://github.com/eseckft/BitAds.ai/raw/main/docs/bitads.png\"\n    },\n    {\n      \"subnet_id\": 17,\n      \"bittensor_id\": \"rho\",\n      \"name\": \"Three Gen\",\n      \"description\": \"This subnet aims to kickstart the next revolution in gaming around AI native games, ultimately leveraging the broader Bittensor ecosystem to facilitate experiences in which assets, voice and sound are all generated at runtime.\",\n      \"hw_requirements\": \"https://github.com/404-Repo/three-gen-subnet?tab=readme-ov-file#hardware-requirements\",\n      \"github\": \"https://github.com/404-Repo/three-gen-subnet\",\n      \"image_url\": \"\"\n    },\n    {\n      \"subnet_id\": 18,\n      \"bittensor_id\": \"sigma\",\n      \"name\": \"Cortex.t\",\n      \"description\": \"Cortex.t stands at the forefront of artificial intelligence, offering a dual-purpose solution that caters to the needs of app developers and innovators in the AI space. This platform is meticulously designed to deliver reliable, high-quality text and image responses through API usage, utilising the decentralised Bittensor network. It serves as a cornerstone for creating a fair, transparent, and manipulation-free environment for the incentivised production of intelligence (mining) and generation and fulfilment of diverse user prompts.\",\n      \"hw_requirements\": \"https://github.com/corcel-api/cortex.t/blob/main/min_compute.yml\",\n      \"github\": \"https://github.com/corcel-api/cortex.t\",\n      \"image_url\": \"\"\n    },\n    {\n      \"subnet_id\": 19,\n      \"bittensor_id\": \"tau\",\n      \"name\": \"Vision\",\n      \"description\": \"Subnet 19 is a Bittensor subnetwork, focused around inference at scale, with an initial focus on image generation & manipulation models.\",\n      \"hw_requirements\": \"https://docs.taostats.io/docs/subnet-19-vision#Requirements\",\n      \"github\": \"https://github.com/namoray/vision\",\n      \"image_url\": \"\"\n    },\n    {\n      \"subnet_id\": 20,\n      \"bittensor_id\": \"upsilon\",\n      \"name\": \"BitAgent\",\n      \"description\": \"BitAgent revolutionizes how you manage tasks and workflows across platforms, merging the capabilities of large language models (LLMs) with the convenience of your favorite apps such as web browsers, Discord, and custom integrations. BitAgent empowers users to seamlessly integrate intelligent agents, providing personalized assistance and integrated task automation.\",\n      \"hw_requirements\": \"https://github.com/RogueTensor/bitagent_subnet/blob/main/min_compute.yml\",\n      \"github\": \"https://github.com/RogueTensor/bitagent_subnet\",\n      \"image_url\": \"\"\n    },\n    {\n      \"subnet_id\": 21,\n      \"bittensor_id\": \"phi\",\n      \"name\": \"Filetao\",\n      \"description\": \"FileTAO (Bittensor Subnet 21) implements a novel, multi-layered zero-knowledge interactive proof-of-spacetime algorithm by cleverly using Pedersen commitments, random challenges leveraging elliptic curve cryptography, sequential seed-based chained hash verification, and merkle proofs to achieve an efficient, robust, secure, and highly available decetralized storage system on the Bittensor network. The system validates on encrypted user data, such that miners are unaware of what data they are storing, and only end-users may encrypt/decrypt the data they provide with their bittensor wallet coldkey.\",\n      \"hw_requirements\": \"https://github.com/ifrit98/storage-subnet/blob/main/min_compute.yml\",\n      \"github\": \"https://github.com/ifrit98/storage-subnet\",\n      \"image_url\": \"https://github.com/ifrit98/storage-subnet/raw/main/assets/Subnet21.png\"\n    },\n    {\n      \"subnet_id\": 22,\n      \"bittensor_id\": \"chi\",\n      \"name\": \"Metasearch\",\n      \"description\": \"Welcome to Smart-Scrape, a cutting-edge tool hosted on the Bittensor network, designed for effective and simplified analysis of Twitter data. This tool is ideal for researchers, marketers, and data analysts who seek to extract insightful information from Twitter with ease.\",\n      \"hw_requirements\": \"\",\n      \"github\": \"https://github.com/surcyf123/smart-scrape/\",\n      \"image_url\": \"\"\n    },\n    {\n      \"subnet_id\": 23,\n      \"bittensor_id\": \"psi\",\n      \"name\": \"Niche Image\",\n      \"description\": \"NicheImage is a decentralized network that utilizes the Bittensor protocol to enable distributed image generation.\",\n      \"hw_requirements\": \"https://docs.taostats.io/docs/subnet-23-niche-image#setup-instructions-for-miners\",\n      \"github\": \"https://github.com/NicheTensor/NicheImage\",\n      \"image_url\": \"\"\n    },\n    {\n      \"subnet_id\": 24,\n      \"bittensor_id\": \"omega\",\n      \"name\": \"Omega\",\n      \"description\": \"Welcome to the OMEGA Labs Bittensor subnet, a groundbreaking initiative that aims to create the world's largest decentralized multimodal dataset for accelerating Artificial General Intelligence (AGI) research and development. Our mission is to democratize access to a vast and diverse dataset that captures the landscape of human knowledge and creation, empowering researchers and developers to push the boundaries of AGI.\",\n      \"hw_requirements\": \"https://github.com/omegalabsinc/omegalabs-bittensor-subnet/blob/main/min_compute.yml\",\n      \"github\": \"https://github.com/omegalabsinc/omegalabs-bittensor-subnet\",\n      \"image_url\": \"https://github.com/omegalabsinc/omegalabs-bittensor-subnet/raw/main/docs/galacticlandscape.png\"\n    },\n    {\n      \"subnet_id\": 25,\n      \"bittensor_id\": \"alef\",\n      \"name\": \"hivetrain\",\n      \"description\": \"\",\n      \"hw_requirements\": \"\",\n      \"github\": \"https://github.com/KMFODA/DistributedTraining\",\n      \"image_url\": \"https://github.com/KMFODA/DistributedTraining/raw/main/assets/Subnet25.jpg\"\n    },\n    {\n      \"subnet_id\": 26,\n      \"bittensor_id\": \"bet\",\n      \"name\": \"Image Alchemy\",\n      \"description\": \"\",\n      \"hw_requirements\": \"https://docs.google.com/document/d/1FzZe5EskEV0Q6BkOuVkqCrIEexzQZd_134eT74B7hPA/edit\",\n      \"github\": \"https://github.com/Supreme-Emperor-Wang/ImageAlchemy\",\n      \"image_url\": \"\"\n    },\n    {\n      \"subnet_id\": 27,\n      \"bittensor_id\": \"gimel\",\n      \"name\": \"Compute\",\n      \"description\": \"This repository serves as a compute-composable subnet, integrating various cloud platforms (e.g., Runpod, Lambda, AWS) into a cohesive unit. Its purpose is to enable higher-level cloud platforms to offer seamless compute composability across different underlying platforms. \",\n      \"hw_requirements\": \"https://github.com/neuralinternet/compute-subnet/blob/main/min_compute.yml\",\n      \"github\": \"https://github.com/neuralinternet/compute-subnet\",\n      \"image_url\": \"\"\n    },\n    {\n      \"subnet_id\": 28,\n      \"bittensor_id\": \"dalet\",\n      \"name\": \"Foundry S&P 500 Oracle\",\n      \"description\": \"Foundry is launching Foundry S&P 500 Oracle to incentivize miners to make predictions on the S&P 500 price frequently throughout trading hours. Validators send miners a timestamp (a future time) for which the miners need to make an S&P 500 price prediction for.\",\n      \"hw_requirements\": \"https://docs.taostats.io/docs/subnet-28-sp-500-oracle#compute-requirements\",\n      \"github\": \"https://github.com/teast21/snpOracle\",\n      \"image_url\": \"https://github.com/teast21/snpOracle/raw/main/accelerate.png\"\n    },\n    {\n      \"subnet_id\": 29,\n      \"bittensor_id\": \"he\",\n      \"name\": \"Fractal Research\",\n      \"description\": \"Fractal, taking inspiration from Manifold Labs' Deterministic Verification Network, is utilizing deterministic verification to create a grid of decentralized nodes to perform inference for video generation.\",\n      \"hw_requirements\": \"https://docs.taostats.io/docs/subnet-5-fractal-research#compute-requirements\",\n      \"github\": \"https://github.com/fractal-net/fractal\",\n      \"image_url\": \"\"\n    },\n    {\n      \"subnet_id\": 30,\n      \"bittensor_id\": \"wav\",\n      \"name\": \"womboAI\",\n      \"description\": \"\",\n      \"hw_requirements\": \"https://github.com/womboai/wombo-bittensor-subnet/blob/main/min_compute.yml\",\n      \"github\": \"https://github.com/womboai/wombo-bittensor-subnet\",\n      \"image_url\": \"\"\n    },\n    {\n      \"subnet_id\": 31,\n      \"bittensor_id\": \"zayin\",\n      \"name\": \"NAS Chain\",\n      \"description\": \"Neural Architecture Search (NAS) is a critical field in machine learning that focuses on automating the design of artificial neural network architectures.\",\n      \"hw_requirements\": \"https://github.com/nimaaghli/NASChain/blob/main/min_compute.yml\",\n      \"github\": \"https://github.com/nimaaghli/NASChain\",\n      \"image_url\": \"https://github.com/nimaaghli/NASChain/raw/main/imgs/naschain_logo.png\"\n    },\n    {\n      \"subnet_id\": 32,\n      \"bittensor_id\": \"chet\",\n      \"name\": \"It's AI\",\n      \"description\": \"Our subnet focuses on the detection of AI-generated content. Given the rapid growth of LLM-generated text, such as ChatGPT's output of 100 billion words daily compared to humans' 100 trillion, we believe that the ability to accurately determine AI-generated text will become increasingly necessary.\",\n      \"hw_requirements\": \"https://github.com/It-s-AI/llm-detection/blob/main/min_compute.yml\",\n      \"github\": \"https://github.com/It-s-AI/llm-detection\",\n      \"image_url\": \"\"\n    }\n  ]\n}"}}}}}},"deprecated":false}},"/api/v1/subnet/owner":{"get":{"summary":"Get Subnet Owner","description":"","operationId":"get-subnet-owner","parameters":[{"name":"latest","in":"query","description":"True for current subnets.  False will return de-registered subnets. Blank returns all.","schema":{"type":"boolean"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/v1/transaction":{"get":{"summary":"Get Transaction","description":"","operationId":"get-transaction","parameters":[{"name":"address","in":"query","schema":{"type":"string"}},{"name":"transaction_id","in":"query","schema":{"type":"string"}},{"name":"block_start","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"block_end","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"order","in":"query","schema":{"type":"string","enum":["timestamp:asc","timestamp:desc","fee:asc","fee:desc","to_id:asc","to_id:desc","block_number:asc","block_number:desc","from_id:asc","from_id:desc","amount:asc","amount:desc","network:asc","network:desc","extrinsic_id:asc","extrinsic_id:desc","id:asc","id:desc"]}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32","default":1}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32","default":50}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/v1/validator":{"get":{"summary":"Get Validators","description":"","operationId":"get-validators","parameters":[{"name":"address","in":"query","description":"Hotkey","schema":{"type":"string"}},{"name":"order","in":"query","schema":{"type":"string","enum":["timestamp:asc","tmestamp:desc","amount:asc","amount:desc","nominator_change:asc","nominator_change:desc","validator_stake:asc","validator_stake:desc","id:asc","id:desc","registrations:asc","registrations:desc","nominator_return_per_k:asc","nominator_return_per_k:desc","amount_change:asc","amount_change:desc","address:asc","address:desc","validator_permits:asc","validator_permits:desc","block_number:asc","block_number:desc","nominators:Asc","nominators:desc","owner_id:asc","owner_id:desc"]}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32","default":1}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32","default":50}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/v1/validator/history":{"get":{"summary":"Get Validator History","description":"Hourly data of Validator state","operationId":"get-validator-history","parameters":[{"name":"address","in":"query","description":"Validator Hotkey","schema":{"type":"string"}},{"name":"order","in":"query","schema":{"type":"string","enum":["timestamp:asc","timestamp:desc","block_number:asc","block_number:desc","nominator_change:asc","nominator_change:desc","amount_change:asc","amount_change:desc","nominators:asc","nominators:desc","owner:asc","owner:desc","amount:asc","amount:desc","validator_permits:asc","validator_permits:desc","registrations:asc","registrations:desc","id:asc","id:desc","validator_stake:asc","validator_stake:desc"]}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32","default":1}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32","default":50}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}