{
  "openapi": "3.1.0",
  "info": {
    "title": "taostats-1",
    "version": "2.0"
  },
  "servers": [
    {
      "url": "https://api.taostats.io"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/api/price/latest/v1": {
      "get": {
        "summary": "Get Price",
        "description": "",
        "operationId": "get-price-1",
        "parameters": [
          {
            "name": "asset",
            "in": "query",
            "description": "The asset to be queried. Only 'tao' is supported.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "tao"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "pagination": {
                        "current_page": 1,
                        "per_page": 1,
                        "total_items": 1,
                        "total_pages": 1,
                        "next_page": null,
                        "prev_page": null
                      },
                      "data": [
                        {
                          "created_at": "2025-11-20T15:30:00Z",
                          "updated_at": "2025-11-20T15:30:00Z",
                          "name": "Bittensor",
                          "symbol": "TAO",
                          "slug": "bittensor",
                          "circulating_supply": "10340832.6260981",
                          "max_supply": "21000000",
                          "total_supply": "21000000",
                          "last_updated": "2025-11-20T15:28:00Z",
                          "price": "322.124618259631",
                          "volume_24h": "230294320.887392",
                          "market_cap": "3331036762.1686",
                          "percent_change_1h": "-1.64027229",
                          "percent_change_24h": "-0.27030205",
                          "percent_change_7d": "-8.52135883",
                          "percent_change_30d": "-23.22652564",
                          "percent_change_60d": "-6.09463017",
                          "percent_change_90d": "-9.49256753",
                          "market_cap_dominance": "0.1076",
                          "fully_diluted_market_cap": "6764616983.45"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "per_page": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "total_items": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "total_pages": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "next_page": {},
                        "prev_page": {}
                      }
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "example": "2025-02-26T13:45:02Z"
                          },
                          "updated_at": {
                            "type": "string",
                            "example": "2025-02-26T13:45:02Z"
                          },
                          "name": {
                            "type": "string",
                            "example": "Bittensor"
                          },
                          "symbol": {
                            "type": "string",
                            "example": "TAO"
                          },
                          "slug": {
                            "type": "string",
                            "example": "bittensor"
                          },
                          "circulating_supply": {
                            "type": "string",
                            "example": "8398025"
                          },
                          "max_supply": {
                            "type": "string",
                            "example": "21000000"
                          },
                          "total_supply": {
                            "type": "string",
                            "example": "8398025"
                          },
                          "last_updated": {
                            "type": "string",
                            "example": "2025-02-26T13:44:00Z"
                          },
                          "price": {
                            "type": "string",
                            "example": "366.499646341234"
                          },
                          "volume_24h": {
                            "type": "string",
                            "example": "263821126.141511"
                          },
                          "market_cap": {
                            "type": "string",
                            "example": "3077873192.46484"
                          },
                          "percent_change_1h": {
                            "type": "string",
                            "example": "-0.88079436"
                          },
                          "percent_change_24h": {
                            "type": "string",
                            "example": "-0.250314"
                          },
                          "percent_change_7d": {
                            "type": "string",
                            "example": "-11.00275914"
                          },
                          "percent_change_30d": {
                            "type": "string",
                            "example": "-14.498297"
                          },
                          "percent_change_60d": {
                            "type": "string",
                            "example": "-21.61015966"
                          },
                          "percent_change_90d": {
                            "type": "string",
                            "example": "-34.25472829"
                          },
                          "market_cap_dominance": {
                            "type": "string",
                            "example": "0.1074"
                          },
                          "fully_diluted_market_cap": {
                            "type": "string",
                            "example": "7696492573.17"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "text",
              "code": "  \"created_at\": record creation time\n  \"updated_at\": record updated time\n  \"name\": \"Bittensor\",\n  \"symbol\": \"TAO\",\n  \"slug\": \"bittensor\",\n  \"circulating_supply\": tokens in supply,\n  \"max_supply\": max supply,\n  \"total_supply\": total supply,\n  \"last_updated\": \"2025-04-28T00:59:00Z\",\n  \"price\": price in USD,\n  \"volume_24h\": 24h volumne in USD,\n  \"market_cap\": USD,\n  \"percent_change_1h\": 1 hour change,\n  \"percent_change_24h\": 1 day change,\n  \"percent_change_7d\": 1 week change,\n  \"percent_change_30d\": 1 month change,\n  \"percent_change_60d\": \"0.86471986\",\n  \"percent_change_90d\": \"-18.23971581\",\n  \"market_cap_dominance\": ,\n  \"fully_diluted_market_cap\":",
              "name": "output"
            }
          ],
          "samples-languages": [
            "text"
          ]
        }
      }
    },
    "/api/price/history/v1": {
      "get": {
        "summary": "Get Price History",
        "description": "",
        "operationId": "get-price-history-1",
        "parameters": [
          {
            "name": "asset",
            "in": "query",
            "description": "default value TAO",
            "required": true,
            "schema": {
              "type": "string",
              "default": "TAO"
            }
          },
          {
            "name": "timestamp_start",
            "in": "query",
            "description": "Start of timestamp range in Unix timestamp (seconds since 1970-01-01) (inclusive)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "timestamp_end",
            "in": "query",
            "description": "Start of timestamp range in Unix timestamp (seconds since 1970-01-01) (inclusive)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number of the response.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of responses. max is 200,",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order of the responses.",
            "schema": {
              "type": "string",
              "enum": [
                "timestamp_asc",
                "timestamp_desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "pagination": {
                        "current_page": 1,
                        "per_page": 1,
                        "total_items": 55708,
                        "total_pages": 55708,
                        "next_page": 2,
                        "prev_page": null
                      },
                      "data": [
                        {
                          "created_at": "2025-11-20T15:30:00Z",
                          "updated_at": "2025-11-20T15:30:00Z",
                          "name": "Bittensor",
                          "symbol": "TAO",
                          "slug": "bittensor",
                          "circulating_supply": "10340832.6260981",
                          "max_supply": "21000000",
                          "total_supply": "21000000",
                          "last_updated": "2025-11-20T15:28:00Z",
                          "price": "322.124618259631",
                          "volume_24h": "230294320.887392",
                          "market_cap": "3331036762.1686",
                          "percent_change_1h": "-1.64027229",
                          "percent_change_24h": "-0.27030205",
                          "percent_change_7d": "-8.52135883",
                          "percent_change_30d": "-23.22652564",
                          "percent_change_60d": "-6.09463017",
                          "percent_change_90d": "-9.49256753",
                          "market_cap_dominance": "0.1076",
                          "fully_diluted_market_cap": "6764616983.45"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "per_page": {
                          "type": "integer",
                          "example": 50,
                          "default": 0
                        },
                        "total_items": {
                          "type": "integer",
                          "example": 30152,
                          "default": 0
                        },
                        "total_pages": {
                          "type": "integer",
                          "example": 604,
                          "default": 0
                        },
                        "next_page": {
                          "type": "integer",
                          "example": 2,
                          "default": 0
                        },
                        "prev_page": {}
                      }
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "example": "2025-02-26T13:45:02Z"
                          },
                          "updated_at": {
                            "type": "string",
                            "example": "2025-02-26T13:45:02Z"
                          },
                          "name": {
                            "type": "string",
                            "example": "Bittensor"
                          },
                          "symbol": {
                            "type": "string",
                            "example": "TAO"
                          },
                          "slug": {
                            "type": "string",
                            "example": "bittensor"
                          },
                          "circulating_supply": {
                            "type": "string",
                            "example": "8398025"
                          },
                          "max_supply": {
                            "type": "string",
                            "example": "21000000"
                          },
                          "total_supply": {
                            "type": "string",
                            "example": "8398025"
                          },
                          "last_updated": {
                            "type": "string",
                            "example": "2025-02-26T13:44:00Z"
                          },
                          "price": {
                            "type": "string",
                            "example": "366.499646341234"
                          },
                          "volume_24h": {
                            "type": "string",
                            "example": "263821126.141511"
                          },
                          "market_cap": {
                            "type": "string",
                            "example": "3077873192.46484"
                          },
                          "percent_change_1h": {
                            "type": "string",
                            "example": "-0.88079436"
                          },
                          "percent_change_24h": {
                            "type": "string",
                            "example": "-0.250314"
                          },
                          "percent_change_7d": {
                            "type": "string",
                            "example": "-11.00275914"
                          },
                          "percent_change_30d": {
                            "type": "string",
                            "example": "-14.498297"
                          },
                          "percent_change_60d": {
                            "type": "string",
                            "example": "-21.61015966"
                          },
                          "percent_change_90d": {
                            "type": "string",
                            "example": "-34.25472829"
                          },
                          "market_cap_dominance": {
                            "type": "string",
                            "example": "0.1074"
                          },
                          "fully_diluted_market_cap": {
                            "type": "string",
                            "example": "7696492573.17"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "text",
              "code": "{\n  \"created_at\": \"2025-04-28T15:45:04Z\",\n  \"updated_at\": \"2025-04-28T15:45:04Z\",\n  \"name\": \"Bittensor\",\n  \"symbol\": \"TAO\",\n  \"slug\": \"bittensor\",\n  \"circulating_supply\":\"8687103\" amount of token in circulation,\n  \"max_supply\": \"21000000\" the max number of tokens,\n  \"total_supply\": \"8687103\" ,\n  \"last_updated\": \"2025-04-28T15:44:00Z\",\n  \"price\": \"361.919486420088\" price in USD,\n  \"volume_24h\": \"193875141.332405\" Volume in USD,\n  \"market_cap\": \"3144031856.2384\" Market cap in USD,\n  \"percent_change_1h\": \"-3.72273857\" hourly price delta %,\n  \"percent_change_24h\": \"3.02800653\" daily price delta %,\n  \"percent_change_7d\": \"14.53687118\" weekly price delta %,\n  \"percent_change_30d\": \"60.5253009\" monthly price delta %,\n  \"percent_change_60d\": \"3.36943051\" 2 month price delta %,\n  \"percent_change_90d\": \"-20.46854563\" quarterly price delta %,\n  \"market_cap_dominance\": \"0.1071\",\n  \"fully_diluted_market_cap\": \"7600309214.82\" market cap with todays price and full issuance\n},",
              "name": "output"
            }
          ],
          "samples-languages": [
            "text"
          ]
        }
      }
    },
    "/api/price/ohlc/v1": {
      "get": {
        "summary": "Get Price OHLC",
        "description": "",
        "operationId": "get-price-ohlc",
        "parameters": [
          {
            "name": "asset",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "tao"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "One hour, one day or one month.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "1h",
                "1d",
                "1m"
              ],
              "default": "1d"
            }
          },
          {
            "name": "timestamp_start",
            "in": "query",
            "description": "Start of timestamp range in Unix timestamp (seconds since 1970-01-01) (inclusive)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "timestamp_end",
            "in": "query",
            "description": "Start of timestamp range in Unix timestamp (seconds since 1970-01-01) (inclusive)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number of the response.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of responses. max is 200,",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "pagination": {
                        "current_page": 1,
                        "per_page": 2,
                        "total_items": 1244,
                        "total_pages": 622,
                        "next_page": 2,
                        "prev_page": null
                      },
                      "data": [
                        {
                          "period": "1d",
                          "timestamp": "2025-11-20T00:00:00Z",
                          "asset": "TAO",
                          "volume_24h": "230294320.8873",
                          "open": "325.3599",
                          "high": "331.0745",
                          "low": "320.7431",
                          "close": "322.1246"
                        },
                        {
                          "period": "1d",
                          "timestamp": "2025-11-19T00:00:00Z",
                          "asset": "TAO",
                          "volume_24h": "243937888.2554",
                          "open": "332.0990",
                          "high": "333.4534",
                          "low": "306.0315",
                          "close": "324.6631"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "per_page": {
                          "type": "integer",
                          "example": 50,
                          "default": 0
                        },
                        "total_items": {
                          "type": "integer",
                          "example": 977,
                          "default": 0
                        },
                        "total_pages": {
                          "type": "integer",
                          "example": 20,
                          "default": 0
                        },
                        "next_page": {
                          "type": "integer",
                          "example": 2,
                          "default": 0
                        },
                        "prev_page": {}
                      }
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "period": {
                            "type": "string",
                            "example": "1d"
                          },
                          "timestamp": {
                            "type": "string",
                            "example": "2025-02-26T00:00:00Z"
                          },
                          "asset": {
                            "type": "string",
                            "example": "TAO"
                          },
                          "volume_24h": {
                            "type": "string",
                            "example": "263821126.1415"
                          },
                          "open": {
                            "type": "string",
                            "example": "379.5458"
                          },
                          "high": {
                            "type": "string",
                            "example": "385.8701"
                          },
                          "low": {
                            "type": "string",
                            "example": "363.6157"
                          },
                          "close": {
                            "type": "string",
                            "example": "366.4996"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "text",
              "code": " {\n      \"period\": \"1d\" time period selected,\n      \"timestamp\": \"2025-04-28T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"193875141.3324\"volume in USD,\n      \"open\": \"361.6671\" open price,\n      \"high\": \"388.2342\" high price,\n      \"low\": \"346.4353\"low price,\n      \"close\": \"361.9194\" close price\n    },",
              "name": "output"
            }
          ],
          "samples-languages": [
            "text"
          ]
        }
      }
    },
    "/api/account/latest/v1": {
      "get": {
        "summary": "Get Account",
        "description": "Gives most recent coldkey balance (from the database)",
        "operationId": "get-account",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "Address String to query.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "network",
            "in": "query",
            "description": "Finney is the current network.  Nakamoto and kusanagi added for historical data.",
            "schema": {
              "type": "string",
              "enum": [
                "finney",
                "nakamoto",
                "kusanagi"
              ],
              "default": "Finney"
            }
          },
          {
            "name": "balance_free_min",
            "in": "query",
            "description": "Min free balance in rao",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "balance_free_max",
            "in": "query",
            "description": "in rao",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "balance_staked_min",
            "in": "query",
            "description": "in rao",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "balance_staked_max",
            "in": "query",
            "description": "in rao",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "balance_total_min",
            "in": "query",
            "description": "in rao",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "balance_total_max",
            "in": "query",
            "description": "in rao",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "balance_free_asc",
                "balance_free_desc",
                "balance_staked_asc",
                "balance_staked_desc",
                "balance_total_asc",
                "balance_total_desc"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of entries to retrieve.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of entries to return. Max value is 200.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "pagination": {
                        "current_page": 1,
                        "per_page": 1,
                        "total_items": 391292,
                        "total_pages": 391292,
                        "next_page": 2,
                        "prev_page": null
                      },
                      "data": [
                        {
                          "address": {
                            "ss58": "5Hd2ze5ug8n1bo3UCAcQsf66VNjKqGos8u6apNfzcU86pg4N",
                            "hex": "0xf5d5714c084c112843aca74f8c498da06cc5a2d63153b825189baa51043b1f0b"
                          },
                          "network": "finney",
                          "block_number": 6924071,
                          "timestamp": "2025-11-20T13:11:36.001Z",
                          "rank": 1,
                          "balance_free": "868823006715716",
                          "balance_staked": "4119797",
                          "balance_staked_alpha_as_tao": "4119797",
                          "balance_staked_root": "0",
                          "root_claim_type": "Swap",
                          "balance_liquidity": "0",
                          "balance_total": "868823010835513",
                          "balance_reserved": "0",
                          "balance_free_24hr_ago": null,
                          "balance_reserved_24hr_ago": null,
                          "balance_staked_24hr_ago": null,
                          "balance_staked_alpha_as_tao_24hr_ago": null,
                          "balance_staked_root_24hr_ago": null,
                          "balance_liquidity_24hr_ago": null,
                          "balance_total_24hr_ago": null,
                          "created_on_date": "2025-02-26",
                          "created_on_network": "finney",
                          "coldkey_swap": null,
                          "alpha_balances": null,
                          "alpha_balances_24hr_ago": null
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "per_page": {
                          "type": "integer",
                          "example": 50,
                          "default": 0
                        },
                        "total_items": {
                          "type": "integer",
                          "example": 205362,
                          "default": 0
                        },
                        "total_pages": {
                          "type": "integer",
                          "example": 4108,
                          "default": 0
                        },
                        "next_page": {
                          "type": "integer",
                          "example": 2,
                          "default": 0
                        },
                        "prev_page": {}
                      }
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "object",
                            "properties": {
                              "ss58": {
                                "type": "string",
                                "example": "5GBnPzvPghS8AuCoo6bfnK7JUFHuyUhWSFD4woBNsKnPiEUi"
                              },
                              "hex": {
                                "type": "string",
                                "example": "0xb656ef6d8fa3ae7a7800906b6ea83a7c1320041290002c3ae7b1e4c68b1e4a67"
                              }
                            }
                          },
                          "network": {
                            "type": "string",
                            "example": "finney"
                          },
                          "block_number": {
                            "type": "integer",
                            "example": 5011596,
                            "default": 0
                          },
                          "timestamp": {
                            "type": "string",
                            "example": "2025-02-26T13:52:48Z"
                          },
                          "rank": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "balance_free": {
                            "type": "string",
                            "example": "777150581296935"
                          },
                          "balance_staked": {
                            "type": "string",
                            "example": "0"
                          },
                          "balance_staked_alpha_as_tao": {
                            "type": "string",
                            "example": "0"
                          },
                          "balance_staked_root": {
                            "type": "string",
                            "example": "0"
                          },
                          "balance_total": {
                            "type": "string",
                            "example": "777150581296935"
                          },
                          "created_on_date": {
                            "type": "string",
                            "example": "2024-04-09"
                          },
                          "created_on_network": {
                            "type": "string",
                            "example": "finney"
                          },
                          "coldkey_swap": {}
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "text",
              "code": "{\n      \"address\": {\n        \"ss58\": \"5Hd2ze5ug8n1bo3UCAcQsf66VNjKqGos8u6apNfzcU86pg4N\",\n        \"hex\": \"0xf5d5714c084c112843aca74f8c498da06cc5a2d63153b825189baa51043b1f0b\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 5451353b,\n      \"timestamp\": \"2025-04-28T15:44:12Z\",\n      \"rank\": 1,\n      \"balance_free\": \"658285656729475\" free tao as rao,\n      \"balance_staked\": \"0\" total tao staked as rao,\n      \"balance_staked_alpha_as_tao\": \"0\"tao staked in alpha as rao,\n      \"balance_staked_root\": \"0\" tao staked to root as rao,\n      \"balance_total\": \"658285656729475\" total balance as rao,\n      \"balance_free_24hr_ago\": nul  balance change 24 hours (only populated with address in query),\n      \"balance_staked_24hr_ago\": null (only populated with address in query),\n      \"balance_staked_alpha_as_tao_24hr_ago\": null (only populated with address in query),\n      \"balance_staked_root_24hr_ago\": null (only populated with address in query), \n      \"balance_total_24hr_ago\": null (only populated with address in query),\n      \"created_on_date\": \"2025-02-26\" wallet creation date,\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },",
              "name": "output"
            }
          ],
          "samples-languages": [
            "text"
          ]
        }
      }
    },
    "/api/account/history/v1": {
      "get": {
        "summary": "Get Account History",
        "description": "Gives most recent coldkey balance (from the database)",
        "operationId": "get-account-history",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "Address String to query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "network",
            "in": "query",
            "description": "Finney is the current network.  nalamoto and kusanagi added for historical data.",
            "schema": {
              "type": "string",
              "enum": [
                "finney",
                "nakamoto",
                "kusanagi"
              ],
              "default": "finney"
            }
          },
          {
            "name": "block_number",
            "in": "query",
            "description": "Block for data",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "block_start",
            "in": "query",
            "description": "block number for start of range",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "block_end",
            "in": "query",
            "description": "block number for end of range",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "timestamp_start",
            "in": "query",
            "description": "Start of timestamp range in Unix timestamp (seconds since 1970-01-01) (inclusive)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "timestamp_end",
            "in": "query",
            "description": "End of timestamp range in Unix timestamp (seconds since 1970-01-01) (inclusive)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "block_number_asc",
                "block_number_desc",
                "timestamp_asc",
                "timestamp_desc"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of entries to retrieve.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of entries to return. Max value is 200.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "pagination": {
                        "current_page": 1,
                        "per_page": 5,
                        "total_items": 607,
                        "total_pages": 122,
                        "next_page": 2,
                        "prev_page": null
                      },
                      "data": [
                        {
                          "address": {
                            "ss58": "5DCaUSocqajoo8v2936aPAGV5QBYdVhRBTLMoYUsuF8LqyEM",
                            "hex": "0x323d57bfbf584d04cb390b4ade567aba4628b6d34b4484035ff6c2f9ee42c827"
                          },
                          "network": "finney",
                          "block_number": 6920112,
                          "timestamp": "2025-11-19T23:59:48Z",
                          "rank": 5605,
                          "balance_free": "19349963",
                          "balance_reserved": "93000000",
                          "balance_staked": "100074319189",
                          "balance_staked_alpha_as_tao": "0",
                          "balance_staked_root": "100074319189",
                          "root_claim_type": "Swap",
                          "balance_liquidity": "0",
                          "balance_total": "100186669152",
                          "created_on_date": "2024-03-23",
                          "created_on_network": "finney",
                          "coldkey_swap": null
                        },
                        {
                          "address": {
                            "ss58": "5DCaUSocqajoo8v2936aPAGV5QBYdVhRBTLMoYUsuF8LqyEM",
                            "hex": "0x323d57bfbf584d04cb390b4ade567aba4628b6d34b4484035ff6c2f9ee42c827"
                          },
                          "network": "finney",
                          "block_number": 6912923,
                          "timestamp": "2025-11-18T23:59:48Z",
                          "rank": 5624,
                          "balance_free": "19349963",
                          "balance_reserved": "93000000",
                          "balance_staked": "100074319189",
                          "balance_staked_alpha_as_tao": "0",
                          "balance_staked_root": "100074319189",
                          "root_claim_type": "Swap",
                          "balance_liquidity": "0",
                          "balance_total": "100186669152",
                          "created_on_date": "2024-03-23",
                          "created_on_network": "finney",
                          "coldkey_swap": null
                        },
                        {
                          "address": {
                            "ss58": "5DCaUSocqajoo8v2936aPAGV5QBYdVhRBTLMoYUsuF8LqyEM",
                            "hex": "0x323d57bfbf584d04cb390b4ade567aba4628b6d34b4484035ff6c2f9ee42c827"
                          },
                          "network": "finney",
                          "block_number": 6905723,
                          "timestamp": "2025-11-17T23:59:48Z",
                          "rank": 5625,
                          "balance_free": "19349963",
                          "balance_reserved": "93000000",
                          "balance_staked": "100074319189",
                          "balance_staked_alpha_as_tao": "0",
                          "balance_staked_root": "100074319189",
                          "root_claim_type": "Swap",
                          "balance_liquidity": "0",
                          "balance_total": "100186669152",
                          "created_on_date": "2024-03-23",
                          "created_on_network": "finney",
                          "coldkey_swap": null
                        },
                        {
                          "address": {
                            "ss58": "5DCaUSocqajoo8v2936aPAGV5QBYdVhRBTLMoYUsuF8LqyEM",
                            "hex": "0x323d57bfbf584d04cb390b4ade567aba4628b6d34b4484035ff6c2f9ee42c827"
                          },
                          "network": "finney",
                          "block_number": 6898524,
                          "timestamp": "2025-11-16T23:59:48Z",
                          "rank": 5617,
                          "balance_free": "19349963",
                          "balance_reserved": "93000000",
                          "balance_staked": "100058052912",
                          "balance_staked_alpha_as_tao": "0",
                          "balance_staked_root": "100058052912",
                          "root_claim_type": "Swap",
                          "balance_liquidity": "0",
                          "balance_total": "100170402875",
                          "created_on_date": "2024-03-23",
                          "created_on_network": "finney",
                          "coldkey_swap": null
                        },
                        {
                          "address": {
                            "ss58": "5DCaUSocqajoo8v2936aPAGV5QBYdVhRBTLMoYUsuF8LqyEM",
                            "hex": "0x323d57bfbf584d04cb390b4ade567aba4628b6d34b4484035ff6c2f9ee42c827"
                          },
                          "network": "finney",
                          "block_number": 6891325,
                          "timestamp": "2025-11-15T23:59:48Z",
                          "rank": 5623,
                          "balance_free": "19349963",
                          "balance_reserved": "93000000",
                          "balance_staked": "100041209167",
                          "balance_staked_alpha_as_tao": "0",
                          "balance_staked_root": "100041209167",
                          "root_claim_type": "Swap",
                          "balance_liquidity": "0",
                          "balance_total": "100153559130",
                          "created_on_date": "2024-03-23",
                          "created_on_network": "finney",
                          "coldkey_swap": null
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "per_page": {
                          "type": "integer",
                          "example": 50,
                          "default": 0
                        },
                        "total_items": {
                          "type": "integer",
                          "example": 708,
                          "default": 0
                        },
                        "total_pages": {
                          "type": "integer",
                          "example": 15,
                          "default": 0
                        },
                        "next_page": {
                          "type": "integer",
                          "example": 2,
                          "default": 0
                        },
                        "prev_page": {}
                      }
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "object",
                            "properties": {
                              "ss58": {
                                "type": "string",
                                "example": "5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS"
                              },
                              "hex": {
                                "type": "string",
                                "example": "0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752"
                              }
                            }
                          },
                          "network": {
                            "type": "string",
                            "example": "finney"
                          },
                          "block_number": {
                            "type": "integer",
                            "example": 5007431,
                            "default": 0
                          },
                          "timestamp": {
                            "type": "string",
                            "example": "2025-02-25T23:59:48Z"
                          },
                          "rank": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "balance_free": {
                            "type": "string",
                            "example": "12443252"
                          },
                          "balance_staked": {
                            "type": "string",
                            "example": "327659746222"
                          },
                          "balance_staked_alpha_as_tao": {
                            "type": "string",
                            "example": "75599415"
                          },
                          "balance_staked_root": {
                            "type": "string",
                            "example": "327584146807"
                          },
                          "balance_total": {
                            "type": "string",
                            "example": "327672189474"
                          },
                          "created_on_date": {
                            "type": "string",
                            "example": "2023-03-21"
                          },
                          "created_on_network": {
                            "type": "string",
                            "example": "finney"
                          },
                          "coldkey_swap": {}
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "text",
              "code": "  {\n      \"address\": {\n        \"ss58\": \"5DCaUSocqajoo8v2936aPAGV5QBYdVhRBTLMoYUsuF8LqyEM\",\n        \"hex\": \"0x323d57bfbf584d04cb390b4ade567aba4628b6d34b4484035ff6c2f9ee42c827\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 5403431,\n      \"timestamp\": \"2025-04-21T23:59:48Z\",\n      \"rank\": 0,\n      \"balance_free\": \"18466145\" value in rao,\n      \"balance_staked\": \"99950089307\" value in rao,\n      \"balance_staked_alpha_as_tao\": \"0\" value in rao,\n      \"balance_staked_root\": \"99950089307\" value in rao,\n      \"balance_total\": \"99968555452\" value in rao,\n      \"balance_free_24hr_ago\": null,\n      \"balance_staked_24hr_ago\": null,\n      \"balance_staked_alpha_as_tao_24hr_ago\": null,\n      \"balance_staked_root_24hr_ago\": null,\n      \"balance_total_24hr_ago\": null,\n      \"created_on_date\": \"2024-03-23\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },",
              "name": "output"
            }
          ],
          "samples-languages": [
            "text"
          ]
        }
      }
    },
    "/api/transfer/v1": {
      "get": {
        "summary": "Get Transfers",
        "description": "",
        "operationId": "get-transfers",
        "parameters": [
          {
            "name": "network",
            "in": "query",
            "description": "Finney is the current network.  Nakamoto and kusanagi are historical versions.",
            "schema": {
              "type": "string",
              "enum": [
                "finney",
                "nakamoto",
                "kusanagi"
              ],
              "default": "finney"
            }
          },
          {
            "name": "address",
            "in": "query",
            "description": "SS58 or hex format",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "SS58 or hex format",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "SS58 or hex format",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transaction_hash",
            "in": "query",
            "description": "hash of the transaction",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "extrinsic_id",
            "in": "query",
            "description": "The extrinsic ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "amount_min",
            "in": "query",
            "description": "min transaction amount in rao",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "amount_max",
            "in": "query",
            "description": "max transaction amount in rao",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "block_number",
            "in": "query",
            "description": "exact block number",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "block_start",
            "in": "query",
            "description": "block number for start of range",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "block_end",
            "in": "query",
            "description": "block number for end of range",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "timestamp_start",
            "in": "query",
            "description": "Start of timestamp range in Unix timestamp (seconds since 1970-01-01) (inclusive)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "timestamp_end",
            "in": "query",
            "description": "Start of timestamp range in Unix timestamp (seconds since 1970-01-01) (inclusive)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number of the response.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of responses. max is 200.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "amount_asc",
                "amount_desc",
                "block_number_asc",
                "block_number_desc",
                "timestamp_asc",
                "timestamp_desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "pagination": {
                        "current_page": 1,
                        "per_page": 2,
                        "total_items": 4614573,
                        "total_pages": 2307287,
                        "next_page": 2,
                        "prev_page": null
                      },
                      "data": [
                        {
                          "id": "finney-6925022-0104",
                          "to": {
                            "ss58": "5EUmueuD4WN3SPVV45QkbG3chp11sfx4WMkQ9mLEy16sXaCr",
                            "hex": "0x6ad3febe2b20885f5a36018556f1e0c51766db84d9e29cb18a6ea0586e066815"
                          },
                          "from": {
                            "ss58": "5FxwhXo41nDZBwgDWRHjfp99jwTvSxCkXkP7cKMRFHa7tv5M",
                            "hex": "0xac8c0f2cdb9a7297c874790ec253eb2d71bc4c86b660fe529683cc3b1cb78443"
                          },
                          "network": "finney",
                          "block_number": 6925022,
                          "timestamp": "2025-11-20T16:21:48.001Z",
                          "amount": "4911130",
                          "fee": "13756",
                          "transaction_hash": "0xb7e5679f3b09c67009a9eb1cfcd3cff8574e02fc9b2e78de9db29f59a0de9f2d",
                          "extrinsic_id": "6925022-0021"
                        },
                        {
                          "id": "finney-6925021-0118",
                          "to": {
                            "ss58": "5HPBCFfLr9MLg7YxRdq7hZgzVuyDHAPLeGDHUwHyhiqptjtS",
                            "hex": "0xeb439c80f8a1368c9c10e1251fbf8aefc36e8f040d118ef4d499cebc459c3ff1"
                          },
                          "from": {
                            "ss58": "5EVRbSwjJYNTWVZoYmHCLPPWKEk5ogWdQU2FnbE1CDUUwyeR",
                            "hex": "0x6b52db99abb534fdf3b43450fc175a0437b2b627ebd5b583a9adedcdfd4ffe2a"
                          },
                          "network": "finney",
                          "block_number": 6925021,
                          "timestamp": "2025-11-20T16:21:36Z",
                          "amount": "2930000000",
                          "fee": "0",
                          "transaction_hash": "0x6fa57756506ca6d7493b75a0d8dd8779ceacb1efec7a787c342dcc6260eb2398",
                          "extrinsic_id": "6925021-0025"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "per_page": {
                          "type": "integer",
                          "example": 50,
                          "default": 0
                        },
                        "total_items": {
                          "type": "integer",
                          "example": 3126936,
                          "default": 0
                        },
                        "total_pages": {
                          "type": "integer",
                          "example": 62539,
                          "default": 0
                        },
                        "next_page": {
                          "type": "integer",
                          "example": 2,
                          "default": 0
                        },
                        "prev_page": {}
                      }
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "finney-5011620-0017"
                          },
                          "to": {
                            "type": "object",
                            "properties": {
                              "ss58": {
                                "type": "string",
                                "example": "5FqBL928choLPmeFz5UVAvonBD5k7K2mZSXVC9RkFzLxoy2s"
                              },
                              "hex": {
                                "type": "string",
                                "example": "0xa69ffb8d15b780999fc0ae940aabf71073498ab19a1561a4c4b473ebbe8a336a"
                              }
                            }
                          },
                          "from": {
                            "type": "object",
                            "properties": {
                              "ss58": {
                                "type": "string",
                                "example": "5HmArgNJrnzR1QuMJGNXEE1bTixsEAtucnhoN6inzRfB1cmS"
                              },
                              "hex": {
                                "type": "string",
                                "example": "0xfc09dfc989a44fcdea0fb82622ed69fffe1bc53478e7e1264838a7b85c84345f"
                              }
                            }
                          },
                          "network": {
                            "type": "string",
                            "example": "finney"
                          },
                          "block_number": {
                            "type": "integer",
                            "example": 5011620,
                            "default": 0
                          },
                          "timestamp": {
                            "type": "string",
                            "example": "2025-02-26T13:57:36Z"
                          },
                          "amount": {
                            "type": "string",
                            "example": "57855024736"
                          },
                          "fee": {
                            "type": "string",
                            "example": "135264"
                          },
                          "transaction_hash": {
                            "type": "string",
                            "example": "0xbe46e30347cac35f0de27ad47c1a3892de2e32b741da73db754d6047b2a6e4e9"
                          },
                          "extrinsic_id": {
                            "type": "string",
                            "example": "5011620-0008"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "text",
              "code": "\"data\": [\n    {\n      \"id\": \"finney-5452109-0041\",\n      \"to\": {\n        \"ss58\": \"5GGe5VYiBBNYL2rHA77wviRkWDCrV2FubZr81QqxA27qn4Ch\",\n        \"hex\": \"0xba0b28643493786230b3d310eb1642a74fa056294ab76f9259825724563510c7\"\n      },\n      \"from\": {\n        \"ss58\": \"5D8J4g7A1j2LHBMbBoB6aseaUnYLY6T1qUHhXKTP5My6FbKx\",\n        \"hex\": \"0x2ef91ee6e48da1933ddacbc8d5add110ab7ba7c51c546b9dc2b04f463cf86907\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 5452109,\n      \"timestamp\": \"2025-04-28T18:15:24Z\",\n      \"amount\": \"6500000000\", in rao\n      \"fee\": \"135263\", in rao\n      \"transaction_hash\": \"0x20c70d9f8205ae781e482166ab9e07ecb5579931f680bf839c483b49c6ad3bcf\",\n      \"extrinsic_id\": \"5452109-0013\"\n    },",
              "name": "output"
            }
          ],
          "samples-languages": [
            "text"
          ]
        }
      }
    },
    "/api/exchange/v1": {
      "get": {
        "summary": "Get Exchanges",
        "description": "",
        "operationId": "get-exchanges",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number of the response.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of responses. max is 200,",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"pagination\": {\n    \"current_page\": 1,\n    \"per_page\": 50,\n    \"total_items\": 10,\n    \"total_pages\": 1,\n    \"next_page\": null,\n    \"prev_page\": null\n  },\n  \"data\": [\n    {\n      \"coldkey\": {\n        \"ss58\": \"5C5FQQSfuxgJc5sHjjAL9RKAzR98qqCV2YN5xAm2wVf1ctGR\",\n        \"hex\": \"0x006a327fd8209758351b989bc48825c945360dcc1d7ac279976cd445d9027d03\"\n      },\n      \"name\": \"Kraken Cold\",\n      \"icon\": null\n    },\n    {\n      \"coldkey\": {\n        \"ss58\": \"5HiveMEoWPmQmBAb8v63bKPcFhgTGCmST1TVZNvPHSTKFLCv\",\n        \"hex\": \"0xfa538a1f58eb874d88632a329bc3e6423be5f7da88c1133e4b4d5ed1f3f1ce05\"\n      },\n      \"name\": \"Taobridge\",\n      \"icon\": \"taobridge\"\n    },\n    {\n      \"coldkey\": {\n        \"ss58\": \"5CNChyk2fnVgVSZDLAVVFb4QBTMGm6WfuQvseBG6hj8xWzKP\",\n        \"hex\": \"0x0d584a4cbbfd9a4878d816512894e65918e54fae13df39a6f520fc90caea2fb0\"\n      },\n      \"name\": \"Gate.io\",\n      \"icon\": \"gateio\"\n    },\n    {\n      \"coldkey\": {\n        \"ss58\": \"5CVSCaCXDRydd3Mkdbu2tHLNYxmNTSpy9yRixa1TRGvgRFS8\",\n        \"hex\": \"0x12dc6df75ad35fb5b75af3aec0c99b3c4267f9463353d6d9c487c01e129aec73\"\n      },\n      \"name\": \"Crypto.com\",\n      \"icon\": null\n    },\n    {\n      \"coldkey\": {\n        \"ss58\": \"5E2b2DcMd5W8MBhzTCFt63t2ZEN8RsRgL7oDd7BFYL9aMQux\",\n        \"hex\": \"0x56daf75bd0f09c11d798263bc79baeb77c4b4af1dbd372bbe532b1f8702b2a7e\"\n      },\n      \"name\": \"Kraken Hot\",\n      \"icon\": null\n    },\n    {\n      \"coldkey\": {\n        \"ss58\": \"5FqBL928choLPmeFz5UVAvonBD5k7K2mZSXVC9RkFzLxoy2s\",\n        \"hex\": \"0xa69ffb8d15b780999fc0ae940aabf71073498ab19a1561a4c4b473ebbe8a336a\"\n      },\n      \"name\": \"MEXC\",\n      \"icon\": \"mexc\"\n    },\n    {\n      \"coldkey\": {\n        \"ss58\": \"5HbDZ6ULuwZegAMSPaS2kaUfBLMDaht5t48RcDrQATSgGCAR\",\n        \"hex\": \"0xf4727f994265ec96f5cfc2222ee6aac87025293a794c9160ef176817e98a676c\"\n      },\n      \"name\": \"Bitget\",\n      \"icon\": \"bitget\"\n    },\n    {\n      \"coldkey\": {\n        \"ss58\": \"5GBnPzvPghS8AuCoo6bfnK7JUFHuyUhWSFD4woBNsKnPiEUi\",\n        \"hex\": \"0xb656ef6d8fa3ae7a7800906b6ea83a7c1320041290002c3ae7b1e4c68b1e4a67\"\n      },\n      \"name\": \"Binance\",\n      \"icon\": \"binance\"\n    },\n    {\n      \"coldkey\": {\n        \"ss58\": \"5EP5gJvve4PauTCHoiTcpVgsFCKNwVitBcrJbVYWbR5ZTwnU\",\n        \"hex\": \"0x667c5770cb0a73382ff846140af2f7ba137eaa4ef9fdb653e453d30220218c25\"\n      },\n      \"name\": \"Bithumb\",\n      \"icon\": null\n    },\n    {\n      \"coldkey\": {\n        \"ss58\": \"5CrmVKApX6sJybZaL1geHfzvHWeCpbavqrrXgYLCQmhehX2q\",\n        \"hex\": \"0x232183ae9d4acbe1b579cd8045c9a27af778a1b61e7e7f7f332f25df2ba4b30a\"\n      },\n      \"name\": \"Kucoin\",\n      \"icon\": \"kucoin\"\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "per_page": {
                          "type": "integer",
                          "example": 50,
                          "default": 0
                        },
                        "total_items": {
                          "type": "integer",
                          "example": 10,
                          "default": 0
                        },
                        "total_pages": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "next_page": {},
                        "prev_page": {}
                      }
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "coldkey": {
                            "type": "object",
                            "properties": {
                              "ss58": {
                                "type": "string",
                                "example": "5C5FQQSfuxgJc5sHjjAL9RKAzR98qqCV2YN5xAm2wVf1ctGR"
                              },
                              "hex": {
                                "type": "string",
                                "example": "0x006a327fd8209758351b989bc48825c945360dcc1d7ac279976cd445d9027d03"
                              }
                            }
                          },
                          "name": {
                            "type": "string",
                            "example": "Kraken Cold"
                          },
                          "icon": {}
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "text",
              "code": " {\n      \"coldkey\": {\n        \"ss58\": \"5C5FQQSfuxgJc5sHjjAL9RKAzR98qqCV2YN5xAm2wVf1ctGR\",\n        \"hex\": \"0x006a327fd8209758351b989bc48825c945360dcc1d7ac279976cd445d9027d03\"\n      },\n      \"name\": \"Kraken Cold\",\n      \"icon\": null\n    },",
              "name": "output"
            }
          ],
          "samples-languages": [
            "text"
          ]
        }
      }
    },
    "/accounting/coldkey_report_csv/v1": {
      "get": {
        "summary": "Get Coldkey Report",
        "description": "",
        "operationId": "get-coldkey-report",
        "parameters": [
          {
            "name": "date_start",
            "in": "query",
            "description": "date range in YYYY-MM-DD format (inclusive)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_end",
            "in": "query",
            "description": "End of date range in YYYY-MM-DD format (inclusive). Must be within 3 calendar months of date_start.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "coldkey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/block/v1": {
      "get": {
        "summary": "Get Blocks",
        "description": "",
        "operationId": "get-blocks-copy",
        "parameters": [
          {
            "name": "block_start",
            "in": "query",
            "description": "block number for start of range",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "block_end",
            "in": "query",
            "description": "block number for end of range",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "timestamp_start",
            "in": "query",
            "description": "Start of timestamp range in Unix timestamp (seconds since 1970-01-01) (inclusive)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "timestamp_end",
            "in": "query",
            "description": "Start of timestamp range in Unix timestamp (seconds since 1970-01-01) (inclusive)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "block_number",
            "in": "query",
            "description": "Exact block number (as opposed to a range).",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "hash",
            "in": "query",
            "description": "Block hash number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "spec_version",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "validator",
            "in": "query",
            "description": "not used",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "spec_version_asc",
                "spec_version_desc",
                "block_number_asc",
                "block_number_desc",
                "timestamp_asc",
                "timestamp_desc",
                "hash_asc",
                "hash_desc",
                "events_count_asc",
                "events_count_desc",
                "extrinsics_count_asc",
                "extrinsics_count_desc"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number of the response.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of responses. max is 200,",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"pagination\": {\n    \"current_page\": 1,\n    \"per_page\": 50,\n    \"total_items\": 5012772,\n    \"total_pages\": 100256,\n    \"next_page\": 2,\n    \"prev_page\": null\n  },\n  \"data\": [\n    {\n      \"block_number\": 5012771,\n      \"hash\": \"0xa8a178b7dd69db4137e36a5a111a9b1d1e6c3ec4120a8427d9ee20993b9097dc\",\n      \"parent_hash\": \"0xa7703c86d57e82e54edae7a3a26acc2745ce647112e7d55418ecf5c843a9b2e5\",\n      \"state_root\": \"0x6122a6e6ffbef31269e522a4cefed502920b311676ac4c8b7847f3b1711527f6\",\n      \"extrinsics_root\": \"0x5693b7ec443ed7e940ec6d16603c24b69286a8d6cf8c0bf57961a59cf985d8b2\",\n      \"spec_name\": \"node-subtensor\",\n      \"spec_version\": 244,\n      \"impl_name\": \"node-subtensor\",\n      \"impl_version\": 1,\n      \"timestamp\": \"2025-02-26T17:47:48Z\",\n      \"validator\": null,\n      \"events_count\": 50,\n      \"extrinsics_count\": 17,\n      \"calls_count\": 17\n    },\n    {\n      \"block_number\": 5012770,\n      \"hash\": \"0xa7703c86d57e82e54edae7a3a26acc2745ce647112e7d55418ecf5c843a9b2e5\",\n      \"parent_hash\": \"0x81cf430f54397cd9d91f49061a0e39bd2ffd8c792322caba3345cade2141d6e4\",\n      \"state_root\": \"0x6869a835388a38be4a0ed026cff4d9cd53782526be12bf715ab63a5c8cfb4634\",\n      \"extrinsics_root\": \"0x1dd23bfd4deb77849e7b31b1ddd542523a500d83d5d0d1ef273ab5b555b7fed0\",\n      \"spec_name\": \"node-subtensor\",\n      \"spec_version\": 244,\n      \"impl_name\": \"node-subtensor\",\n      \"impl_version\": 1,\n      \"timestamp\": \"2025-02-26T17:47:36Z\",\n      \"validator\": null,\n      \"events_count\": 52,\n      \"extrinsics_count\": 17,\n      \"calls_count\": 17\n    },\n    {\n      \"block_number\": 5012769,\n      \"hash\": \"0x81cf430f54397cd9d91f49061a0e39bd2ffd8c792322caba3345cade2141d6e4\",\n      \"parent_hash\": \"0x40748f82507709c2d8c09309cef4f4fed1891dddde83beb7c95be17048746800\",\n      \"state_root\": \"0x2d3b51dfdaf4252d2df8f7a503a78834172b92bb2b1da7cb027d41637ed21167\",\n      \"extrinsics_root\": \"0x4b84dec5af975e4beb5f39b8ebe46464ad4c99661a26d580ded0016ed1e139b9\",\n      \"spec_name\": \"node-subtensor\",\n      \"spec_version\": 244,\n      \"impl_name\": \"node-subtensor\",\n      \"impl_version\": 1,\n      \"timestamp\": \"2025-02-26T17:47:24Z\",\n      \"validator\": null,\n      \"events_count\": 69,\n      \"extrinsics_count\": 22,\n      \"calls_count\": 22\n    },\n    {\n      \"block_number\": 5012768,\n      \"hash\": \"0x40748f82507709c2d8c09309cef4f4fed1891dddde83beb7c95be17048746800\",\n      \"parent_hash\": \"0x7c5e20b40acc7cd1dd6145f6a8a2cae1ba2473db3426e6f8e85e515969211a49\",\n      \"state_root\": \"0xe9eea0ec32aff099ad04749b9f1afd22c543ea12a1c34ea4dc2f8df00d9fbc84\",\n      \"extrinsics_root\": \"0xc7c1ba5229e814375c101c6c0c2a76af2af8cde096526370e97b3700c8adc4e9\",\n      \"spec_name\": \"node-subtensor\",\n      \"spec_version\": 244,\n      \"impl_name\": \"node-subtensor\",\n      \"impl_version\": 1,\n      \"timestamp\": \"2025-02-26T17:47:12.001Z\",\n      \"validator\": null,\n      \"events_count\": 56,\n      \"extrinsics_count\": 18,\n      \"calls_count\": 18\n    },\n    {\n      \"block_number\": 5012767,\n      \"hash\": \"0x7c5e20b40acc7cd1dd6145f6a8a2cae1ba2473db3426e6f8e85e515969211a49\",\n      \"parent_hash\": \"0x4c8c3382d85a3649204476b4a2699593ccb178663aefe8855d07926301847e8b\",\n      \"state_root\": \"0x9da07fcb5761c63b8cf383efb21f82f8f739cf7e88235668622dbfc8048a8e90\",\n      \"extrinsics_root\": \"0x69946d04b744c7dec4e05404ee54dca2c89cfbdde0c8e257839fc785be6c0fb0\",\n      \"spec_name\": \"node-subtensor\",\n      \"spec_version\": 244,\n      \"impl_name\": \"node-subtensor\",\n      \"impl_version\": 1,\n      \"timestamp\": \"2025-02-26T17:47:00Z\",\n      \"validator\": null,\n      \"events_count\": 51,\n      \"extrinsics_count\": 18,\n      \"calls_count\": 18\n    },\n    {\n      \"block_number\": 5012766,\n      \"hash\": \"0x4c8c3382d85a3649204476b4a2699593ccb178663aefe8855d07926301847e8b\",\n      \"parent_hash\": \"0xcd1a8c9ea21609e0d7a7b03b04ef5ea90438e9b3f480b6342de10aca5f10127d\",\n      \"state_root\": \"0x3d989545e90efc9657e52db55e48e9687a6c7e788d9fff6836545cdd8fc8c659\",\n      \"extrinsics_root\": \"0xc12a1e93f5515ad23a9c1eeed27bb3f092a8f7c7a64bbecbe72212009119b36d\",\n      \"spec_name\": \"node-subtensor\",\n      \"spec_version\": 244,\n      \"impl_name\": \"node-subtensor\",\n      \"impl_version\": 1,\n      \"timestamp\": \"2025-02-26T17:46:48Z\",\n      \"validator\": null,\n      \"events_count\": 67,\n      \"extrinsics_count\": 22,\n      \"calls_count\": 22\n    },\n    {\n      \"block_number\": 5012765,\n      \"hash\": \"0xcd1a8c9ea21609e0d7a7b03b04ef5ea90438e9b3f480b6342de10aca5f10127d\",\n      \"parent_hash\": \"0xb23e19668698d774c4413e0f3a7c8390a09b002ec673a1033803feaa0b86ff69\",\n      \"state_root\": \"0xfc95ebe31af44c6bd43c198c4b0e6a5626152fc7a3e487b92b8b02220691abb3\",\n      \"extrinsics_root\": \"0xa27d35d61ea3f853533a9bd896d2f9110c44fa12485790d3001f29c0bdd12f77\",\n      \"spec_name\": \"node-subtensor\",\n      \"spec_version\": 244,\n      \"impl_name\": \"node-subtensor\",\n      \"impl_version\": 1,\n      \"timestamp\": \"2025-02-26T17:46:36Z\",\n      \"validator\": null,\n      \"events_count\": 59,\n      \"extrinsics_count\": 20,\n      \"calls_count\": 20\n    },\n    {\n      \"block_number\": 5012764,\n      \"hash\": \"0xb23e19668698d774c4413e0f3a7c8390a09b002ec673a1033803feaa0b86ff69\",\n      \"parent_hash\": \"0x0818e914ee3d7cac4de914991cba41a6a918f80f9bd098a8c7a98188840639a4\",\n      \"state_root\": \"0x882af20a48de20782996ca9e1991d1daff361321758074e199d04a47ff403443\",\n      \"extrinsics_root\": \"0x43d347cf694df9cd195c0e23cd01939cdc001d93e88ecf072691cbc3a2518541\",\n      \"spec_name\": \"node-subtensor\",\n      \"spec_version\": 244,\n      \"impl_name\": \"node-subtensor\",\n      \"impl_version\": 1,\n      \"timestamp\": \"2025-02-26T17:46:24Z\",\n      \"validator\": null,\n      \"events_count\": 59,\n      \"extrinsics_count\": 20,\n      \"calls_count\": 20\n    },\n    {\n      \"block_number\": 5012763,\n      \"hash\": \"0x0818e914ee3d7cac4de914991cba41a6a918f80f9bd098a8c7a98188840639a4\",\n      \"parent_hash\": \"0x81b2dfe0fd26829793968dd840b1fb909fccdb00b544e457f45bcd4aa2cb16d9\",\n      \"state_root\": \"0x4391d2f96a2cbb4d3ad032fcfca9df415569e1e868686fd459235bccdc6f7cab\",\n      \"extrinsics_root\": \"0xb7efd2138db9b273a1d13553213268a9e509c8bc4c6085bb09d648d4d3709930\",\n      \"spec_name\": \"node-subtensor\",\n      \"spec_version\": 244,\n      \"impl_name\": \"node-subtensor\",\n      \"impl_version\": 1,\n      \"timestamp\": \"2025-02-26T17:46:12Z\",\n      \"validator\": null,\n      \"events_count\": 56,\n      \"extrinsics_count\": 19,\n      \"calls_count\": 19\n    },\n    {\n      \"block_number\": 5012762,\n      \"hash\": \"0x81b2dfe0fd26829793968dd840b1fb909fccdb00b544e457f45bcd4aa2cb16d9\",\n      \"parent_hash\": \"0x745d0162456023caacff44e6bdc30c2597372f7c283188c5878e81f0d4af0363\",\n      \"state_root\": \"0xc112ec1b5096f095a196d7b5e897b2a8cc21a9fcec56209bb54d643f1cf2dc5d\",\n      \"extrinsics_root\": \"0x93df33d0eecf8555fb2fba5366f56040e34c4efc401f40f79e227797b62b7910\",\n      \"spec_name\": \"node-subtensor\",\n      \"spec_version\": 244,\n      \"impl_name\": \"node-subtensor\",\n      \"impl_version\": 1,\n      \"timestamp\": \"2025-02-26T17:46:00Z\",\n      \"validator\": null,\n      \"events_count\": 68,\n      \"extrinsics_count\": 21,\n      \"calls_count\": 21\n    },\n    {\n      \"block_number\": 5012761,\n      \"hash\": \"0x745d0162456023caacff44e6bdc30c2597372f7c283188c5878e81f0d4af0363\",\n      \"parent_hash\": \"0xcf70ef8285b1c796011c561138a3a2a5317e84ca1ae32ca7e197fa7b13383753\",\n      \"state_root\": \"0x145b2fe983c8413f5f1f46caa849d09c1fbf96f74b4dff569a0b157097375cdf\",\n      \"extrinsics_root\": \"0x5794b7abaec924e6968308d47be78be7cdf2e20046d9ce573d747f8c9d12d520\",\n      \"spec_name\": \"node-subtensor\",\n      \"spec_version\": 244,\n      \"impl_name\": \"node-subtensor\",\n      \"impl_version\": 1,\n      \"timestamp\": \"2025-02-26T17:45:48Z\",\n      \"validator\": null,\n      \"events_count\": 107,\n      \"extrinsics_count\": 20,\n      \"calls_count\": 35\n    },\n    {\n      \"block_number\": 5012760,\n      \"hash\": \"0xcf70ef8285b1c796011c561138a3a2a5317e84ca1ae32ca7e197fa7b13383753\",\n      \"parent_hash\": \"0x0472fd3e271c1e89e5f19987c5df172c7e01f3f0495f74c91af0abd813386820\",\n      \"state_root\": \"0xa052a7252c51673eccc48e05d378452582d6230b6300b1bb66b02e69519477e7\",\n      \"extrinsics_root\": \"0xec985717c8709a9ecc2909d00b610e295845378453be9243caa2018594f33468\",\n      \"spec_name\": \"node-subtensor\",\n      \"spec_version\": 244,\n      \"impl_name\": \"node-subtensor\",\n      \"impl_version\": 1,\n      \"timestamp\": \"2025-02-26T17:45:36Z\",\n      \"validator\": null,\n      \"events_count\": 68,\n      \"extrinsics_count\": 22,\n      \"calls_count\": 22\n    },\n    {\n      \"block_number\": 5012759,\n      \"hash\": \"0x0472fd3e271c1e89e5f19987c5df172c7e01f3f0495f74c91af0abd813386820\",\n      \"parent_hash\": \"0x749e4ef70d887faff04504ab6698fb3370ddb316f0f43aee8f6ca04b3ca6a2b2\",\n      \"state_root\": \"0x15920afe141a28c557eccf7ce67881f5f0b06e296cf2542ccb431168c0291941\",\n      \"extrinsics_root\": \"0x98efdf83c45fac4cba70167e63fd54395e4a3a455e9f83d7ba71973b2f1a8054\",\n      \"spec_name\": \"node-subtensor\",\n      \"spec_version\": 244,\n      \"impl_name\": \"node-subtensor\",\n      \"impl_version\": 1,\n      \"timestamp\": \"2025-02-26T17:45:24Z\",\n      \"validator\": null,\n      \"events_count\": 56,\n      \"extrinsics_count\": 18,\n      \"calls_count\": 18\n    },\n    {\n      \"block_number\": 5012758,\n      \"hash\": \"0x749e4ef70d887faff04504ab6698fb3370ddb316f0f43aee8f6ca04b3ca6a2b2\",\n      \"parent_hash\": \"0x695d3b2b866508d30539bb45b7365846d2722c50aa4e7c158a5aa3ce65fb05ba\",\n      \"state_root\": \"0xb9aa2fdb5de1ee223e848cb63f1b5f3b2d76f1ff5dbf718ba3e6e92b6aec0cb2\",\n      \"extrinsics_root\": \"0x9b5b38942814c252dfa4e5ac5ecb7f5c833f0ee315edc20d023eb9a972dc33b0\",\n      \"spec_name\": \"node-subtensor\",\n      \"spec_version\": 244,\n      \"impl_name\": \"node-subtensor\",\n      \"impl_version\": 1,\n      \"timestamp\": \"2025-02-26T17:45:12Z\",\n      \"validator\": null,\n      \"events_count\": 69,\n      \"extrinsics_count\": 22,\n      \"calls_count\": 22\n    },\n    {\n      \"block_number\": 5012757,\n      \"hash\": \"0x695d3b2b866508d30539bb45b7365846d2722c50aa4e7c158a5aa3ce65fb05ba\",\n      \"parent_hash\": \"0x644ac404e6f87d57c9b200b9846a86b6abcdb15001197695756c8290e4c26f9a\",\n      \"state_root\": \"0x9aafa18b7a8de5bc8d9f80be3ac8d0aad54a14404cdc7d1e41bb8e76b54a7438\",\n      \"extrinsics_root\": \"0xadbd40ec533cc120f5041977a92b175a688e6d6ec15d6f31607d28a962581c7c\",\n      \"spec_name\": \"node-subtensor\",\n      \"spec_version\": 244,\n      \"impl_name\": \"node-subtensor\",\n      \"impl_version\": 1,\n      \"timestamp\": \"2025-02-26T17:45:00.001Z\",\n      \"validator\": null,\n      \"events_count\": 67,\n      \"extrinsics_count\": 22,\n      \"calls_count\": 22\n    },\n    {\n      \"block_number\": 5012756,\n      \"hash\": \"0x644ac404e6f87d57c9b200b9846a86b6abcdb15001197695756c8290e4c26f9a\",\n      \"parent_hash\": \"0x4518ce9e46698d3a96eeba7bba70dc3824afc3e3ec7577e4fe639d2a90da2ba8\",\n      \"state_root\": \"0xe6bff2f76759b255333752c04a4dfc29f48084712b79b6584c8ddd4523f97d05\",\n      \"extrinsics_root\": \"0x0335ce7b20de36b72a47265f5c3de03e20f200d92186ec083cdaeeba2e0165a0\",\n      \"spec_name\": \"node-subtensor\",\n      \"spec_version\": 244,\n      \"impl_name\": \"node-subtensor\",\n      \"impl_version\": 1,\n      \"timestamp\": \"2025-02-26T17:44:48.001Z\",\n      \"validator\": null,\n      \"events_count\": 62,\n      \"extrinsics_count\": 19,\n      \"calls_count\": 19\n    },\n    {\n      \"block_number\": 5012755,\n      \"hash\": \"0x4518ce9e46698d3a96eeba7bba70dc3824afc3e3ec7577e4fe639d2a90da2ba8\",\n      \"parent_hash\": \"0x66b49748216fd5f0914db0b433af8345d6fcd4ec3fe78006550e0b54e2eacad2\",\n      \"state_root\": \"0x5ce8880493de1ed5c3afc646d7900486d00b70a40da8c66b631b4bad3f9c466e\",\n      \"extrinsics_root\": \"0x515585e8a02a2cff05b9dde8eef50e83c951dcaaa4b9e539e910db666bdba6e8\",\n      \"spec_name\": \"node-subtensor\",\n      \"spec_version\": 244,\n      \"impl_name\": \"node-subtensor\",\n      \"impl_version\": 1,\n      \"timestamp\": \"2025-02-26T17:44:36Z\",\n      \"validator\": null,\n      \"events_count\": 59,\n      \"extrinsics_count\": 20,\n      \"calls_count\": 20\n    },\n    {\n      \"block_number\": 5012754,\n      \"hash\": \"0x66b49748216fd5f0914db0b433af8345d6fcd4ec3fe78006550e0b54e2eacad2\",\n      \"parent_hash\": \"0x0c48b92c0e428794b17393495399876b0a14e0d14923d186d043341b065dcc50\",\n      \"state_root\": \"0xcd4fb84b2e647e0bc277a97a639a003141f48a9bce366a223c3f2557faa761b5\",\n      \"extrinsics_root\": \"0xf883741ce5f1ffe3a5c24bda677cf2ddcec157b349f080caec83324ea9adad67\",\n      \"spec_name\": \"node-subtensor\",\n      \"spec_version\": 244,\n      \"impl_name\": \"node-subtensor\",\n      \"impl_version\": 1,\n      \"timestamp\": \"2025-02-26T17:44:24.001Z\",\n      \"validator\": null,\n      \"events_count\": 68,\n      \"extrinsics_count\": 22,\n      \"calls_count\": 22\n    },\n    {\n      \"block_number\": 5012753,\n      \"hash\": \"0x0c48b92c0e428794b17393495399876b0a14e0d14923d186d043341b065dcc50\",\n      \"parent_hash\": \"0x2c4309991d08810bc6c38d13dc3095ab58e7f2b92005e78ce1166687c142a2d2\",\n      \"state_root\": \"0x39df30219ceda5d95336f5612320b836c126599df204004514e111685e2575d1\",\n      \"extrinsics_root\": \"0x3208cef9afa158f6afe8a8662689555389eea531f2cd1bf0d5bea99202a935f7\",\n      \"spec_name\": \"node-subtensor\",\n      \"spec_version\": 244,\n      \"impl_name\": \"node-subtensor\",\n      \"impl_version\": 1,\n      \"timestamp\": \"2025-02-26T17:44:12Z\",\n      \"validator\": null,\n      \"events_count\": 51,\n      \"extrinsics_count\": 17,\n      \"calls_count\": 17\n    },\n    {\n      \"block_number\": 5012752,\n      \"hash\": \"0x2c4309991d08810bc6c38d13dc3095ab58e7f2b92005e78ce1166687c142a2d2\",\n      \"parent_hash\": \"0xa6f0cb844ea13c0b0f96d6e6db7f467c011d4fcc79707583eace97de8c19bba6\",\n      \"state_root\": \"0x37c9d4d9f9ca21f017f2964177a065b4dbf97f7c7ead3ba792b9f1f672af1d01\",\n      \"extrinsics_root\": \"0x04af239dd8f4bd73e968a02dc2160012b00c8e327170f390b9191e42273522e1\",\n      \"spec_name\": \"node-subtensor\",\n      \"spec_version\": 244,\n      \"impl_name\": \"node-subtensor\",\n      \"impl_version\": 1,\n      \"timestamp\": \"2025-02-26T17:44:00Z\",\n      \"validator\": null,\n      \"events_count\": 58,\n      \"extrinsics_count\": 21,\n      \"calls_count\": 21\n    },\n    {\n      \"block_number\": 5012751,\n      \"hash\": \"0xa6f0cb844ea13c0b0f96d6e6db7f467c011d4fcc79707583eace97de8c19bba6\",\n      \"parent_hash\": \"0x377ba59eb1d22c8685f41fffd00498e17b945daa9f3109579a1b91fb445c89e4\",\n      \"state_root\": \"0x9a9ca99f4fa874f709a58f3d98dbb5320c0f7027761571193883b5398516c441\",\n      \"extrinsics_root\": \"0x8e40506eec801a9b6af0473d09ecfcd65e99761d6fba0f00a21fcf9f4ec31a2a\",\n      \"spec_name\": \"node-subtensor\",\n      \"spec_version\": 244,\n      \"impl_name\": \"node-subtensor\",\n      \"impl_version\": 1,\n      \"timestamp\": \"2025-02-26T17:43:48Z\",\n      \"validator\": null,\n      \"events_count\": 72,\n      \"extrinsics_count\": 26,\n      \"calls_count\": 26\n    },\n    {\n      \"block_number\": 5012750,\n      \"hash\": \"0x377ba59eb1d22c8685f41fffd00498e17b945daa9f3109579a1b91fb445c89e4\",\n      \"parent_hash\": \"0x0bc177cf02481a339b4a632d76db4cbc5f89c0c13097279b71597f1e5a77920e\",\n      \"state_root\": \"0x7ef0d90764f0e87e1e275c8ff3c09ca1d80d85c87ebc6489573ed909585a6ac6\",\n      \"extrinsics_root\": \"0x63276ded6f6c206fee3e8bb23f4c8783a9cdc7206c39174498232c741d3d209c\",\n      \"spec_name\": \"node-subtensor\",\n      \"spec_version\": 244,\n      \"impl_name\": \"node-subtensor\",\n      \"impl_version\": 1,\n      \"timestamp\": \"2025-02-26T17:43:36.001Z\",\n      \"validator\": null,\n      \"events_count\": 78,\n      \"extrinsics_count\": 28,\n      \"calls_count\": 28\n    },\n    {\n      \"block_number\": 5012749,\n      \"hash\": \"0x0bc177cf02481a339b4a632d76db4cbc5f89c0c13097279b71597f1e5a77920e\",\n      \"parent_hash\": \"0x369ba49a2746f2b4aa674670152c21e6e92c9e190907b4479df90d72ab218805\",\n      \"state_root\": \"0x333831e49197c70db97a8bc673a914e7ac545db06a9a93b20df08843389ace1f\",\n      \"extrinsics_root\": \"0x5d7b618f2716f5ab95b8eee9a117835b8ce48ae6dc1811e63990f2c2b06b0093\",\n      \"spec_name\": \"node-subtensor\",\n      \"spec_version\": 244,\n      \"impl_name\": \"node-subtensor\",\n      \"impl_version\": 1,\n      \"timestamp\": \"2025-02-26T17:43:24Z\",\n      \"validator\": null,\n      \"events_count\": 62,\n      \"extrinsics_count\": 21,\n      \"calls_count\": 21\n    },\n    {\n      \"block_number\": 5012748,\n      \"hash\": \"0x369ba49a2746f2b4aa674670152c21e6e92c9e190907b4479df90d72ab218805\",\n      \"parent_hash\": \"0x1ff2f32eac5f2da8270ee0d14f49443d4c551507196b07852700226be029ffb8\",\n      \"state_root\": \"0xf221ac3b768f3b39be5c2e6be9797d91a956b0d2afd9ccca1e11e47492ad7320\",\n      \"extrinsics_root\": \"0x47a717100eec7ca3c55e6b047c41346e510e2eb3ebb75fdda6a3a7b234b1ebd3\",\n      \"spec_name\": \"node-subtensor\",\n      \"spec_version\": 244,\n      \"impl_name\": \"node-subtensor\",\n      \"impl_version\": 1,\n      \"timestamp\": \"2025-02-26T17:43:12Z\",\n      \"validator\": null,\n      \"events_count\": 69,\n      \"extrinsics_count\": 22,\n      \"calls_count\": 22\n    },\n    {\n      \"block_number\": 5012747,\n      \"hash\": \"0x1ff2f32eac5f2da8270ee0d14f49443d4c551507196b07852700226be029ffb8\",\n      \"parent_hash\": \"0x5b4a1bb15e008c4f4c4202ecfa994c9c3d8b18beddc35a77f1ade95d0e207770\",\n      \"state_root\": \"0x0e2243b34b662783f6e21d06a7abf3162585eee6f8d954f8f2989ebd6bf91229\",\n      \"extrinsics_root\": \"0x46c99fb19f9771bf03aee7f1fdcc53bc3793d0c0989d3a3e04da2253365ccc38\",\n      \"spec_name\": \"node-subtensor\",\n      \"spec_version\": 244,\n      \"impl_name\": \"node-subtensor\",\n      \"impl_version\": 1,\n      \"timestamp\": \"2025-02-26T17:43:00Z\",\n      \"validator\": null,\n      \"events_count\": 69,\n      \"extrinsics_count\": 23,\n      \"calls_count\": 23\n    },\n    {\n      \"block_number\": 5012746,\n      \"hash\": \"0x5b4a1bb15e008c4f4c4202ecfa994c9c3d8b18beddc35a77f1ade95d0e207770\",\n      \"parent_hash\": \"0x1b3c177c35aa988bcf57f760d0805154d6c4045b10cd649570a33c875145c8ff\",\n      \"state_root\": \"0x7fe890a2ea6ceece3aab626ff97a8cbc5ae0ed789910c36acdbd6a447c8d7233\",\n      \"extrinsics_root\": \"0x7c75829dc555e4052bf8c398d128a68fa75134ede28baf9d5b622cae402ef23e\",\n      \"spec_name\": \"node-subtensor\",\n      \"spec_version\": 244,\n      \"impl_name\": \"node-subtensor\",\n      \"impl_version\": 1,\n      \"timestamp\": \"2025-02-26T17:42:48Z\",\n      \"validator\": null,\n      \"events_count\": 91,\n      \"extrinsics_count\": 31,\n      \"calls_count\": 31\n    },\n    {\n      \"block_number\": 5012745,\n      \"hash\": \"0x1b3c177c35aa988bcf57f760d0805154d6c4045b10cd649570a33c875145c8ff\",\n      \"parent_hash\": \"0xd887a07c1612d3da82a1e81ecdab497c719e4a9c383be5366b1c0c22e3423742\",\n      \"state_root\": \"0x9680038c55e13be43e3507129c5fe447909f2a45af151cf44f3fed68334768bf\",\n      \"extrinsics_root\": \"0xde8ac30bdb83f3394121d1b2020c69a568326b39796d9a0e74ecbfc06802b0b5\",\n      \"spec_name\": \"node-subtensor\",\n      \"spec_version\": 244,\n      \"impl_name\": \"node-subtensor\",\n      \"impl_version\": 1,\n      \"timestamp\": \"2025-02-26T17:42:36Z\",\n      \"validator\": null,\n      \"events_count\": 75,\n      \"extrinsics_count\": 27,\n      \"calls_count\": 27\n    },\n    {\n      \"block_number\": 5012744,\n      \"hash\": \"0xd887a07c1612d3da82a1e81ecdab497c719e4a9c383be5366b1c0c22e3423742\",\n      \"parent_hash\": \"0x3f552b3fe5b85f5343e3f0481e848326db62a164a323bb682128727d8903c833\",\n      \"state_root\": \"0x8b6cb79d3613776848bf7cc0caaab4a64b637229728b370
[...]
