{"openapi":"3.1.0","info":{"title":"taostats-1","version":"1.1"},"servers":[{"url":"https://api.taostats.io/"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","name":"Authorization"}}},"security":[{"sec0":[]}],"paths":{"/api/price/latest/v1":{"get":{"summary":"Get Price","description":"","operationId":"get-price-1","parameters":[{"name":"asset","in":"query","schema":{"type":"string","default":"tao"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"pagination\": {\n    \"current_page\": 1,\n    \"per_page\": 1,\n    \"total_items\": 1,\n    \"total_pages\": 1,\n    \"next_page\": null,\n    \"prev_page\": null\n  },\n  \"data\": [\n    {\n      \"created_at\": \"2024-10-23T15:15:05Z\",\n      \"updated_at\": \"2024-10-23T15:15:05Z\",\n      \"name\": \"Bittensor\",\n      \"symbol\": \"TAO\",\n      \"slug\": \"bittensor\",\n      \"circulating_supply\": \"7380936\",\n      \"max_supply\": \"21000000\",\n      \"total_supply\": \"7380936\",\n      \"last_updated\": \"2024-10-23T15:13:00Z\",\n      \"price\": \"525.248478165591\",\n      \"volume_24h\": \"109342484.115668\",\n      \"market_cap\": \"3876825401.43762\",\n      \"percent_change_1h\": \"-0.81742604\",\n      \"percent_change_24h\": \"-5.02212301\",\n      \"percent_change_7d\": \"-9.49316808\",\n      \"percent_change_30d\": \"-2.39858357\",\n      \"percent_change_60d\": \"54.42214736\",\n      \"percent_change_90d\": \"61.70461003\",\n      \"market_cap_dominance\": \"0.1696\",\n      \"fully_diluted_market_cap\": \"11030218041.48\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"pagination":{"type":"object","properties":{"current_page":{"type":"integer","example":1,"default":0},"per_page":{"type":"integer","example":1,"default":0},"total_items":{"type":"integer","example":1,"default":0},"total_pages":{"type":"integer","example":1,"default":0},"next_page":{},"prev_page":{}}},"data":{"type":"array","items":{"type":"object","properties":{"created_at":{"type":"string","example":"2024-10-23T15:15:05Z"},"updated_at":{"type":"string","example":"2024-10-23T15:15:05Z"},"name":{"type":"string","example":"Bittensor"},"symbol":{"type":"string","example":"TAO"},"slug":{"type":"string","example":"bittensor"},"circulating_supply":{"type":"string","example":"7380936"},"max_supply":{"type":"string","example":"21000000"},"total_supply":{"type":"string","example":"7380936"},"last_updated":{"type":"string","example":"2024-10-23T15:13:00Z"},"price":{"type":"string","example":"525.248478165591"},"volume_24h":{"type":"string","example":"109342484.115668"},"market_cap":{"type":"string","example":"3876825401.43762"},"percent_change_1h":{"type":"string","example":"-0.81742604"},"percent_change_24h":{"type":"string","example":"-5.02212301"},"percent_change_7d":{"type":"string","example":"-9.49316808"},"percent_change_30d":{"type":"string","example":"-2.39858357"},"percent_change_60d":{"type":"string","example":"54.42214736"},"percent_change_90d":{"type":"string","example":"61.70461003"},"market_cap_dominance":{"type":"string","example":"0.1696"},"fully_diluted_market_cap":{"type":"string","example":"11030218041.48"}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/price/history/v1":{"get":{"summary":"Get Price History","description":"","operationId":"get-price-history-1","parameters":[{"name":"asset","in":"query","description":"default value TAO","required":true,"schema":{"type":"string","default":"TAO"}},{"name":"timestamp_start","in":"query","description":"Start of timestamp range in Unix timestamp (seconds since 1970-01-01) (inclusive)","schema":{"type":"integer","format":"int32"}},{"name":"timestamp_end","in":"query","description":"Start of timestamp range in Unix timestamp (seconds since 1970-01-01) (inclusive)","schema":{"type":"integer","format":"int32"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32","default":1}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32","default":50}},{"name":"order","in":"query","schema":{"type":"string","enum":["timestamp_asc","timestamp_desc"]}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"pagination\": {\n    \"current_page\": 1,\n    \"per_page\": 5,\n    \"total_items\": 18115,\n    \"total_pages\": 3623,\n    \"next_page\": 2,\n    \"prev_page\": null\n  },\n  \"data\": [\n    {\n      \"created_at\": \"2024-10-23T15:15:05Z\",\n      \"updated_at\": \"2024-10-23T15:15:05Z\",\n      \"name\": \"Bittensor\",\n      \"symbol\": \"TAO\",\n      \"slug\": \"bittensor\",\n      \"circulating_supply\": \"7380936\",\n      \"max_supply\": \"21000000\",\n      \"total_supply\": \"7380936\",\n      \"last_updated\": \"2024-10-23T15:13:00Z\",\n      \"price\": \"525.248478165591\",\n      \"volume_24h\": \"109342484.115668\",\n      \"market_cap\": \"3876825401.43762\",\n      \"percent_change_1h\": \"-0.81742604\",\n      \"percent_change_24h\": \"-5.02212301\",\n      \"percent_change_7d\": \"-9.49316808\",\n      \"percent_change_30d\": \"-2.39858357\",\n      \"percent_change_60d\": \"54.42214736\",\n      \"percent_change_90d\": \"61.70461003\",\n      \"market_cap_dominance\": \"0.1696\",\n      \"fully_diluted_market_cap\": \"11030218041.48\"\n    },\n    {\n      \"created_at\": \"2024-10-23T15:00:13Z\",\n      \"updated_at\": \"2024-10-23T15:00:13Z\",\n      \"name\": \"Bittensor\",\n      \"symbol\": \"TAO\",\n      \"slug\": \"bittensor\",\n      \"circulating_supply\": \"7380936\",\n      \"max_supply\": \"21000000\",\n      \"total_supply\": \"7380936\",\n      \"last_updated\": \"2024-10-23T14:58:00Z\",\n      \"price\": \"526.555913771409\",\n      \"volume_24h\": \"110492168.726615\",\n      \"market_cap\": \"3886475499.96829\",\n      \"percent_change_1h\": \"-1.26193815\",\n      \"percent_change_24h\": \"-4.75079949\",\n      \"percent_change_7d\": \"-9.34657251\",\n      \"percent_change_30d\": \"-2.12799459\",\n      \"percent_change_60d\": \"55.24731004\",\n      \"percent_change_90d\": \"62.69121074\",\n      \"market_cap_dominance\": \"0.1695\",\n      \"fully_diluted_market_cap\": \"11057674189.2\"\n    },\n    {\n      \"created_at\": \"2024-10-23T14:45:07Z\",\n      \"updated_at\": \"2024-10-23T14:45:07Z\",\n      \"name\": \"Bittensor\",\n      \"symbol\": \"TAO\",\n      \"slug\": \"bittensor\",\n      \"circulating_supply\": \"7380936\",\n      \"max_supply\": \"21000000\",\n      \"total_supply\": \"7380936\",\n      \"last_updated\": \"2024-10-23T14:43:00Z\",\n      \"price\": \"530.795535325281\",\n      \"volume_24h\": \"111279658.467748\",\n      \"market_cap\": \"3917767875.32164\",\n      \"percent_change_1h\": \"0.26160186\",\n      \"percent_change_24h\": \"-3.54351789\",\n      \"percent_change_7d\": \"-8.16973313\",\n      \"percent_change_30d\": \"-0.22296926\",\n      \"percent_change_60d\": \"56.6167147\",\n      \"percent_change_90d\": \"66.74635186\",\n      \"market_cap_dominance\": \"0.1704\",\n      \"fully_diluted_market_cap\": \"11146706241.83\"\n    },\n    {\n      \"created_at\": \"2024-10-23T14:30:10Z\",\n      \"updated_at\": \"2024-10-23T14:30:10Z\",\n      \"name\": \"Bittensor\",\n      \"symbol\": \"TAO\",\n      \"slug\": \"bittensor\",\n      \"circulating_supply\": \"7380936\",\n      \"max_supply\": \"21000000\",\n      \"total_supply\": \"7380936\",\n      \"last_updated\": \"2024-10-23T14:28:00Z\",\n      \"price\": \"531.999437056473\",\n      \"volume_24h\": \"111865363.001714\",\n      \"market_cap\": \"3926653796.94986\",\n      \"percent_change_1h\": \"0.82864705\",\n      \"percent_change_24h\": \"-2.72596076\",\n      \"percent_change_7d\": \"-8.75244986\",\n      \"percent_change_30d\": \"-1.66662947\",\n      \"percent_change_60d\": \"56.20358736\",\n      \"percent_change_90d\": \"69.28101561\",\n      \"market_cap_dominance\": \"0.1711\",\n      \"fully_diluted_market_cap\": \"11171988178.19\"\n    },\n    {\n      \"created_at\": \"2024-10-23T14:15:05Z\",\n      \"updated_at\": \"2024-10-23T14:15:05Z\",\n      \"name\": \"Bittensor\",\n      \"symbol\": \"TAO\",\n      \"slug\": \"bittensor\",\n      \"circulating_supply\": \"7380936\",\n      \"max_supply\": \"21000000\",\n      \"total_supply\": \"7380936\",\n      \"last_updated\": \"2024-10-23T14:13:00Z\",\n      \"price\": \"529.577381610363\",\n      \"volume_24h\": \"113155073.564408\",\n      \"market_cap\": \"3908776760.71367\",\n      \"percent_change_1h\": \"0.56796468\",\n      \"percent_change_24h\": \"-3.88351955\",\n      \"percent_change_7d\": \"-9.52693928\",\n      \"percent_change_30d\": \"-1.85948021\",\n      \"percent_change_60d\": \"55.34096409\",\n      \"percent_change_90d\": \"69.12857996\",\n      \"market_cap_dominance\": \"0.1704\",\n      \"fully_diluted_market_cap\": \"11121125013.82\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"pagination":{"type":"object","properties":{"current_page":{"type":"integer","example":1,"default":0},"per_page":{"type":"integer","example":5,"default":0},"total_items":{"type":"integer","example":18115,"default":0},"total_pages":{"type":"integer","example":3623,"default":0},"next_page":{"type":"integer","example":2,"default":0},"prev_page":{}}},"data":{"type":"array","items":{"type":"object","properties":{"created_at":{"type":"string","example":"2024-10-23T15:15:05Z"},"updated_at":{"type":"string","example":"2024-10-23T15:15:05Z"},"name":{"type":"string","example":"Bittensor"},"symbol":{"type":"string","example":"TAO"},"slug":{"type":"string","example":"bittensor"},"circulating_supply":{"type":"string","example":"7380936"},"max_supply":{"type":"string","example":"21000000"},"total_supply":{"type":"string","example":"7380936"},"last_updated":{"type":"string","example":"2024-10-23T15:13:00Z"},"price":{"type":"string","example":"525.248478165591"},"volume_24h":{"type":"string","example":"109342484.115668"},"market_cap":{"type":"string","example":"3876825401.43762"},"percent_change_1h":{"type":"string","example":"-0.81742604"},"percent_change_24h":{"type":"string","example":"-5.02212301"},"percent_change_7d":{"type":"string","example":"-9.49316808"},"percent_change_30d":{"type":"string","example":"-2.39858357"},"percent_change_60d":{"type":"string","example":"54.42214736"},"percent_change_90d":{"type":"string","example":"61.70461003"},"market_cap_dominance":{"type":"string","example":"0.1696"},"fully_diluted_market_cap":{"type":"string","example":"11030218041.48"}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/price/ohlc/v1":{"get":{"summary":"Get Price OHLC","description":"","operationId":"get-price-ohlc","parameters":[{"name":"asset","in":"query","required":true,"schema":{"type":"string","default":"tao"}},{"name":"period","in":"query","required":true,"schema":{"type":"string","enum":["1m","1h","1d"],"default":"1d"}},{"name":"timestamp_start","in":"query","description":"Start of timestamp range in Unix timestamp (seconds since 1970-01-01) (inclusive)","schema":{"type":"integer","format":"int32"}},{"name":"timestamp_end","in":"query","description":"Start of timestamp range in Unix timestamp (seconds since 1970-01-01) (inclusive)","schema":{"type":"integer","format":"int32"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32","default":1}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32","default":50}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"pagination\": {\n    \"current_page\": 1,\n    \"per_page\": 50,\n    \"total_items\": 851,\n    \"total_pages\": 18,\n    \"next_page\": 2,\n    \"prev_page\": null\n  },\n  \"data\": [\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-10-23T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"109342484.1156\",\n      \"open\": \"542.8411\",\n      \"high\": \"547.0797\",\n      \"low\": \"524.2589\",\n      \"close\": \"525.2484\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-10-22T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"120409581.6676\",\n      \"open\": \"547.9182\",\n      \"high\": \"560.3080\",\n      \"low\": \"539.5051\",\n      \"close\": \"546.3331\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-10-21T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"136465457.4827\",\n      \"open\": \"601.1947\",\n      \"high\": \"608.2029\",\n      \"low\": \"545.9326\",\n      \"close\": \"550.4507\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-10-20T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"147684224.3017\",\n      \"open\": \"558.5891\",\n      \"high\": \"604.7227\",\n      \"low\": \"554.4114\",\n      \"close\": \"598.7325\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-10-19T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"87881358.1676\",\n      \"open\": \"576.3494\",\n      \"high\": \"582.9676\",\n      \"low\": \"552.5127\",\n      \"close\": \"558.4496\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-10-18T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"135698320.9318\",\n      \"open\": \"577.0614\",\n      \"high\": \"597.1216\",\n      \"low\": \"566.7192\",\n      \"close\": \"575.1658\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-10-17T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"131440169.3026\",\n      \"open\": \"579.8688\",\n      \"high\": \"593.8942\",\n      \"low\": \"562.9060\",\n      \"close\": \"577.6320\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-10-16T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"176901709.6933\",\n      \"open\": \"597.5569\",\n      \"high\": \"631.7404\",\n      \"low\": \"573.9840\",\n      \"close\": \"582.1344\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-10-15T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"196662650.4127\",\n      \"open\": \"632.2266\",\n      \"high\": \"636.1013\",\n      \"low\": \"588.8575\",\n      \"close\": \"597.9319\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-10-14T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"179665415.2906\",\n      \"open\": \"641.0061\",\n      \"high\": \"673.3851\",\n      \"low\": \"623.0271\",\n      \"close\": \"632.6866\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-10-13T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"133636852.1082\",\n      \"open\": \"656.7490\",\n      \"high\": \"663.9715\",\n      \"low\": \"633.1747\",\n      \"close\": \"641.3635\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-10-12T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"186296657.7964\",\n      \"open\": \"630.6505\",\n      \"high\": \"678.1253\",\n      \"low\": \"630.6505\",\n      \"close\": \"658.0346\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-10-11T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"176371377.8573\",\n      \"open\": \"562.7888\",\n      \"high\": \"640.3054\",\n      \"low\": \"559.1408\",\n      \"close\": \"632.0558\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-10-10T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"185896452.2158\",\n      \"open\": \"569.5275\",\n      \"high\": \"592.8570\",\n      \"low\": \"537.1981\",\n      \"close\": \"561.9684\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-10-09T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"164146494.3527\",\n      \"open\": \"606.7330\",\n      \"high\": \"616.8489\",\n      \"low\": \"567.4254\",\n      \"close\": \"570.9350\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-10-08T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"200139414.1627\",\n      \"open\": \"609.8615\",\n      \"high\": \"640.3844\",\n      \"low\": \"608.7464\",\n      \"close\": \"609.3561\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-10-07T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"285209457.9213\",\n      \"open\": \"635.1475\",\n      \"high\": \"672.6957\",\n      \"low\": \"611.3202\",\n      \"close\": \"616.1520\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-10-06T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"145846223.2421\",\n      \"open\": \"567.0094\",\n      \"high\": \"626.6634\",\n      \"low\": \"548.5819\",\n      \"close\": \"626.6634\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-10-05T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"142658111.1459\",\n      \"open\": \"585.0339\",\n      \"high\": \"598.9745\",\n      \"low\": \"555.1335\",\n      \"close\": \"568.3537\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-10-04T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"205411415.5531\",\n      \"open\": \"497.2737\",\n      \"high\": \"581.3756\",\n      \"low\": \"487.9738\",\n      \"close\": \"581.3756\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-10-03T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"177788903.4879\",\n      \"open\": \"521.0041\",\n      \"high\": \"544.1059\",\n      \"low\": \"474.3520\",\n      \"close\": \"496.3113\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-10-02T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"250318546.3255\",\n      \"open\": \"539.8609\",\n      \"high\": \"575.0649\",\n      \"low\": \"497.8612\",\n      \"close\": \"519.0792\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-10-01T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"287395843.0229\",\n      \"open\": \"578.2230\",\n      \"high\": \"615.5938\",\n      \"low\": \"520.8535\",\n      \"close\": \"542.9004\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-09-30T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"222479232.0489\",\n      \"open\": \"561.7717\",\n      \"high\": \"602.7551\",\n      \"low\": \"540.8046\",\n      \"close\": \"570.0376\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-09-29T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"173061386.1999\",\n      \"open\": \"536.5400\",\n      \"high\": \"582.4303\",\n      \"low\": \"526.0965\",\n      \"close\": \"557.9877\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-09-28T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"105921502.2185\",\n      \"open\": \"548.7747\",\n      \"high\": \"548.7970\",\n      \"low\": \"521.3152\",\n      \"close\": \"528.9100\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-09-27T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"172838104.0080\",\n      \"open\": \"528.1896\",\n      \"high\": \"559.4017\",\n      \"low\": \"521.9207\",\n      \"close\": \"549.9010\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-09-26T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"230649106.9184\",\n      \"open\": \"552.8979\",\n      \"high\": \"567.3565\",\n      \"low\": \"505.3764\",\n      \"close\": \"526.8980\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-09-25T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"172714553.8271\",\n      \"open\": \"550.1711\",\n      \"high\": \"576.7502\",\n      \"low\": \"537.4941\",\n      \"close\": \"549.8750\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-09-24T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"261060585.1630\",\n      \"open\": \"540.6019\",\n      \"high\": \"593.1517\",\n      \"low\": \"521.8925\",\n      \"close\": \"548.4799\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-09-23T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"353931783.4215\",\n      \"open\": \"471.5225\",\n      \"high\": \"575.9641\",\n      \"low\": \"463.2443\",\n      \"close\": \"543.9401\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-09-22T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"172986401.0152\",\n      \"open\": \"468.5076\",\n      \"high\": \"479.8132\",\n      \"low\": \"449.8786\",\n      \"close\": \"471.3689\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-09-21T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"172242917.3364\",\n      \"open\": \"407.8598\",\n      \"high\": \"469.7691\",\n      \"low\": \"394.6742\",\n      \"close\": \"468.8173\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-09-20T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"182770144.5790\",\n      \"open\": \"373.9969\",\n      \"high\": \"425.8672\",\n      \"low\": \"372.1617\",\n      \"close\": \"408.4227\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-09-19T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"168377772.3726\",\n      \"open\": \"336.0786\",\n      \"high\": \"383.2394\",\n      \"low\": \"336.0786\",\n      \"close\": \"373.9770\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-09-18T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"107521043.1496\",\n      \"open\": \"324.3661\",\n      \"high\": \"338.5967\",\n      \"low\": \"307.1284\",\n      \"close\": \"336.2447\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-09-17T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"108647365.6056\",\n      \"open\": \"288.4742\",\n      \"high\": \"329.0594\",\n      \"low\": \"283.5901\",\n      \"close\": \"321.2250\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-09-16T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"85327848.5506\",\n      \"open\": \"303.7923\",\n      \"high\": \"308.0000\",\n      \"low\": \"283.9831\",\n      \"close\": \"288.6311\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-09-15T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"63635075.8994\",\n      \"open\": \"327.2423\",\n      \"high\": \"334.3541\",\n      \"low\": \"304.0137\",\n      \"close\": \"304.0137\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-09-14T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"66053987.0131\",\n      \"open\": \"320.3964\",\n      \"high\": \"329.4419\",\n      \"low\": \"311.7044\",\n      \"close\": \"329.4419\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-09-13T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"77421946.5745\",\n      \"open\": \"293.4251\",\n      \"high\": \"319.7699\",\n      \"low\": \"285.9324\",\n      \"close\": \"318.9654\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-09-12T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"63089049.0511\",\n      \"open\": \"284.5268\",\n      \"high\": \"296.6843\",\n      \"low\": \"281.0181\",\n      \"close\": \"293.7334\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-09-11T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"76689041.1144\",\n      \"open\": \"287.4542\",\n      \"high\": \"290.5133\",\n      \"low\": \"273.8692\",\n      \"close\": \"284.0714\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-09-10T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"58802807.0983\",\n      \"open\": \"276.8024\",\n      \"high\": \"293.0435\",\n      \"low\": \"273.7872\",\n      \"close\": \"288.9257\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-09-09T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"75582906.4611\",\n      \"open\": \"245.8382\",\n      \"high\": \"282.7391\",\n      \"low\": \"245.8382\",\n      \"close\": \"278.6398\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-09-08T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"47795692.1230\",\n      \"open\": \"234.9435\",\n      \"high\": \"253.1956\",\n      \"low\": \"234.5243\",\n      \"close\": \"247.2062\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-09-07T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"53946582.5234\",\n      \"open\": \"231.3999\",\n      \"high\": \"246.0659\",\n      \"low\": \"231.3999\",\n      \"close\": \"234.4014\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-09-06T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"77617526.2426\",\n      \"open\": \"237.7897\",\n      \"high\": \"248.5832\",\n      \"low\": \"222.3292\",\n      \"close\": \"231.5422\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-09-05T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"54370240.0415\",\n      \"open\": \"255.6443\",\n      \"high\": \"258.1567\",\n      \"low\": \"236.9854\",\n      \"close\": \"237.7891\"\n    },\n    {\n      \"period\": \"1d\",\n      \"timestamp\": \"2024-09-04T00:00:00Z\",\n      \"asset\": \"TAO\",\n      \"volume_24h\": \"68286117.0065\",\n      \"open\": \"248.1878\",\n      \"high\": \"266.4559\",\n      \"low\": \"244.2346\",\n      \"close\": \"256.1314\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"pagination":{"type":"object","properties":{"current_page":{"type":"integer","example":1,"default":0},"per_page":{"type":"integer","example":50,"default":0},"total_items":{"type":"integer","example":851,"default":0},"total_pages":{"type":"integer","example":18,"default":0},"next_page":{"type":"integer","example":2,"default":0},"prev_page":{}}},"data":{"type":"array","items":{"type":"object","properties":{"period":{"type":"string","example":"1d"},"timestamp":{"type":"string","example":"2024-10-23T00:00:00Z"},"asset":{"type":"string","example":"TAO"},"volume_24h":{"type":"string","example":"109342484.1156"},"open":{"type":"string","example":"542.8411"},"high":{"type":"string","example":"547.0797"},"low":{"type":"string","example":"524.2589"},"close":{"type":"string","example":"525.2484"}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/account/latest/v1":{"get":{"summary":"Get Account","description":"Gives most recent coldkey balance (from the database)","operationId":"get-account","parameters":[{"name":"address","in":"query","description":"Address String to query.","schema":{"type":"string"}},{"name":"network","in":"query","schema":{"type":"string","enum":["finney","nakamoto","kusanagi"],"default":"Finney"}},{"name":"balance_free_min","in":"query","description":"in rao","schema":{"type":"string"}},{"name":"balance_free_max","in":"query","description":"in rao","schema":{"type":"string"}},{"name":"balance_staked_min","in":"query","description":"in rao","schema":{"type":"string"}},{"name":"balance_staked_max","in":"query","description":"in rao","schema":{"type":"string"}},{"name":"balance_total_min","in":"query","description":"in rao","schema":{"type":"string"}},{"name":"balance_total_max","in":"query","description":"in rao","schema":{"type":"string"}},{"name":"order","in":"query","schema":{"type":"string","enum":["balance_free_asc","balance_free_desc","balance_staked_asc","balance_staked_desc","balance_total_asc","balance_total_desc"]}},{"name":"page","in":"query","description":"Page of entries to retrieve.","schema":{"type":"integer","format":"int32","default":1}},{"name":"limit","in":"query","description":"Number of entries to return. Max value is 200.","schema":{"type":"integer","format":"int32","default":50}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"pagination\": {\n    \"current_page\": 1,\n    \"per_page\": 50,\n    \"total_items\": 149860,\n    \"total_pages\": 2998,\n    \"next_page\": 2,\n    \"prev_page\": null\n  },\n  \"data\": [\n    {\n      \"address\": {\n        \"ss58\": \"5GBnPzvPghS8AuCoo6bfnK7JUFHuyUhWSFD4woBNsKnPiEUi\",\n        \"hex\": \"0xb656ef6d8fa3ae7a7800906b6ea83a7c1320041290002c3ae7b1e4c68b1e4a67\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 1,\n      \"balance_free\": \"705116995301413\",\n      \"balance_staked\": \"0\",\n      \"balance_total\": \"705116995301413\",\n      \"created_on_date\": \"2024-04-09\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5C59JBL8eYacZPeDA5LYCjTd7BKNHE44hG8hsE9DmkFwefMR\",\n        \"hex\": \"0x0055a35aba61dfc8dd56c131302e98230bfdc2191c67bd300e651adaf44b4e20\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 2,\n      \"balance_free\": \"3156761289\",\n      \"balance_staked\": \"261949750085340\",\n      \"balance_total\": \"261952906846629\",\n      \"created_on_date\": \"2023-04-24\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5FRqwexkxqXLg4frDhGKM6rCw2y32JWojQ6JV6zBgzhnhq7r\",\n        \"hex\": \"0x94d412dc09782a38b2dd3fef97b96b8245b1b96843559fe89592c88ed3bb6531\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 3,\n      \"balance_free\": \"157404406030\",\n      \"balance_staked\": \"204098497939543\",\n      \"balance_total\": \"204255902345573\",\n      \"created_on_date\": \"2023-02-04\",\n      \"created_on_network\": \"nakamoto\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HiveMEoWPmQmBAb8v63bKPcFhgTGCmST1TVZNvPHSTKFLCv\",\n        \"hex\": \"0xfa538a1f58eb874d88632a329bc3e6423be5f7da88c1133e4b4d5ed1f3f1ce05\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 4,\n      \"balance_free\": \"49998800000\",\n      \"balance_staked\": \"167027505124028\",\n      \"balance_total\": \"167077503924028\",\n      \"created_on_date\": \"2022-10-30\",\n      \"created_on_network\": \"nakamoto\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5EU92KqB1wwvkHonEzZktPRt7FxkUxPa9vY5kgNtJSCr39hs\",\n        \"hex\": \"0x6a57d4453c26629b4105379402cb7d5c9224f50576a1c5c1611b8acd26f9e168\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 5,\n      \"balance_free\": \"119766909899\",\n      \"balance_staked\": \"152917037084823\",\n      \"balance_total\": \"153036803994722\",\n      \"created_on_date\": \"2023-11-25\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5FqBL928choLPmeFz5UVAvonBD5k7K2mZSXVC9RkFzLxoy2s\",\n        \"hex\": \"0xa69ffb8d15b780999fc0ae940aabf71073498ab19a1561a4c4b473ebbe8a336a\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 6,\n      \"balance_free\": \"128740329431329\",\n      \"balance_staked\": \"0\",\n      \"balance_total\": \"128740329431329\",\n      \"created_on_date\": \"2023-03-02\",\n      \"created_on_network\": \"nakamoto\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5Cpg8kw41wfBhs6L3weZhAPq5f2648yyqRUGXt2ePFU2WRdg\",\n        \"hex\": \"0x2188ffbfdfc7b9846427e1e2d69fbc4a5274dae7cdb5edaec6f064bec7e382e9\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 7,\n      \"balance_free\": \"124765284186149\",\n      \"balance_staked\": \"0\",\n      \"balance_total\": \"124765284186149\",\n      \"created_on_date\": \"2024-09-30\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5EaBdmkhnzamcWTHBmNyFqB4JJtG4AMg2yYteDMrmFVw1S7o\",\n        \"hex\": \"0x6ef4176eee0a17e68b4f32242af30adae6afecfa6122a090c0d1c91ad948964f\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 8,\n      \"balance_free\": \"74902702880\",\n      \"balance_staked\": \"93214271416104\",\n      \"balance_total\": \"93289174118984\",\n      \"created_on_date\": \"2023-02-28\",\n      \"created_on_network\": \"nakamoto\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HbDZ6ULuwZegAMSPaS2kaUfBLMDaht5t48RcDrQATSgGCAR\",\n        \"hex\": \"0xf4727f994265ec96f5cfc2222ee6aac87025293a794c9160ef176817e98a676c\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 9,\n      \"balance_free\": \"90349498598342\",\n      \"balance_staked\": \"0\",\n      \"balance_total\": \"90349498598342\",\n      \"created_on_date\": \"2023-03-30\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5E2b2DcMd5W8MBhzTCFt63t2ZEN8RsRgL7oDd7BFYL9aMQux\",\n        \"hex\": \"0x56daf75bd0f09c11d798263bc79baeb77c4b4af1dbd372bbe532b1f8702b2a7e\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 10,\n      \"balance_free\": \"89802199320293\",\n      \"balance_staked\": \"0\",\n      \"balance_total\": \"89802199320293\",\n      \"created_on_date\": \"2024-06-20\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5FZ3kzkS3tC1DfY3f4k6TY9Jd8cPVTAJpxDWEo5sYo6a3pBa\",\n        \"hex\": \"0x9a5291870097ef2f8eb6f2f30501f9ffc7335ecd4bdd411b8cca5cb0d44d6020\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 11,\n      \"balance_free\": \"65395588061\",\n      \"balance_staked\": \"75663972292425\",\n      \"balance_total\": \"75729367880486\",\n      \"created_on_date\": \"2023-04-18\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HBtpwxuGNL1gwzwomwR7sjwUt8WXYSuWcLYN6f9KpTZkP4k\",\n        \"hex\": \"0xe2a8d08674697d6ee2ccec36f0e207653788275b619392256e509be04d32950d\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 12,\n      \"balance_free\": \"278206181404\",\n      \"balance_staked\": \"66908985420897\",\n      \"balance_total\": \"67187191602301\",\n      \"created_on_date\": \"2024-07-15\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": {\n        \"old_coldkey\": {\n          \"ss58\": \"5Ccmf1dJKzGtXX7h17eN72MVMRsFwvYjPVmkXPUaapczECf6\",\n          \"hex\": \"0x1874a43d7c6d888f9eda3d22a3a49704e3cadb240eb80652ef58ffaf4857fa44\"\n        },\n        \"new_coldkey\": {\n          \"ss58\": \"5HBtpwxuGNL1gwzwomwR7sjwUt8WXYSuWcLYN6f9KpTZkP4k\",\n          \"hex\": \"0xe2a8d08674697d6ee2ccec36f0e207653788275b619392256e509be04d32950d\"\n        },\n        \"network\": \"finney\",\n        \"block_number\": 3393686,\n        \"timestamp\": \"2024-07-15T22:01:36.001Z\"\n      }\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5EFmtbmZ45HMRbrZpppoB1kzArMfNwBYN3KWNguq6jXtmLC3\",\n        \"hex\": \"0x60e9be606b84aabddf41d6206269bf3dbe5b10ab1af3bbd206caa622be437b21\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 13,\n      \"balance_free\": \"48999661498\",\n      \"balance_staked\": \"62107897428069\",\n      \"balance_total\": \"62156897089567\",\n      \"created_on_date\": \"2024-07-13\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": {\n        \"old_coldkey\": {\n          \"ss58\": \"5FP8V4zuA2g2Mn1vaCcftPMp41uSwvNX6VzzTE7gqQ5t1dAS\",\n          \"hex\": \"0x92c20583b2fc1ffbfbc1050d763579185c4a2218c73d9aa619dfbf940e139e4c\"\n        },\n        \"new_coldkey\": {\n          \"ss58\": \"5EFmtbmZ45HMRbrZpppoB1kzArMfNwBYN3KWNguq6jXtmLC3\",\n          \"hex\": \"0x60e9be606b84aabddf41d6206269bf3dbe5b10ab1af3bbd206caa622be437b21\"\n        },\n        \"network\": \"finney\",\n        \"block_number\": 3374016,\n        \"timestamp\": \"2024-07-13T02:25:00Z\"\n      }\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5Ff6fufSvpRKdDZaVMhtZyBGRD7PeFxKpahsjZaRYuQSmiWd\",\n        \"hex\": \"0x9eefd831795326f09135291a864627e288f0ac472639b58e366632b0822d2f2e\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 14,\n      \"balance_free\": \"20454499970\",\n      \"balance_staked\": \"60424434525583\",\n      \"balance_total\": \"60444889025553\",\n      \"created_on_date\": \"2023-12-19\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5FsWP1GxpzT11xyFBojKpE75pzp54ESDA6BYbRMPJ2nsCZE5\",\n        \"hex\": \"0xa8669978e6f75c3e52c1a89f810693ee9a64ff886a99b333e5c07ef990b05ca3\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 15,\n      \"balance_free\": \"58923177067863\",\n      \"balance_staked\": \"0\",\n      \"balance_total\": \"58923177067863\",\n      \"created_on_date\": \"2023-09-06\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5DyMLUKuc6T3QFAXKd3w6dTcxmcH1WBZ1gDrRwJAnPf7N28w\",\n        \"hex\": \"0x546329490cb14895d40150b0b0da6dbbbff19cd36eaa8d12a37f21f842fb1153\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 16,\n      \"balance_free\": \"375717992\",\n      \"balance_staked\": \"57748746850179\",\n      \"balance_total\": \"57749122568171\",\n      \"created_on_date\": \"2022-12-15\",\n      \"created_on_network\": \"nakamoto\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5EprSTPWJByh3GBKwkMz2TnbSapgbkRM6UUDkGcwx1gVg4bn\",\n        \"hex\": \"0x7a2427f542d6a923c70a1544d6c8cbbe1a4e4eaa17162989888ffca35979b15b\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 17,\n      \"balance_free\": \"12331953\",\n      \"balance_staked\": \"57740715981299\",\n      \"balance_total\": \"57740728313252\",\n      \"created_on_date\": \"2021-11-03\",\n      \"created_on_network\": \"nakamoto\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5Givi3F7PEh7Kn2j84vwVEhzx4zXZj1r8XaM4xaQsTt57LbX\",\n        \"hex\": \"0xce17852e6a1e3ab4eae2fd60a2886ab9453e53c14b057e0147e49db1716daf01\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 18,\n      \"balance_free\": \"75489984619\",\n      \"balance_staked\": \"56474458387034\",\n      \"balance_total\": \"56549948371653\",\n      \"created_on_date\": \"2024-03-26\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5FtD2tAByR3GfDe6F6mPkq9pB93Mp42AP3Y7DEfozScXAE11\",\n        \"hex\": \"0xa8ef732bf3421519333bfc0394604477403e2cabd874d1687612805f65a53813\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 19,\n      \"balance_free\": \"56130047506882\",\n      \"balance_staked\": \"0\",\n      \"balance_total\": \"56130047506882\",\n      \"created_on_date\": \"2024-10-24\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5C5FQQSfuxgJc5sHjjAL9RKAzR98qqCV2YN5xAm2wVf1ctGR\",\n        \"hex\": \"0x006a327fd8209758351b989bc48825c945360dcc1d7ac279976cd445d9027d03\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 20,\n      \"balance_free\": \"53646374334396\",\n      \"balance_staked\": \"0\",\n      \"balance_total\": \"53646374334396\",\n      \"created_on_date\": \"2024-07-12\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5GP7fVa4tyiXkBpoxquJ2Hua19nvcqTE7FpyNNdpgBp741qk\",\n        \"hex\": \"0xbefb7e61be623854b7a0491b50334316b456ba01b943b9ca1b76400ec7d0ed3a\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 21,\n      \"balance_free\": \"1000\",\n      \"balance_staked\": \"43643579908570\",\n      \"balance_total\": \"43643579909570\",\n      \"created_on_date\": \"2024-07-13\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": {\n        \"old_coldkey\": {\n          \"ss58\": \"5CQ2X83y5HijGX5h2HaA3ecYZo4nRXxS2XgN8TgLwkEUkXvW\",\n          \"hex\": \"0x0ebc7ce854967807b30b88efb4e27fdf463d7e4dfea1608d27dc18a736a8263b\"\n        },\n        \"new_coldkey\": {\n          \"ss58\": \"5GP7fVa4tyiXkBpoxquJ2Hua19nvcqTE7FpyNNdpgBp741qk\",\n          \"hex\": \"0xbefb7e61be623854b7a0491b50334316b456ba01b943b9ca1b76400ec7d0ed3a\"\n        },\n        \"network\": \"finney\",\n        \"block_number\": 3373553,\n        \"timestamp\": \"2024-07-13T00:42:48.001Z\"\n      }\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5Ext1B4v7mJAsxQrHmMxU1oQxbTnXkg4j6h5wGHHZCYNwULC\",\n        \"hex\": \"0x80436275057d21c9786a129cf8be93f11530ef8c8a89d44add62db092c16a76e\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 22,\n      \"balance_free\": \"500\",\n      \"balance_staked\": \"43514802352204\",\n      \"balance_total\": \"43514802352704\",\n      \"created_on_date\": \"2024-07-13\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": {\n        \"old_coldkey\": {\n          \"ss58\": \"5EA1W6o97C6G8uhawC5MxHrYtiE7bTSsrA9Rg2uRbb4eWUF8\",\n          \"hex\": \"0x5c8417f41f1602a9bfd961dbe3a866efce3d5e28c126db9f82b429f2b0219e4d\"\n        },\n        \"new_coldkey\": {\n          \"ss58\": \"5Ext1B4v7mJAsxQrHmMxU1oQxbTnXkg4j6h5wGHHZCYNwULC\",\n          \"hex\": \"0x80436275057d21c9786a129cf8be93f11530ef8c8a89d44add62db092c16a76e\"\n        },\n        \"network\": \"finney\",\n        \"block_number\": 3373593,\n        \"timestamp\": \"2024-07-13T00:51:12Z\"\n      }\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5Gp6mLi4sCkyKicB7hJbkCZ53oJvWqdgQ7AqBykmWKTx7Ry1\",\n        \"hex\": \"0xd2099a1358f5d6fc5537c5fa1506acfcf70beff693aa8df2ff708c00dd7d0269\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 23,\n      \"balance_free\": \"500\",\n      \"balance_staked\": \"41521664987450\",\n      \"balance_total\": \"41521664987950\",\n      \"created_on_date\": \"2023-01-23\",\n      \"created_on_network\": \"nakamoto\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5GFBZdnVVA8yhzYVLzvZ1CyRrSkB32VGaDKBk8o8u7MwziQQ\",\n        \"hex\": \"0xb8eea7d71f0f601470ad81829c8debb7753b39b73655a1ea2e437fa044fd1121\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 24,\n      \"balance_free\": \"334894740\",\n      \"balance_staked\": \"40253156295351\",\n      \"balance_total\": \"40253491190091\",\n      \"created_on_date\": \"2021-11-02\",\n      \"created_on_network\": \"nakamoto\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5DvvBNf2Z2gRLNVhH19NW7Db3d8fC5jd75ib4D37X79KDNC2\",\n        \"hex\": \"0x5287fc24514674502209934889f01ac9aca4b49042f2402955c27ea5816ab24c\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 25,\n      \"balance_free\": \"27914422\",\n      \"balance_staked\": \"39366799004729\",\n      \"balance_total\": \"39366826919151\",\n      \"created_on_date\": \"2023-08-20\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5FVm4Y9GY45BQxGmxS3cwn7vbfi8CDcFVpgskVnxsXt5hvmF\",\n        \"hex\": \"0x97d09f8cbc580e7de0f1faac6e86bd29cc35e3961a823af3999c09e5302df625\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 26,\n      \"balance_free\": \"7642607055\",\n      \"balance_staked\": \"39196506006604\",\n      \"balance_total\": \"39204148613659\",\n      \"created_on_date\": \"2024-02-16\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5Co8mXnu5xXG3wi52zVeoprrZnW5D4p92axRaYCmHWksHSHp\",\n        \"hex\": \"0x205c2a94c3bd314c937b235c6954de3a932208d9261eac57a7ee4e3c8b212131\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 27,\n      \"balance_free\": \"500\",\n      \"balance_staked\": \"38086598735827\",\n      \"balance_total\": \"38086598736327\",\n      \"created_on_date\": \"2024-07-15\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": {\n        \"old_coldkey\": {\n          \"ss58\": \"5CfvfoLvkpRuJ77zpgmE7ooPWEHVWvyZvBxV9ncDuCmwLWEd\",\n          \"hex\": \"0x1adcb860ba4f0ac5cca024956042016cc282f9d935a41fba39e65afaef3e1621\"\n        },\n        \"new_coldkey\": {\n          \"ss58\": \"5Co8mXnu5xXG3wi52zVeoprrZnW5D4p92axRaYCmHWksHSHp\",\n          \"hex\": \"0x205c2a94c3bd314c937b235c6954de3a932208d9261eac57a7ee4e3c8b212131\"\n        },\n        \"network\": \"finney\",\n        \"block_number\": 3387830,\n        \"timestamp\": \"2024-07-15T02:24:24.003Z\"\n      }\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5Gn9nv7Le5XYitfP86bdDuc92fUtcPGQtDM6vCcZur4fwUpy\",\n        \"hex\": \"0xd08d4d296645d89cd18039085fdc6e9aced898653b188fb88b8d001a06a0f91c\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 28,\n      \"balance_free\": \"9893780\",\n      \"balance_staked\": \"36913392444160\",\n      \"balance_total\": \"36913402337940\",\n      \"created_on_date\": \"2024-07-13\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": {\n        \"old_coldkey\": {\n          \"ss58\": \"5ES7RB2Qm45CwMNDZkTvfF2LxXPRtjzAdwHafrocftsTt1xy\",\n          \"hex\": \"0x68cbee8f304e12c666b10c29baf749f7e5d675d6cc24a106e3e4922aedb55d02\"\n        },\n        \"new_coldkey\": {\n          \"ss58\": \"5Gn9nv7Le5XYitfP86bdDuc92fUtcPGQtDM6vCcZur4fwUpy\",\n          \"hex\": \"0xd08d4d296645d89cd18039085fdc6e9aced898653b188fb88b8d001a06a0f91c\"\n        },\n        \"network\": \"finney\",\n        \"block_number\": 3373638,\n        \"timestamp\": \"2024-07-13T01:01:00.001Z\"\n      }\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5D7ZghXBKPu72KsE7cjKmsboCd2geZuxyYDXVJ8AcGMpJWup\",\n        \"hex\": \"0x2e6a75ed2bc2d6f096ced7e7c89d34560834318ae982de76e54c7ee4f65c126d\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 29,\n      \"balance_free\": \"1000\",\n      \"balance_staked\": \"36204054902267\",\n      \"balance_total\": \"36204054903267\",\n      \"created_on_date\": \"2024-07-13\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": {\n        \"old_coldkey\": {\n          \"ss58\": \"5DX7xyBVnL7WAsnozRSJYsSxPEftEhiB5F9Uwm2BDspx2XzT\",\n          \"hex\": \"0x4061c557006bbaebead436ac0771162de8c9f2397e4d5ca4f498645135520142\"\n        },\n        \"new_coldkey\": {\n          \"ss58\": \"5D7ZghXBKPu72KsE7cjKmsboCd2geZuxyYDXVJ8AcGMpJWup\",\n          \"hex\": \"0x2e6a75ed2bc2d6f096ced7e7c89d34560834318ae982de76e54c7ee4f65c126d\"\n        },\n        \"network\": \"finney\",\n        \"block_number\": 3373930,\n        \"timestamp\": \"2024-07-13T02:06:00.004Z\"\n      }\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5GEAb9K1PMCQgzJpdLGAWSCKxS3EDKAFUeopbWnGt6ZRJ7Cn\",\n        \"hex\": \"0xb82821aa7e65e4ad0a6fa1f28f7288f7ec7f591c62bb631e25ac43aa21475c39\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 30,\n      \"balance_free\": \"1011722000\",\n      \"balance_staked\": \"36151715402432\",\n      \"balance_total\": \"36152727124432\",\n      \"created_on_date\": \"2024-07-13\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": {\n        \"old_coldkey\": {\n          \"ss58\": \"5Gpbq4osa54zba3ku4Tz2FY8tB9v5xQfmYos9pLEJwKXVGoA\",\n          \"hex\": \"0xd26b70d8c6c280d4f4f62129c58e3b9e561a69d10b3949dbb412e3bd2f53fc3c\"\n        },\n        \"new_coldkey\": {\n          \"ss58\": \"5GEAb9K1PMCQgzJpdLGAWSCKxS3EDKAFUeopbWnGt6ZRJ7Cn\",\n          \"hex\": \"0xb82821aa7e65e4ad0a6fa1f28f7288f7ec7f591c62bb631e25ac43aa21475c39\"\n        },\n        \"network\": \"finney\",\n        \"block_number\": 3373777,\n        \"timestamp\": \"2024-07-13T01:31:48Z\"\n      }\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5DUtsod2tHLhYpbZXZMzJBrrpBMxPSLCtRqsHAtA1iz5KWBo\",\n        \"hex\": \"0x3eaf37e80cc546972a1f1f714d28fec6b755d2d58867829ec7afe06c3f698e75\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 31,\n      \"balance_free\": \"378234357\",\n      \"balance_staked\": \"35963351207860\",\n      \"balance_total\": \"35963729442217\",\n      \"created_on_date\": \"2022-02-22\",\n      \"created_on_network\": \"nakamoto\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5EcSjbTxv49sPf53Xroemp7VRb6m4eaXvLcxAk4oqEj32Uot\",\n        \"hex\": \"0x70ad6a2f95234bad35db5ebc9230ebce620a1aa1dba69a7d1994ed63fa122040\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 32,\n      \"balance_free\": \"1000\",\n      \"balance_staked\": \"35766030142020\",\n      \"balance_total\": \"35766030143020\",\n      \"created_on_date\": \"2024-07-13\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": {\n        \"old_coldkey\": {\n          \"ss58\": \"5Fxu8f8SQcmVBoDYMDQG1nsgysfv7Tnh8ESdRXxLHYrhx3M6\",\n          \"hex\": \"0xac836b307dcc0781cad7ffc759ddcf70a5d37bc0a8c893be25839d4107f18422\"\n        },\n        \"new_coldkey\": {\n          \"ss58\": \"5EcSjbTxv49sPf53Xroemp7VRb6m4eaXvLcxAk4oqEj32Uot\",\n          \"hex\": \"0x70ad6a2f95234bad35db5ebc9230ebce620a1aa1dba69a7d1994ed63fa122040\"\n        },\n        \"network\": \"finney\",\n        \"block_number\": 3373919,\n        \"timestamp\": \"2024-07-13T02:03:24.003Z\"\n      }\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5F6TXcRJFbZS4cQaEN2jts8Z76GoxPQLiJ7KtTLpdu5say71\",\n        \"hex\": \"0x860af4f6b6bddabba831fc4bc41d8f9503fded2ccc1c493191e77a0036988b1e\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 33,\n      \"balance_free\": \"574010409\",\n      \"balance_staked\": \"33795246027554\",\n      \"balance_total\": \"33795820037963\",\n      \"created_on_date\": \"2024-10-30\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5CCv9tYnP59z9Z8K6yP2EGxxtnEDLQKTYnaysaoBSpJ5PnDt\",\n        \"hex\": \"0x06435bbb484f9a784166cd9c8a471d90c6da43cce1f422602e5131dcffe74b32\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 34,\n      \"balance_free\": \"1000\",\n      \"balance_staked\": \"33374925959045\",\n      \"balance_total\": \"33374925960045\",\n      \"created_on_date\": \"2023-03-20\",\n      \"created_on_network\": \"nakamoto\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5EqmFWgJ4TsuaRyxgmgJENjSVLBFpQzYMcyT37tf5jZ9oqj6\",\n        \"hex\": \"0x7ad5ef520ad6e62c51e59ff5545e25578c85131219f725e6bcc5ded881911919\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 35,\n      \"balance_free\": \"38388326\",\n      \"balance_staked\": \"31859686008739\",\n      \"balance_total\": \"31859724397065\",\n      \"created_on_date\": \"2024-07-13\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5CcH9xVPJY2Nc9Wovft6Lr2qoQzefEEJfqgVhSrXdAx2ixGr\",\n        \"hex\": \"0x1814b2e94e436794c09d1f49e71df337a7b80a2d998d00ba55d8065282793958\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 36,\n      \"balance_free\": \"500\",\n      \"balance_staked\": \"31792100486860\",\n      \"balance_total\": \"31792100487360\",\n      \"created_on_date\": \"2024-06-26\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HZAAREPzwBc4EPWWeTHA2WRcJoCgy4UBk8mwYFWR5BTCNcT\",\n        \"hex\": \"0xf2e097b38f604279f2d6c71414427e377cae8dde63cfeb52808dac94e07b7b27\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 37,\n      \"balance_free\": \"23566074\",\n      \"balance_staked\": \"31024212712568\",\n      \"balance_total\": \"31024236278642\",\n      \"created_on_date\": \"2024-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5Ggzm87NDUPM8LRYSMPCwyeC39yMDn5PxCYuCP5uxnanxz2q\",\n        \"hex\": \"0xcc9eac72596a2430b74245d60c4e0866f8b0a053f14fe3b0308bf55c9f680327\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 38,\n      \"balance_free\": \"971040481\",\n      \"balance_staked\": \"30535551623092\",\n      \"balance_total\": \"30536522663573\",\n      \"created_on_date\": \"2023-10-19\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5CVSCaCXDRydd3Mkdbu2tHLNYxmNTSpy9yRixa1TRGvgRFS8\",\n        \"hex\": \"0x12dc6df75ad35fb5b75af3aec0c99b3c4267f9463353d6d9c487c01e129aec73\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 39,\n      \"balance_free\": \"30025966669934\",\n      \"balance_staked\": \"0\",\n      \"balance_total\": \"30025966669934\",\n      \"created_on_date\": \"2024-07-23\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5CGQd7qtNakgaiyLHrroYABic3NVwaSHjqzrAxbrhJMt7h5p\",\n        \"hex\": \"0x08ecee6abf76ad16f624cc5e25fd3dcb14375bca06102f8f27d1ec5820b01b05\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 40,\n      \"balance_free\": \"29998994501761\",\n      \"balance_staked\": \"0\",\n      \"balance_total\": \"29998994501761\",\n      \"created_on_date\": \"2024-09-23\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5Dw6oJmgwg4sjGC1Q6HYVz1Bkgsg5FPX2zkZmUkD3NxCikdd\",\n        \"hex\": \"0x52abbbc4ac6b98749b64336a3dc39b20ac61210bf1c022660fe1cc667b421b54\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 41,\n      \"balance_free\": \"1071293004\",\n      \"balance_staked\": \"29993275246414\",\n      \"balance_total\": \"29994346539418\",\n      \"created_on_date\": \"2024-07-13\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": {\n        \"old_coldkey\": {\n          \"ss58\": \"5HTwrmCTuehiauv8ua7v4LsQ2mYuCP9Nt7VQYPrmNKrVhxCd\",\n          \"hex\": \"0xeee6f1fa6ca4051324551aadcb8425d039393e0652687833c83d7d7bc4c94255\"\n        },\n        \"new_coldkey\": {\n          \"ss58\": \"5Dw6oJmgwg4sjGC1Q6HYVz1Bkgsg5FPX2zkZmUkD3NxCikdd\",\n          \"hex\": \"0x52abbbc4ac6b98749b64336a3dc39b20ac61210bf1c022660fe1cc667b421b54\"\n        },\n        \"network\": \"finney\",\n        \"block_number\": 3373830,\n        \"timestamp\": \"2024-07-13T01:43:36.006Z\"\n      }\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5EFZf5pnTqLegv6gxCrb6TKBQBGz9xLJNK8x9eR273cSons6\",\n        \"hex\": \"0x60c090469e53e1ab94da016f925975da9dd7a6792da414c29a16e63502fd777e\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 42,\n      \"balance_free\": \"199270983\",\n      \"balance_staked\": \"28227642320484\",\n      \"balance_total\": \"28227841591467\",\n      \"created_on_date\": \"2024-07-13\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5FBuWZxvRRfgEK3XU4sXrFQoavWT1Xo5R5nrejgiNuv4u9Ac\",\n        \"hex\": \"0x8a32a5b00710b7f4192421d67f83e37f8b653ae6c251e7e1e48f7b53616f0251\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 43,\n      \"balance_free\": \"1000\",\n      \"balance_staked\": \"28111282945682\",\n      \"balance_total\": \"28111282946682\",\n      \"created_on_date\": \"2024-06-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5CRqdHnep9skeZDfE7aiSheHCM8XY9Z3u9BGgGezK1dJ3QSV\",\n        \"hex\": \"0x101e4eb253339fe65b67ec20a3ad9987ababcff4363a7a43b1939bf9bd5cdc1b\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 44,\n      \"balance_free\": \"10000000\",\n      \"balance_staked\": \"27438265533643\",\n      \"balance_total\": \"27438275533643\",\n      \"created_on_date\": \"2023-04-20\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5FS3tiGfwi2g8YhCHC2cpvJ4YyBWgXX2sjvFRk9e53PYpvaU\",\n        \"hex\": \"0x94fc4c6812fe1fd906b6b5d4230b23907283a49d591ab48b040be553c4ad4400\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 45,\n      \"balance_free\": \"15104018579\",\n      \"balance_staked\": \"27072748981179\",\n      \"balance_total\": \"27087852999758\",\n      \"created_on_date\": \"2022-02-20\",\n      \"created_on_network\": \"nakamoto\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5H43VoQJyoiu5M23DYkKYxE7LHJqZuzLXD59k3FV4rUC4LLw\",\n        \"hex\": \"0xdcac0964eb58247371d17f871df9aa849a80317247d356ce699055eeea2fd060\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 46,\n      \"balance_free\": \"1000\",\n      \"balance_staked\": \"26601988843279\",\n      \"balance_total\": \"26601988844279\",\n      \"created_on_date\": \"2023-03-20\",\n      \"created_on_network\": \"nakamoto\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5Dm18JeotxKVhL39TR4DTQe7LmziWsWKkCgc7aXDBQPWkH4v\",\n        \"hex\": \"0x4af82f2bb1606f863906255ad11c42456ccac36dd1515d1198d53b7c1cae1602\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 47,\n      \"balance_free\": \"21971042280\",\n      \"balance_staked\": \"26406463947442\",\n      \"balance_total\": \"26428434989722\",\n      \"created_on_date\": \"2023-12-14\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5Hj8rEh3YeApCUV5w1k9NeqpVCwvJumpxDRcAqnYXrraDJ7u\",\n        \"hex\": \"0xfa7ca0044c29fd93d3d403b61f2245e9884de5acdad942e59c57304b77ac1035\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 48,\n      \"balance_free\": \"1000\",\n      \"balance_staked\": \"25819405001703\",\n      \"balance_total\": \"25819405002703\",\n      \"created_on_date\": \"2024-07-15\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": {\n        \"old_coldkey\": {\n          \"ss58\": \"5HTGE7E7JifefA35PUdtE2VkJyZrT2yMs3wWL8mn63vNnZcg\",\n          \"hex\": \"0xee618837a819c78bb892aa16749df7c3ec6e67bfd4df45d04130a1fb758ff906\"\n        },\n        \"new_coldkey\": {\n          \"ss58\": \"5Hj8rEh3YeApCUV5w1k9NeqpVCwvJumpxDRcAqnYXrraDJ7u\",\n          \"hex\": \"0xfa7ca0044c29fd93d3d403b61f2245e9884de5acdad942e59c57304b77ac1035\"\n        },\n        \"network\": \"finney\",\n        \"block_number\": 3387409,\n        \"timestamp\": \"2024-07-15T00:59:24.001Z\"\n      }\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5G6XXKA1VYNQUYENJYjPvAzpms5p2m1kBZAtz7w5m9M1Wztn\",\n        \"hex\": \"0xb254a3657e827e67e788804d19482373d03a4288461149a6dd53acdf88189f18\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 49,\n      \"balance_free\": \"31412033379\",\n      \"balance_staked\": \"25731605690832\",\n      \"balance_total\": \"25763017724211\",\n      \"created_on_date\": \"2024-02-29\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5D8HDxyoV7kYoYoQAZmiNSV78bNVZNDnqvWVTxRD7fpsi4p3\",\n        \"hex\": \"0x2ef64b2ccac302ca50b52748e18b5e6b11c33a5eecab07d52bd3d0365349055a\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4300891,\n      \"timestamp\": \"2024-11-19T16:13:36.001Z\",\n      \"rank\": 50,\n      \"balance_free\": \"90000000\",\n      \"balance_staked\": \"25592839730220\",\n      \"balance_total\": \"25592929730220\",\n      \"created_on_date\": \"2023-04-20\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"pagination":{"type":"object","properties":{"current_page":{"type":"integer","example":1,"default":0},"per_page":{"type":"integer","example":50,"default":0},"total_items":{"type":"integer","example":149860,"default":0},"total_pages":{"type":"integer","example":2998,"default":0},"next_page":{"type":"integer","example":2,"default":0},"prev_page":{}}},"data":{"type":"array","items":{"type":"object","properties":{"address":{"type":"object","properties":{"ss58":{"type":"string","example":"5GBnPzvPghS8AuCoo6bfnK7JUFHuyUhWSFD4woBNsKnPiEUi"},"hex":{"type":"string","example":"0xb656ef6d8fa3ae7a7800906b6ea83a7c1320041290002c3ae7b1e4c68b1e4a67"}}},"network":{"type":"string","example":"finney"},"block_number":{"type":"integer","example":4300891,"default":0},"timestamp":{"type":"string","example":"2024-11-19T16:13:36.001Z"},"rank":{"type":"integer","example":1,"default":0},"balance_free":{"type":"string","example":"705116995301413"},"balance_staked":{"type":"string","example":"0"},"balance_total":{"type":"string","example":"705116995301413"},"created_on_date":{"type":"string","example":"2024-04-09"},"created_on_network":{"type":"string","example":"finney"},"coldkey_swap":{}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/account/history/v1":{"get":{"summary":"Get Account History","description":"Gives most recent coldkey balance (from the database)","operationId":"get-account-history","parameters":[{"name":"address","in":"query","description":"Address String to query","required":true,"schema":{"type":"string"}},{"name":"network","in":"query","schema":{"type":"string","enum":["finney","nakamoto","kusanagi"],"default":"finney"}},{"name":"block_number","in":"query","description":"Block for data","schema":{"type":"integer","format":"int32"}},{"name":"block_start","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"block_end","in":"query","description":"Min total balance (sum of staked and free). In rao.","schema":{"type":"integer","format":"int32"}},{"name":"timestamp_start","in":"query","description":"Start of timestamp range in Unix timestamp (seconds since 1970-01-01) (inclusive)","schema":{"type":"integer","format":"int32"}},{"name":"timestamp_end","in":"query","description":"Start of timestamp range in Unix timestamp (seconds since 1970-01-01) (inclusive)","schema":{"type":"integer","format":"int32"}},{"name":"order","in":"query","schema":{"type":"string","enum":["block_number_asc","block_number_desc","timestamp_asc","timestamp_desc"]}},{"name":"page","in":"query","description":"Page of entries to retrieve.","schema":{"type":"integer","format":"int32","default":1}},{"name":"limit","in":"query","description":"Number of entries to return. Max value is 200.","schema":{"type":"integer","format":"int32","default":50}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"pagination\": {\n    \"current_page\": 1,\n    \"per_page\": 50,\n    \"total_items\": 609,\n    \"total_pages\": 13,\n    \"next_page\": 2,\n    \"prev_page\": null\n  },\n  \"data\": [\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4296025,\n      \"timestamp\": \"2024-11-18T23:59:48.004Z\",\n      \"rank\": 0,\n      \"balance_free\": \"19815039\",\n      \"balance_staked\": \"401955568581\",\n      \"balance_total\": \"401975383620\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4288859,\n      \"timestamp\": \"2024-11-17T23:59:48.004Z\",\n      \"rank\": 0,\n      \"balance_free\": \"19815039\",\n      \"balance_staked\": \"401790758547\",\n      \"balance_total\": \"401810573586\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4281682,\n      \"timestamp\": \"2024-11-16T23:59:48.001Z\",\n      \"rank\": 0,\n      \"balance_free\": \"19815039\",\n      \"balance_staked\": \"401624621454\",\n      \"balance_total\": \"401644436493\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4274556,\n      \"timestamp\": \"2024-11-15T23:59:48.007Z\",\n      \"rank\": 0,\n      \"balance_free\": \"19815039\",\n      \"balance_staked\": \"401459802636\",\n      \"balance_total\": \"401479617675\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4267372,\n      \"timestamp\": \"2024-11-14T23:59:48.002Z\",\n      \"rank\": 0,\n      \"balance_free\": \"19815039\",\n      \"balance_staked\": \"401298363743\",\n      \"balance_total\": \"401318178782\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4260197,\n      \"timestamp\": \"2024-11-13T23:59:48.004Z\",\n      \"rank\": 0,\n      \"balance_free\": \"19815039\",\n      \"balance_staked\": \"401133327528\",\n      \"balance_total\": \"401153142567\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4253072,\n      \"timestamp\": \"2024-11-12T23:59:48.003Z\",\n      \"rank\": 0,\n      \"balance_free\": \"19815039\",\n      \"balance_staked\": \"400968785610\",\n      \"balance_total\": \"400988600649\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4245879,\n      \"timestamp\": \"2024-11-11T23:59:48Z\",\n      \"rank\": 0,\n      \"balance_free\": \"19815039\",\n      \"balance_staked\": \"400803836108\",\n      \"balance_total\": \"400823651147\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4238714,\n      \"timestamp\": \"2024-11-10T23:59:48.001Z\",\n      \"rank\": 0,\n      \"balance_free\": \"19815039\",\n      \"balance_staked\": \"400642288352\",\n      \"balance_total\": \"400662103391\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4231568,\n      \"timestamp\": \"2024-11-09T23:59:48.004Z\",\n      \"rank\": 0,\n      \"balance_free\": \"19815039\",\n      \"balance_staked\": \"400482575636\",\n      \"balance_total\": \"400502390675\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4224369,\n      \"timestamp\": \"2024-11-08T23:59:48Z\",\n      \"rank\": 0,\n      \"balance_free\": \"19815039\",\n      \"balance_staked\": \"400325136609\",\n      \"balance_total\": \"400344951648\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4217185,\n      \"timestamp\": \"2024-11-07T23:59:48Z\",\n      \"rank\": 0,\n      \"balance_free\": \"19815039\",\n      \"balance_staked\": \"400165470011\",\n      \"balance_total\": \"400185285050\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4209992,\n      \"timestamp\": \"2024-11-06T23:59:48.001Z\",\n      \"rank\": 0,\n      \"balance_free\": \"19815039\",\n      \"balance_staked\": \"400000000000\",\n      \"balance_total\": \"400019815039\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4202794,\n      \"timestamp\": \"2024-11-05T23:59:48.004Z\",\n      \"rank\": 0,\n      \"balance_free\": \"29942750\",\n      \"balance_staked\": \"405886155419\",\n      \"balance_total\": \"405916098169\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4195605,\n      \"timestamp\": \"2024-11-04T23:59:48.004Z\",\n      \"rank\": 0,\n      \"balance_free\": \"29942750\",\n      \"balance_staked\": \"405691205367\",\n      \"balance_total\": \"405721148117\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4188407,\n      \"timestamp\": \"2024-11-03T23:59:48.002Z\",\n      \"rank\": 0,\n      \"balance_free\": \"29942750\",\n      \"balance_staked\": \"405691205367\",\n      \"balance_total\": \"405721148117\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4181225,\n      \"timestamp\": \"2024-11-02T23:59:48.001Z\",\n      \"rank\": 0,\n      \"balance_free\": \"29942750\",\n      \"balance_staked\": \"405524795876\",\n      \"balance_total\": \"405554738626\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4174053,\n      \"timestamp\": \"2024-11-01T23:59:48.002Z\",\n      \"rank\": 0,\n      \"balance_free\": \"29942750\",\n      \"balance_staked\": \"405361569373\",\n      \"balance_total\": \"405391512123\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4166879,\n      \"timestamp\": \"2024-10-31T23:59:48.004Z\",\n      \"rank\": 0,\n      \"balance_free\": \"29942750\",\n      \"balance_staked\": \"405194798914\",\n      \"balance_total\": \"405224741664\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4159700,\n      \"timestamp\": \"2024-10-30T23:59:48.002Z\",\n      \"rank\": 0,\n      \"balance_free\": \"29942750\",\n      \"balance_staked\": \"405032984832\",\n      \"balance_total\": \"405062927582\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4152525,\n      \"timestamp\": \"2024-10-29T23:59:48.005Z\",\n      \"rank\": 0,\n      \"balance_free\": \"29942750\",\n      \"balance_staked\": \"404870478530\",\n      \"balance_total\": \"404900421280\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4145345,\n      \"timestamp\": \"2024-10-28T23:59:48Z\",\n      \"rank\": 0,\n      \"balance_free\": \"29942750\",\n      \"balance_staked\": \"404728252108\",\n      \"balance_total\": \"404758194858\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4138193,\n      \"timestamp\": \"2024-10-27T23:59:48.004Z\",\n      \"rank\": 0,\n      \"balance_free\": \"29942750\",\n      \"balance_staked\": \"404581816202\",\n      \"balance_total\": \"404611758952\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4131001,\n      \"timestamp\": \"2024-10-26T23:59:48.002Z\",\n      \"rank\": 0,\n      \"balance_free\": \"29942750\",\n      \"balance_staked\": \"404432443020\",\n      \"balance_total\": \"404462385770\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4123817,\n      \"timestamp\": \"2024-10-25T23:59:48.002Z\",\n      \"rank\": 0,\n      \"balance_free\": \"29942750\",\n      \"balance_staked\": \"404281214629\",\n      \"balance_total\": \"404311157379\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4116669,\n      \"timestamp\": \"2024-10-24T23:59:48Z\",\n      \"rank\": 0,\n      \"balance_free\": \"29942750\",\n      \"balance_staked\": \"404127327693\",\n      \"balance_total\": \"404157270443\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4109471,\n      \"timestamp\": \"2024-10-23T23:59:48Z\",\n      \"rank\": 0,\n      \"balance_free\": \"29942750\",\n      \"balance_staked\": \"403973278162\",\n      \"balance_total\": \"404003220912\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4102273,\n      \"timestamp\": \"2024-10-22T23:59:48Z\",\n      \"rank\": 0,\n      \"balance_free\": \"29942750\",\n      \"balance_staked\": \"403819779382\",\n      \"balance_total\": \"403849722132\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4095074,\n      \"timestamp\": \"2024-10-21T23:59:48.003Z\",\n      \"rank\": 0,\n      \"balance_free\": \"29942750\",\n      \"balance_staked\": \"403667259620\",\n      \"balance_total\": \"403697202370\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4087874,\n      \"timestamp\": \"2024-10-20T23:59:48Z\",\n      \"rank\": 0,\n      \"balance_free\": \"29942750\",\n      \"balance_staked\": \"403517264203\",\n      \"balance_total\": \"403547206953\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4080697,\n      \"timestamp\": \"2024-10-19T23:59:48.001Z\",\n      \"rank\": 0,\n      \"balance_free\": \"29942750\",\n      \"balance_staked\": \"403356391050\",\n      \"balance_total\": \"403386333800\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4073500,\n      \"timestamp\": \"2024-10-18T23:59:48Z\",\n      \"rank\": 0,\n      \"balance_free\": \"29942750\",\n      \"balance_staked\": \"403192982147\",\n      \"balance_total\": \"403222924897\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4066300,\n      \"timestamp\": \"2024-10-17T23:59:48.010Z\",\n      \"rank\": 0,\n      \"balance_free\": \"29942750\",\n      \"balance_staked\": \"403024602225\",\n      \"balance_total\": \"403054544975\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4059102,\n      \"timestamp\": \"2024-10-16T23:59:48.002Z\",\n      \"rank\": 0,\n      \"balance_free\": \"29942750\",\n      \"balance_staked\": \"402852097778\",\n      \"balance_total\": \"402882040528\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4051926,\n      \"timestamp\": \"2024-10-15T23:59:48.001Z\",\n      \"rank\": 0,\n      \"balance_free\": \"29942750\",\n      \"balance_staked\": \"402682589097\",\n      \"balance_total\": \"402712531847\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4044732,\n      \"timestamp\": \"2024-10-14T23:59:48.001Z\",\n      \"rank\": 0,\n      \"balance_free\": \"29942750\",\n      \"balance_staked\": \"402511686442\",\n      \"balance_total\": \"402541629192\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4037550,\n      \"timestamp\": \"2024-10-13T23:59:48.001Z\",\n      \"rank\": 0,\n      \"balance_free\": \"29942750\",\n      \"balance_staked\": \"402338398626\",\n      \"balance_total\": \"402368341376\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4030368,\n      \"timestamp\": \"2024-10-12T23:59:48.006Z\",\n      \"rank\": 0,\n      \"balance_free\": \"29942750\",\n      \"balance_staked\": \"402170864419\",\n      \"balance_total\": \"402200807169\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4023195,\n      \"timestamp\": \"2024-10-11T23:59:48Z\",\n      \"rank\": 0,\n      \"balance_free\": \"29942750\",\n      \"balance_staked\": \"401999844936\",\n      \"balance_total\": \"402029787686\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4016006,\n      \"timestamp\": \"2024-10-10T23:59:48.003Z\",\n      \"rank\": 0,\n      \"balance_free\": \"29942750\",\n      \"balance_staked\": \"401830412940\",\n      \"balance_total\": \"401860355690\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4008811,\n      \"timestamp\": \"2024-10-09T23:59:48Z\",\n      \"rank\": 0,\n      \"balance_free\": \"29942750\",\n      \"balance_staked\": \"401664377950\",\n      \"balance_total\": \"401694320700\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 4001617,\n      \"timestamp\": \"2024-10-08T23:59:48.005Z\",\n      \"rank\": 0,\n      \"balance_free\": \"29942750\",\n      \"balance_staked\": \"401500440755\",\n      \"balance_total\": \"401530383505\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 3994418,\n      \"timestamp\": \"2024-10-07T23:59:48.002Z\",\n      \"rank\": 0,\n      \"balance_free\": \"29942750\",\n      \"balance_staked\": \"401334563288\",\n      \"balance_total\": \"401364506038\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 3987230,\n      \"timestamp\": \"2024-10-06T23:59:48.003Z\",\n      \"rank\": 0,\n      \"balance_free\": \"29942750\",\n      \"balance_staked\": \"401167416667\",\n      \"balance_total\": \"401197359417\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 3980030,\n      \"timestamp\": \"2024-10-05T23:59:48.001Z\",\n      \"rank\": 0,\n      \"balance_free\": \"29942750\",\n      \"balance_staked\": \"400999830760\",\n      \"balance_total\": \"401029773510\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 3972830,\n      \"timestamp\": \"2024-10-04T23:59:48Z\",\n      \"rank\": 0,\n      \"balance_free\": \"29942750\",\n      \"balance_staked\": \"400831288391\",\n      \"balance_total\": \"400861231141\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 3965630,\n      \"timestamp\": \"2024-10-03T23:59:48.008Z\",\n      \"rank\": 0,\n      \"balance_free\": \"29942750\",\n      \"balance_staked\": \"400663793188\",\n      \"balance_total\": \"400693735938\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 3958430,\n      \"timestamp\": \"2024-10-02T23:59:48Z\",\n      \"rank\": 0,\n      \"balance_free\": \"29942750\",\n      \"balance_staked\": \"400495907332\",\n      \"balance_total\": \"400525850082\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 3951231,\n      \"timestamp\": \"2024-10-01T23:59:48.002Z\",\n      \"rank\": 0,\n      \"balance_free\": \"29942750\",\n      \"balance_staked\": \"400328675396\",\n      \"balance_total\": \"400358618146\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    },\n    {\n      \"address\": {\n        \"ss58\": \"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS\",\n        \"hex\": \"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752\"\n      },\n      \"network\": \"finney\",\n      \"block_number\": 3944031,\n      \"timestamp\": \"2024-09-30T23:59:48.002Z\",\n      \"rank\": 0,\n      \"balance_free\": \"29942750\",\n      \"balance_staked\": \"400163251632\",\n      \"balance_total\": \"400193194382\",\n      \"created_on_date\": \"2023-03-21\",\n      \"created_on_network\": \"finney\",\n      \"coldkey_swap\": null\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"pagination":{"type":"object","properties":{"current_page":{"type":"integer","example":1,"default":0},"per_page":{"type":"integer","example":50,"default":0},"total_items":{"type":"integer","example":609,"default":0},"total_pages":{"type":"integer","example":13,"default":0},"next_page":{"type":"integer","example":2,"default":0},"prev_page":{}}},"data":{"type":"array","items":{"type":"object","properties":{"address":{"type":"object","properties":{"ss58":{"type":"string","example":"5HGtyz1mAgRMPgtubVTaJv8VBfwJ7a5KGGGDw5PX7WPPwLKS"},"hex":{"type":"string","example":"0xe67990e42259688c76faad3d2cb02dbba69ecef0c780356181eac0512de6d752"}}},"network":{"type":"string","example":"finney"},"block_number":{"type":"integer","example":4296025,"default":0},"timestamp":{"type":"string","example":"2024-11-18T23:59:48.004Z"},"rank":{"type":"integer","example":0,"default":0},"balance_free":{"type":"string","example":"19815039"},"balance_staked":{"type":"string","example":"401955568581"},"balance_total":{"type":"string","example":"401975383620"},"created_on_date":{"type":"string","example":"2023-03-21"},"created_on_network":{"type":"string","example":"finney"},"coldkey_swap":{}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/transfer/v1":{"get":{"summary":"Get Transfers","description":"","operationId":"get-transfers","parameters":[{"name":"network","in":"query","schema":{"type":"string","enum":["finney","nakamoto","kusanagi"],"default":"finney"}},{"name":"address","in":"query","description":"SS58 or hex format","schema":{"type":"string"}},{"name":"from","in":"query","description":"SS58 or hex format","schema":{"type":"string"}},{"name":"to","in":"query","description":"SS58 or hex format","schema":{"type":"string"}},{"name":"transaction_hash","in":"query","schema":{"type":"string"}},{"name":"extrinsic_id","in":"query","schema":{"type":"string"}},{"name":"amount_min","in":"query","description":"in rao","schema":{"type":"string"}},{"name":"amount_max","in":"query","description":"in rao","schema":{"type":"string"}},{"name":"block_number","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"block_start","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"block_end","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"timestamp_start","in":"query","description":"Start of timestamp range in Unix timestamp (seconds since 1970-01-01) (inclusive)","schema":{"type":"in
[...]
